include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug
include ../../common/pug/navbar-mixins.pug
include ../../common/pug/jquery-mixins.pug
include ../../common/pug/profile-mixins.pug

include ./mixins/mixins-general.pug
include ./mixins/mixins-configuration.pug
include ./mixins/mixins-preview.pug
include ./mixins/mixins-share.pug

- var examlist = params.exam
- var proctoringlist = params.proctoring
- var retakelist = params.retake
- var resubmissionlist = params.resubmission
- var allowOptions = params.allowoptionsediting

doctype html
html
  head
    title welcome letter configuration
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")    
    
    +fontawesome()
    +bootstrapstyle()

    style
      include ../../common/styles/classProfile.css      
      include ../../common/styles/navbar-overrides.css
      include ../styles/configuration.css

    
    +addJQuery()
    script(data-main="/scripts/welcomeletter/require_configuration", src="/scripts/require.js")    
      
  body
    .allowoptions(class="hide-me")= allowOptions
    
    +makeNavbar("Welcome letter", 
      {
        items: [
          {id: "navConfiguration", type: "link", label: "configuration"},
          {id: "navPreview", type: "link", label: "preview"},
          {id: "navShare", type: "link", label: "share"},
          {type: "dropdown", label: "options", items: [
            {id: "navEditOptions", type: "link", label: "edit options"},
            {id: "dividerNav1", type: "divider"},
            {id: "navHelp", type: "link", label: "help"},
            {id: "navSignout", type: "link", label: "sign out"},
          ]}
        ],
        
        buttons: [
          {id: 'navSave', label: 'save'},
          {id: 'navReload', label: 'reload'},
          {id: 'navProjectAdd', label: 'create'},
          {id: 'navProjectRemove', label: 'delete'}
        ],
        
        profile: true
      }
    )
    
  .contents
    .error-container
    
    .container-fluid(class="contents-container contents-navConfiguration hide-me")
      +configurationContainer()
    
    .container-fluid(class="contents-container contents-navPreview hide-me")
      +previewContainer()
    
    .container-fluid(class="contents-container contents-navShare hide-me")
      +shareContainer()
    
    +ASProfile("myProfile", "contents-container contents-navProfile", "hide-me")  
    
