- var coursename = params.coursename
- var linkurl = params.linktext
- var apcourse = params.ap
- var haspasswords = params.haspasswords

include mailmessage-mixins.pug

doctype html
html
  head
    title welcome letter mail message
    meta(charset="utf-8")
          
  body
    div Hello,
      br
      |Welcome to your role as a mentor for one or more students in the 
      em: strong= coursename 
      |&nbsp;course provided online by Michigan Virtual.
    
    br
    
    div
      |My name is Kevin Santer and I'm the instructor for the class. 
      |Your role is crucial in your student's success and I want to support you in any way possible. 
      |There is a lot of support information (both technical and related to this specific class) available online with the course 
      |and I encourage you to review it when you have the chance. 
      |I've also prepared this 
      +makelink(linkurl, "welcome letter")
      |&nbsp;touching on many of the important points for the course.
    
    div Here are a few things to keep in mind as we start:
      ul
        if (apcourse == 1)
          li This course has firm due dates with late penalties. All students will follow the same pacing and have the same due dates.
        else
          li You will receive routine notification of your student's progress through the course from me and through the Student Learning Portal. 
            |Please note this progress will be measured against the "typical" pacing for the course and is intended not as a grade but as 
            |a guideline to check student progress.
        
        if (haspasswords == 1)
          li At least one exam in this course is password-protected. I will send passwords to you in a separate message. 
            |Please help keep them secure by entering them for your students when exam time comes.
        else
          li This course does not have any exam passwords.
   
    div I welcome your emails, texts, or phone calls. Please contact me whenever you have questions or concerns.
    
    br
    
    +signature