include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug
include welcomeletter-mixins_v2.pug

- var coursekey = params.coursekey
- var coursename = params.coursename
- var coursekey = params.coursekey
- var coursename = params.coursename
- var apcourse = params.ap
- var keypointlist = params.keypoints

doctype html
html(lang="en")
  head
    title mentor welcome letter
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    +fontawesome()
    +bootstrapstyle()

    link(rel="stylesheet", type="text/css" href="/styles/welcomeletter/welcomeletter2.css")
      
  body(class="colorscheme")    
    .container-fluid(class="contents")
      .row
        .col-8
          .container
            .row(class="titlerow")
              col-sm
                +title('mentor')
            .row(class="border border-secondary")
              col-sm
                +keypoints("mentors", keypointlist, apcourse)
        
        .col-sm 
          +idcard
          
      .row
        .col-sm(class="overview overview-mentor")      
          include boilerplate/mentor_overview.pug
          
      .row
        .col-sm 
          .section-title general information
          include boilerplate/mentor_generalinfo.pug
          
        .col-sm
          .container
            .row
              .col-sm
                .section-title to help your student
                include boilerplate/mentor_to_help_student.pug
            .row
              .col-sm
                .section-title respone policies
                include boilerplate/mentor_response_policies.pug

      .row
        .col-sm 
          .section-title resources for mentors
          include boilerplate/mentor_resources.pug
                    
        .col-sm 
          .container
            .row
              .col-sm
                .section-title special populations
                include boilerplate/mentor_special_populations.pug
                
      .row
        .col-2
        
        .col-8(class="encouragement")
          |Please contact me anytime you have questions or concerns.  I'm eager to help!

