include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug

doctype html
html
  head
    title welcome letter options
    meta(charset="utf-8")
    
    +fontawesome()
    +bootstrapstyle()

    style
      include ../../common/styles/colorscheme.css    
      include ../../common/styles/navbar_for_bootstrap.css  
      include ../styles/classTableEditor.css      
      include ../styles/options.css
    
    script(src="/scripts/commonmark_min.js") 
    script(src="/scripts/clipboard.min.js")
    script(data-main="/scripts/welcomeletter/require_options", src="/scripts/require.js")    
      
  body(class="instructortips-colorscheme")
    .navbarcontainer
    
    .contents
