include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug
include welcomeletter-mixins_v2.pug

- var coursekey = params.coursekey
- var coursename = params.coursename
- var apcourse = params.ap
- var keypointlist = params.keypoints
- var apcourse = params.ap;

doctype html
html(lang="en")
  head
    title student welcome letter
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    +fontawesome()
    +bootstrapstyle()

    link(rel="stylesheet", type="text/css" href="/styles/welcomeletter/welcomeletter2.css")
      
  body(class="colorscheme")
    .container-fluid(class="contents")
      .row
        .col-8
          .container
            .row(class="titlerow")
              col-sm
                +title('student')

            .row(class="border border-secondary")
              col-sm
                +keypoints("students", keypointlist, apcourse)
        
        .col-sm
          +idcard
        
      .row
        .col-sm(class="overview")
          .section-title general information
          include boilerplate/student_overview.pug
        
      .row
        .col-sm 
          .section-title what I expect of you in this course
          include boilerplate/student_expect_of_you.pug
            
        .col-sm 
          .section-title what you can expect from me
          include boilerplate/student_expect_from_me.pug

      .row
        .col-2
        
        .col-8(class="encouragement")
          |Please contact me when you have questions or if you’re feeling frustrated with class. I am here to help!
