include welcomeletter-mixins.pug

- var coursekey = params.coursekey
- var coursename = params.coursename
- var coursekey = params.coursekey
- var coursename = params.coursename
- var apcourse = params.ap
- var keypointlist = params.keypoints

doctype html
html
  head
    title welcome letter
    meta(charset="utf-8")
    
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", crossorigin="anonymous")   

    link(rel="stylesheet", type="text/css" href="/styles/welcomeletter/welcomeletter.css")
      
  body(class="colorscheme")    
    +title("mentor")
        
    div(class="header")
      +idcard
      +keypoints("mentors", keypointlist, apcourse)
      
    div(class="section")
      div(class="section-note")
        |You have been identified as a mentor for one or more students in my 
        strong #{coursename} 
        |course.
      div(class="section-note")
        |Your role is crucial to your student's success and I want to support you in any way possible. 
        |There is a lot of support information available online within the course and I encourage you to review it when you have the chance. 
        |Please take a look at the Course Info, Instructor Info and Getting Help menu options within the oourse. 
        |The 
        a(href="https://michiganvirtual.org/policies/academic-integrity-policy/" target="_blank") Michigan Virtual Academic Integrity Policy 
        |is also an important resource.

    div(class="section")
      div(class="section-label") general information
      ul(class="section-list")
        li 
          strong Student contact with me: 
          |Please encourage students to use the 
          +linktoslp 
          |messaging system to contact me. 
          |They can also get in touch using a number of other methods described on the Instructor Info page. 
          |I hold office hours (scheduled and by appointment) - see the LiveChat page in Blackboard for details.
        li 
          strong Technical Support: 
          |You will find a link in the course titled Getting Help which gives information for the Customer Care Center and other resources
        li 
          strong Term Dates: 
          |The 
          a(href="https://michiganvirtual.org/students/calendar/" target="_blank") Michigan Virtual Enrollment Calendar 
          |is the official source of enrollment, start, end, and withdrawal dates.
          
        if apcourse
          li
            strong Pacing: 
            |In order to make sure everyone completes the course material in time for the AP exam I need to push 
            |everyone to be on the same schedule. This will ensure students complete all of the course content 
            |by week 16 of the second term. While I am serious about the deadlines I recognize some students will 
            |start later so I will be a little flexible at the beginning of the semester

    div(class="section")
      div(class="section-label") resources for mentors
      ul(class="section-list")
        li The 
          a(href="https://michiganvirtual.org/professionals/mentors/", target="_blank") Mentor Resources 
          |site will help answer many of the questions you might have.
        li Consider joining our 
          a(href="https://plp.mivu.org/", target="_blank") Online Mentor Community 
          |– search for the 
          em Online Mentor Community 
          |and click on 
          em add
        li Please feel free to communicate with me often. I respond quickly to emails and of course I’m also available by phone      


    div(class="section")
      div(class="section-label") what you can do to help your student
      ul(class="section-list")
        li Take a look at the pacing guide under the Course Info section and compare it to your student's progress.
        li Review your student's results on graded assignments and encourage them to reach out for help when they struggle.
        li Encourage your student to use the additional resources suggested in many of the lessons. There are links to videos and tutorials and so forth that are quite useful.
        li Keep an eye on the weekly announcements I post. These always include a reminder of the pacing a student should be following.
        li Encourage your student to use the Discussion Board to get in touch with other students, to get help from a peer, and generally to hang out with classmates.

    div(class="section")
      div(class="section-label") response policies
      ul(class="section-list")
        li I will respond to all student, mentor, and parent messages within 24 hours
        li I will grade all student assignments within 72 business hours and I am generally quicker than that.

    div(class="section")
      div(class="section-label") special populations
      ul(class="section-list")
        li I am committed to supporting the accommodations outlined in IEPs or 504 plans. Please contact me if you have questions about accommodations. 
          |You can also reach out to 
          +specpopcontact
          |, our Special Populations Coordinator, at 
          +linktospecpop
