mixin helpcontent_Other()  
  .helpsection-title other

  .helpsection-imagecontainer(class="medium")
    img(src="https://res.cloudinary.com/ktsanter/image/upload/v1626967146/Roster%20Manager/rostermanager_othermenu.png")

  .helpsection-content
    |The 
    em: strong other 
    |dropdown menu option includes these choices:
    
    ul
      li
        em download data - 
        |download all student and mentor data in an Excel file

      li
        em get access key - 
        |allows you to copy an access key for use with the infoDeck Chrome extension.
        
      li
        em end date manager - 
        |opens the End Date Manager application
        
      li
        em help - 
        |opens this help site
        
      li
        em sign out - 
        |signs you out from Aardvark Studios applications
