mixin helpcontent_Overview()  
  .helpsection-title overview

  .helpsection-content
    |The Roster Manager lets you track your student and mentor information.
    |WIth it you can import your data from the SLP and access it all in one place.
    |You can add notes and specify a preferred name for each student, 
    |and copy emails for all mentors in a section.
    
  
  .helpsection-content
    span You can also use the Roster Manager in combination with the 
      a(href="#anchorOverview" target="_self") infoDeck extension
      |&nbsp;to quickly access your data whenever you're using a browser
  
  .helpsection-content
    br

  .helpsection-content
    |Here's a demonstration of the Roster Manager
    
    .helpsection-subcontent(class="demo-video ms-4")
      div(class="ratio ratio-16x9")
        |[video here]
        //iframe(src="https://www.youtube.com/embed/glMFWH-2yYo" allowfullscreen)
