/*-------------------------------------------------------------------*/
 /* styling for tool index page                               */
 /*------------------------------------------------------------------*/

.colorscheme {
  --fgPrimary: black;
  --fgSecondary: rgb(46, 68, 105);
  --bgPrimary: rgba(66, 98, 150, 1.0);
  --bgSecondary: rgba(66, 98, 150, 0.2);
  --bgTertiary: #eee;
  --borderPrimary: #bbb;
  --diminished: #999;
}

body {
	color: var(--fgPrimary);
	background-color: var(--bgTertiary);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	margin-right: 2.0em;
}

.hide-me {
  visibility: hidden;
}

/*-------------------------------------------------------------------
 * title bar
 *------------------------------------------------------------------*/
.titlecontainer {
  color: white;
  background-color: var(--bgPrimary);
  border-radius: 3px;
  padding: 0.2em 0;
  margin-bottom: 0.4em;
}

.titlecontainer .titletext {
  display: inline-block;
  font-size: 1.2em;
  padding-left: 0.2em;
  padding-right: 0.4em;
}

/*-------------------------------------------------------------------
 * contents
 *------------------------------------------------------------------*/
.contents {}

/*-------------------------------------------------------------------
 * category
 *------------------------------------------------------------------*/
.contents .category {
  margin-bottom: 0.8em; 
}

.contents .category .category-label {
  display: inline-block;
  background-color: white;
  border: 1px solid var(--bgPrimary);
  border-radius: 4px;
  padding: 0.1em 0.3em;
}

/*-------------------------------------------------------------------
 * item
 *------------------------------------------------------------------*/
.contents .category .item {
  margin-left: 1.4em;
}

.contents .category .item .item-contents {
  color: var(--fgSecondary);
}

/*-------------------------------------------------------------------
 * standard error and notice tools
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice {
  float: right;  
  font-size: 0.9em;
  font-style: italic;
  margin-left: 0.4em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/

