mixin adminContainer()
  include ./mixins-admin-expectations.pug
  include ./mixins-admin-keypoints.pug
  include ./mixins-admin-resourcelinks.pug
  include ./mixins-admin-contacts.pug
  include ./mixins-admin-courses.pug

  .row(class="py-2 mb-2")
    .col-sm-2
      ul(class="nav nav-pills flex-column")
        li(class="nav-item")
          a(id="navEditExpectations" class="nav-link btn-secondary" aria-current="page" href="#") expectations
        li(class="nav-item")
          a(id="navEditKeypoints" class="nav-link btn-secondary" href="#") keypoints
        li(class="nav-item")
          a(id="navEditResourceLinks" class="nav-link btn-secondary" href="#") resourcelinks
        li(class="nav-item")
          a(id="navEditContacts" class="nav-link btn-secondary" href="#") contacts
        li(class="nav-item")
          a(id="navEditCourses" class="nav-link btn-secondary" href="#") courses

    .col-sm(class="admin-outer-container")
      .editcontent(class="admin-container navEditExpectations hide-me")
        +adminExpectations()

      .editcontent(class="admin-container navEditKeypoints hide-me") 
        +adminKeypoints()      
      
      .editcontent(class="admin-container navEditContacts hide-me")
        +adminContacts()

      .editcontent(class="admin-container navEditResourceLinks hide-me")
        +adminResourceLinks()

      .editcontent(class="admin-container navEditCourses hide-me")
        +adminCourses()
