mixin adminContainer()
  .row(class="py-2 mb-2")
    .col-sm-2
      ul(class="nav nav-pills flex-column")
        li(class="nav-item")
          a(id="navEditExpectations" class="nav-link btn-secondary" aria-current="page" href="#") expectations
        li(class="nav-item")
          a(id="navEditCourses" class="nav-link btn-secondary" href="#") courses
        li(class="nav-item")
          a(id="navEditContacts" class="nav-link btn-secondary" href="#") contacts
        li(class="nav-item")
          a(id="navEditOther" class="nav-link btn-secondary" href="#" tabindex="-1" aria-disabled="true") other

    .col-sm(class="admin-outer-container")
      .editcontent0(class="admin-container navEditExpectations hide-me") edit expectations
      .editcontent1(class="admin-container navEditCourses hide-me") edit courses
      
      .editcontent(class="admin-container navEditContacts hide-me")
        .row
          .col-sm
            .form-floating
              select(class="form-select select-contact" id="selectContact" aria-label="select contact")
              label(for="selectContact") contact
        
          .col-sm-2
            i(class="edit-control edit-control-contact far fa-plus-square me-2 add" title="add contact")
            i(class="edit-control edit-control-contact edit-control-contact-conditional fas fa-sync me-2 disabled reload" title="reload contact")
            i(class="edit-control edit-control-contact edit-control-contact-conditional far fa-save me-2 disabled save" title="save contact")
            i(class="edit-control edit-control-contact edit-control-contact-conditional far fa-trash-alt me-2 disabled delete" title="delete contact")
          
        .contact-edit-container(class="mt-2")
          .form-floating
            input(type="text" class="form-control content-descriptor" id="txtContentDescriptor")
            label(for="txtContentDescriptor") content descriptor
      
          .form-floating
            input(type="text" class="form-control first-name" id="txtFirstName")
            label(for="txtFirstName") first name

          .form-floating
            input(type="text" class="form-control last-name" id="txtLastName")
            label(for="txtLastName") last name

          .form-floating
            input(type="text" class="form-control phone" id="txtPhone")
            label(for="txtPhone") phone

          .form-floating
            input(type="text" class="form-control email" id="txtEmail")
            label(for="txtEmail") email

          .form-floating
            input(type="text" class="form-control template-base" id="txtTemplateBase")
            label(for="txtTemplatebase") template base
      
      .editcontent3(class="admin-container navEditOther hide-me") edit other
      
  .row(class="py-2")
    .col-sm
      fieldset(class="border configure-fieldset required pb-2")
        legend(class="w-auto") cosmetic
        
        .container-fluid
          .row(class="mb-1")
            .col-sm
              button(class="btnToggleAdmin btn btn-secondary" title="toggle admin menu option") toggle admin

