mixin courseContainer()
  .row
    .col-sm
      .form-floating
        select(class="form-select select-course" id="selectCourse" aria-label="select course")
        label(for="selectCourse") course

    .col-sm
      i(class="admin-only admin-icon add-course far fa-plus-square me-2" title="add course")
      i(class="admin-only admin-icon edit-course-name fas fa-edit disabled me-2" title="edit course name")
      i(class="admin-only admin-icon delete-course far fa-trash-alt disabled" title="delete course")

    .col-sm
      button(class="btn-mentor-welcome btn btn-secondary disabled") mentor letter
