mixin adminContainer()
  .row(class="py-2")
    .col-sm
      fieldset(class="border configure-fieldset required pb-2")
        legend(class="w-auto") editing
        .container-fluid
        .row
          .col-sm-2
            ul(class="nav nav-pills flex-column")
              li(class="nav-item")
                a(id="navEdit0" class="nav-link btn-secondary" aria-current="page" href="#") Active
              li(class="nav-item")
                a(id="navEdit1" class="nav-link btn-secondary" href="#") first link
              li(class="nav-item")
                a(id="navEdit2" class="nav-link btn-secondary" href="#") second link
              li(class="nav-item")
                a(id="navEdit3" class="nav-link btn-secondary disabled" href="#" tabindex="-1" aria-disabled="true") disabled

          .col-sm(class="admin-outer-container")
            .editcontent0(class="admin-container navEdit0 hide-me") edit container 0
            .editcontent1(class="admin-container navEdit1 hide-me") edit container 1
            .editcontent2(class="admin-container navEdit2 hide-me") edit container 2
            .editcontent3(class="admin-container navEdit3 hide-me") edit container 3
      
  .row(class="py-2")
    .col-sm
      fieldset(class="border configure-fieldset required pb-2")
        legend(class="w-auto") cosmetic
        
        .container-fluid
          .row(class="mb-1")
            .col-sm
              button(class="btnToggleAdmin btn btn-secondary" title="toggle admin menu option") toggle admin

