mixin generalContainer()
  .row(class="py-2")
    .col-sm(class="expected-of-student")
      fieldset(class="border configure-fieldset required")
        legend(class="w-auto") expected of student (all courses)
        .container-fluid
          .row
            .col-sm
              .expected-all

      fieldset(class="border configure-fieldset required mt-3")
        legend(class="w-auto") expected of student (AP only)
        .container-fluid
          .row
            .col-sm
              .expected-ap

      fieldset(class="border configure-fieldset required mt-3")
        legend(class="w-auto") expected of student (non-AP only)
        .container-fluid
          .row
            .col-sm
              .expected-nonap

    .col-sm(class="expected-of-instructor")
      fieldset(class="border configure-fieldset required")
        legend(class="w-auto") expected of instructor (all courses)
        .container-fluid
          .row
            .col-sm
              .expected-all

      fieldset(class="border configure-fieldset required mt-3")
        legend(class="w-auto") expected of instructor (AP only)
        .container-fluid
          .row
            .col-sm
              .expected-ap

      fieldset(class="border configure-fieldset required mt-3")
        legend(class="w-auto") expected of instructor (non-AP only)
        .container-fluid
          .row
            .col-sm
              .expected-nonap
