mixin adminExpectations()
  .row
    .col-sm
      i(class="edit-control edit-control-expectation far fa-plus-square me-2 add" title="add expectation")
      i(class="edit-control edit-control-expectation fas fa-sync me-2 reload" title="reload expectations")
      i(class="edit-control edit-control-expectation far fa-save me-2 save" title="save expectations")

  .row
    .col-sm        
      .expectation-container
      
      .item-template(class="expectation-item hide-me")
        .row
          .col-sm-2
            .form-floating
              select(class="form-select select-target" id="selectTargetXXX" aria-label="select target")
                option student
                option instructor
              label(for="selectTargetXXX") target
          
          .col-sm-2
            .form-floating
              select(class="form-select select-restriction" id="selectRestriction" aria-label="select restriction")
                option none
                option ap
                option non-ap
              label(for="selectRestriction") restriction
      
          .col-sm-1
            .form-floating
              input(type="number" class="form-control expectation-ordering" id="txtOrdering", min="1" max="100")
              label(for="txtOrdering") ordering
              
          .col-sm
            .form-floating
              input(type="text" class="form-control expectation-text" id="txtExpectation")
              label(for="txtExpectation") expectation
              
          .col-sm-1
            i(class="edit-control edit-control-expectation far fa-trash-alt pt-3 delete" title="delete expectation")
