/*------------------------------------------------------------------------------
 * Course Policies
 *------------------------------------------------------------------------------*/
.colorscheme {
  --bgPrimary: rgba(66, 98, 150, 1.0);
  --bgShaded:rgba(66, 98, 150, 0.5);
  --borderPrimary: #ced4da;
}

body {
  padding-top: 4.0em;
}

.hide-me {
  display: none;
}

/*------------------------------------------------------------------------------
 * navbar
 *------------------------------------------------------------------------------*/
.navbar-brand {
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 1.1em;
}

.navbar .dropdown-item .excel-icon {
  color: #379164;
}

.navbar .dropdown-item.disabled .excel-icon  {
  color: #adb5bd;
}

/*------------------------------------------------------------------------------
 * contents
 *------------------------------------------------------------------------------*/
.contents {
  font-size: 90%;
}

.contents .disable-container {
  background-color: var(--bgShaded);
  opacity: 50%;
  pointer-events: none;
}

.contents .btn-secondary {
  background-color: var(--bgPrimary);
  color: white;
}

.contents .btn-secondary:disabled {
  background-color: white;
  color: var(--bgPrimary);
  border-color: var(--bgPrimary);
}

.contents .configure-fieldset {}

.contents .configure-fieldset legend {
  font-size: 1.0em;
  font-weight: 500;
  float: none; 
  padding: inherit; 
}

.contents .admin-icon {
  color: var(--bgPrimary);
  cursor: pointer;
}

.contents .admin-icon.disabled {
  color: var(--bgShaded);
  cursor: default;
}

/*------------------------------------------------------------------------------
 * contents - navGeneral
 *------------------------------------------------------------------------------*/
.contents .contents-navGeneral {}

.contents .contents-navGeneral .expectation-info {
  color: var(--bgPrimary);
}

.contents .contents-navGeneral .admin-icon {
  float: right;
}

/*------------------------------------------------------------------------------
 * contents - navCourse
 *------------------------------------------------------------------------------*/
.contents .contents-navCourse .admin-icon {
  font-size: 150%;
}


/*------------------------------------------------------------------------------
 * contents - navAdmin
 *------------------------------------------------------------------------------*/
.contents .contents-navAdmin {}

.contents .contents-navAdmin .nav-link.btn-secondary {
  color: black;
  background-color: transparent;
}

.contents .contents-navAdmin .nav-link.btn-secondary.active {
  color: var(--bgPrimary);
  border: 2px solid var(--bgPrimary);
}

.contents .contents-navAdmin .nav-link.btn-secondary:focus {
  box-shadow: none;
}

.contents .contents-navAdmin .nav-link.btn-secondary.disabled {
  color: var(--bgShaded);
}

.contents .contents-navAdmin button.btn-secondary {
  min-width: 8.0em;
}

.contents .contents-navAdmin i.edit-control {
  color: var(--bgPrimary);
  font-size: 150%;
}

.contents .contents-navAdmin i.edit-control.disabled {
  color: var(--bgShaded);
}

/*------------------------------------------------------------------
 * standard error and notice
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/

