/*------------------------------------------------------------------------------
 * mentor welcome letter template
 *------------------------------------------------------------------------------*/
.colorscheme {
  --bgPrimary: rgba(66, 98, 150, 1.0);
  --bgShaded:rgba(66, 98, 150, 0.5);
  --borderPrimary: #ced4da;
  --mvDarkTeal: #115e6e;
  --highlightColor: #ffff00;
}

body {}

.aardvark-font {
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans";
}

.hide-me {
  display: none;
}

.highlight {
  background-color: var(--highlightColor);
}

/*------------------------------------------------------------------------------
 * sections
 *------------------------------------------------------------------------------*/
.welcome-section {}

.welcome-section .section-title-text {
  color: white;
  background-color: var(--mvDarkTeal);
}