/*------------------------------------------------------------------------------
 * Course Policies
 *------------------------------------------------------------------------------*/
.colorscheme {
  --bgPrimary: rgba(66, 98, 150, 1.0);
  --bgShaded: #e9ecef;
  --borderPrimary: #ced4da;
}

body {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial;
  font-size: 12px;
}

.hide-me {
  display: none;
}

.placeholder {
   background-color: yellow;
 }
 
.tbd {
  background-color: #ccc;
  border: 1px solid blue;
}

/*------------------------------------------------------------------------------
 * main sections
 *------------------------------------------------------------------------------*/
.section.section-instructor-info {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 0.3em;
  margin-bottom: 0.3em;
}

/*------------------------------------------------------------------------------
 * instructor info section
 *------------------------------------------------------------------------------*/
.logo-mv > img {
  width: 60%;
}

.instructor-info-container .instructor-info-image {
  display: inline-block;
}

.instructor-info-container .instructor-info-data {
  display: inline-block;
}