mixin helpcontent_Configure()   
  .helpsection-title the "configure" menu option
    img(class="menu-image" src="https://res.cloudinary.com/ktsanter/image/upload/v1622826102/End%20date%20manager/menu_configure.png")
  
  .helpsection-content     
    .helpsection-subcontent
      |Use the configure options to upload an SLP enrollment report, to specify which Google Calendar to use, and to set up notifications for calendar events. 
      |There are three configuration sections:

    .helpsection-subcontent(class="mt-3 ms-3")
      div
        img(class="screenshot screenshot-configure" src="https://res.cloudinary.com/ktsanter/image/upload/v1622829743/End%20date%20manager/configure_upload.png")
      .helpsection-subsubcontent(class="ms-5") 
        |Use the "upload" button to add end date events for all your students.  
        |First use the SLP Enrollments tab to generate all your enrollments, then download it as an Excel file.
        |You can then use the "upload" button to browse for the file and have it added to your event information.
        div
          span: strong: em Important:  
          |the enrollment report must include the  
          a(href="https://res.cloudinary.com/ktsanter/image/upload/v1622829327/End%20date%20manager/enrollmentreport_columns.png" target="_blank") end date column
      .spacer(class="mb-5")
            
    .helpsection-subcontent(class="ms-3")
      div
        img(class="screenshot screenshot-configure" src="https://res.cloudinary.com/ktsanter/image/upload/v1622829743/End%20date%20manager/configure_calendar.png")          
      .helpsection-subsubcontent(class="ms-5")  
        |Choose any of the Google Calendars that are under your Michigan Virtual Goole account. 
        |Your primary calendar will be used by default.
      .spacer(class="mb-5")
      
    .helpsection-subcontent(class="ms-3")
      div
        img(class="screenshot screenshot-configure" src="https://res.cloudinary.com/ktsanter/image/upload/v1622829743/End%20date%20manager/configure_notifications.png")          
      .helpsection-subsubcontent(class="ms-5")
        |Specify any notifications for your calendar event as well as the number of hours before the event they'll be sent.
