mixin helpcontent_Other()   
  .helpsection-title the "other" menu option
    img(class="menu-image" src="https://res.cloudinary.com/ktsanter/image/upload/v1622826102/End%20date%20manager/menu_other.png")

  .helpsection-content     
    .helpsection-subcontent
      span This menu option provides two choices
      ul
        li
          em: strong help
          |&nbsp;- opens this help site
        li
          em: strong sign out
          |&nbsp;- signs you out from Aardvark Studios