mixin helpcontent_Manage()   
  .helpsection-title the "manage" menu option
    img(class="menu-image" src="https://res.cloudinary.com/ktsanter/image/upload/v1622826102/End%20date%20manager/menu_manage.png")
    
  .helpsection-content 
    |xxxx