mixin helpcontent_Integration()   
  .helpsection-title integrating your Google Calendar with Outlook desktop or the Outlook 365 web app
  
  .helpsection-content
    .helpsection-subcontent(class="ms-4")
      |adding a Google Calendar to your Outlook desktop client

    .helpsection-subcontent(class="demo-video ms-4")
      div(class="ratio ratio-16x9")
        iframe(src="https://www.youtube.com/embed/070EZrVQtGg" allowfullscreen)       
        
    .helpsection-subcontent(class="ms-4 mt-4")
      |adding a Google Calendar to your Outlook web app

    .helpsection-subcontent(class="demo-video ms-4")
      div(class="ratio ratio-16x9")
        iframe(src="https://www.youtube.com/embed/xPPAyeLhaxA" allowfullscreen)       