mixin helpcontent_Other()   
  .helpsection-title the "other" menu option
    img(class="menu-image menu-image-other" src="https://res.cloudinary.com/ktsanter/image/upload/v1622826102/End%20date%20manager/menu_other.png")

  .helpsection-content     
    .helpsection-subcontent(class="ms-4")
      span This menu option provides four choices
      ul
        li
          em Google calendar - 
          |opens Google Calendar
        li
          em Outlook 365 web app -  
          |opens the online version of Outlook 365
        li
          em help - 
          |opens this help site
        li
          em sign out - 
          |signs you out from Aardvark Studios applications