mixin helpcontent_Manage()   
  .helpsection-title the "manage" menu option
    img(class="menu-image" src="https://res.cloudinary.com/ktsanter/image/upload/v1622826102/End%20date%20manager/menu_manage.png")
  
  .helpsection-content 
    |This is the area where most of the work is done.  Here you can view end dates and specify any overrides for them
    
    .help-subsection(class="mt-2 ms-4") Key features:
      ul
        li view all student/section end dates

        li sort by student, section, or end date by clicking on a table header cell

        li view and edit end date overrides
          i(class="event-icon event-editicon fas fa-pencil-alt ms-2")        

        li clear an override, restoring the original enrollment date from the SLP
          i(class="event-icon event-clearicon fas fa-cloud-sun ms-2")        

        li export the information to an Excel workbook
          i(class="event-icon event-exporticon fas fa-file-excel ms-2")

        li open the Google Calendar where the event info is posted
          i(class="event-icon far fa-calendar-alt ms-2")          