mixin pickerContainer()
  .row
    .col-sm-3(class="hierarchy-container" id="pickerHierarchy")
      label(for="pickerHierarchy" class="col col-form-label col-form-label") pick comments
    
    .col-sm
      .container-fluid(class="p-0")
        .row(class="p-0")
          .col-sm(class="accordion-container")