mixin helpcontent_UpDownload()  
  .helpsection-title upload/download

  .helpsection-content
    |While your comment data is stored in a robust cloud-based system, things can still go wrong.
    br
    |It is 
    em: strong strongly recommended 
    |that you download a copy of your comments from time to time - just in case.

  .helpsection-content
    |There are three upload/download options:
    ul
      li
        em download comment data to Excel
        div(class="mb-2")
          |All of your comment data, including tags and hover text, will be downloaded as an Excel file. 
          |This format is suitable for uploading with the next option.
          
      li
        em upload comment data
        div(class="mb-2")
          |Add all of the comment data in the uploaded file to your saved comment information.  Any current comment information will be saved, and the new data will be added.
          br
          |There are two likely situations for doing this.  Either something went wrong and you need to restore your work, or someone has downloaded their comment work
          |and shared it with you.
        
      li
        em upload CommentBuddy Classic data
        div(class="mb-2")
          |This is intended for those who used an earlier version of CommentBuddy and want to use the data they created for it.  
          br
          |In CommentBuddy Classic the data was stored in a Google Sheet.  This sheet can be downloaded as an Excel file 
          |and uploaded here in order to use it with the new tools.
