mixin helpcontent_Other()  
  .helpsection-title other

  .helpsection-content
    .helpsection-imagecontainer
      img(src="https://res.cloudinary.com/ktsanter/image/upload/v1626372577/CommentBuddy/cb_composer_other_menu.png")
      
  .helpsection-content
    ul
      li 
        span: em get access key
        div(class="mb-2") get a copy of the access key needed to link the composer data to the CommentBuddy extension
        
      li 
        span: em help
        div(class="mb-2") open this help system
        
      li 
        span: em sign out
        div(class="mb-2") sign out of the composer application

