mixin helpcontent_Compose()  
  .helpsection-title compose

  .helpsection-content
    |With the compose option you can create, edit, and remove individual stored comments.
    |In addtion to the comment itself you can optionally specify:
    ul
      li tags to organize the comments and make looking them up easier
      li hover text which is displayed in the extension when you're scrolling through comments
      
  .helpsection-content
    |Here's a look at how composing comments works
    
    .helpsection-subcontent(class="demo-video ms-4")
      div(class="ratio ratio-16x9")
        iframe(src="https://www.youtube.com/embed/xSOvfaTP4yQ" allowfullscreen)

