mixin helpcontent_Overview()  
  .helpsection-title overview

  .helpsection-content
    |The 
    em CommentBuddy composer 
    |is designed for editing stored comments, feedback, message templates, etc.
    |It's used in combination with the 
    a(href="" target="_blank") CommentBuddy Chrome extension (CBV3)
    |&nbsp;to quickly retrieve the stored data and to paste it into your work.

  .helpsection-content
    |Here's a demonstration of the two tools being used
    
    .helpsection-subcontent(class="demo-video ms-4")
      div(class="ratio ratio-16x9")
        iframe(src="https://www.youtube.com/embed/bzyL0dk5YHU" allowfullscreen)

