include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug
include ../../common/pug/navbar-mixins.pug
include ../../common/pug/jquery-mixins.pug
include ../../common/pug/profile-mixins.pug
include ../../common/pug/tinyMCE-mixins.pug

include ./mixins/mixins-recipes.pug
include ./mixins/mixins-menu.pug
include ./mixins/mixins-shopping.pug
include ./mixins/mixins-ocr.pug

doctype html
html(lang="en")
  head
    title Recipes
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    +fontawesome()
    +bootstrapstyle()
    +tinyMCEscripts()
    
    style
      include ../../common/styles/classProfile.css
      include ../../common/styles/navbar-overrides.css
      include ../../common/styles/sliderswitch.css
      include ../styles/recipes.css
    
    +addJQuery()
    script(data-main="/scripts/recipes/require_recipes", src="/scripts/require.js")      \
    
  body(class="colorscheme")
    +makeNavbar("Recipes", 
      {
        items: [
          {id: "navMenu", type: "link", label: "menu"},
          {id: "navRecipes", type: "link", label: "recipes"},
          {id: "navShopping", type: "link", label: "shopping"},
          {id: "navOCR", type: "link", label: "ocr"},
          {type: "dropdown", label: "other", items: [
            {id: "navHelp", type: "link", label: "help"},
            {id: "navSignout", type: "link", label: "sign out"},
          ]}
        ],
        
        buttons: [
          {id: 'navSave', label: 'save'},
          {id: 'navReload', label: 'reload'}        
        ],
        
        profile: true
      }
    )
    
    .contents
      .error-container
        a(href="dummy" id="linkNotice")
      
      .container-fluid(class="contents-container contents-navMenu hide-me disable-container")
        +menuContainer()      
        
      .container-fluid(class="contents-container contents-navRecipes hide-me disable-container")
        +recipesContainer()      
        
      .container-fluid(class="contents-container contents-navShopping hide-me disable-container")
        +shoppingContainer()      

      .container-fluid(class="contents-container contents-navOCR hide-me disable-container")
        +ocrContainer()      

      +ASProfile("myProfile", "contents-container contents-navProfile", "hide-me")
