include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug
include ../../common/pug/navbar-mixins.pug
include ../../common/pug/jquery-mixins.pug
include ../../common/pug/profile-mixins.pug

include ./mixins/mixins-manager.pug
include ./mixins/mixins-options.pug
include ./mixins/mixins-admin.pug
include ./mixins/mixins-eventeditor.pug

doctype html
html(lang="en")
  head
    title End date manager
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    +fontawesome()
    +bootstrapstyle()
    
    script(src="/scripts/commonmark_min.js")
    script(src="https://apis.google.com/js/api.js")
    
    style
      include ../../common/styles/classProfile.css
      include ../../common/styles/navbar-overrides.css
      include ../styles/enddate-manager.css
    
    +addJQuery()
    script(data-main="/scripts/enddate-manager/require_enddate-manager", src="/scripts/require.js")      \
    
  body(class="colorscheme")
    +makeNavbar("End date manager", 
      {
        items: [
          {id: "navManage", type: "link", label: "manage"},
          {id: "navOptions", type: "link", label: "configure"},
          {id: "navAdmin", type: "link", label: "admin"},
          {type: "dropdown", label: "other", items: [
            {id: "navExport", type: "link", label: "download data", icon: "excel-icon fas fa-file-excel"},          
            {id: "navCalendar", type: "link", label: "Google calendar"},
            {id: "navOWA", type: "link", label: "Outllook 365 web app"},
            {id: "navRosterManager", type: "link", label: "roster manager"},
            {type: "divider"},
            {id: "navHelp", type: "link", label: "help"},
            {id: "navGoogleReAuth", type: "link", label: "reauthorize Google"},
            {id: "navSignout", type: "link", label: "sign out"},
          ]}
        ],
        
        buttons: [
          {id: 'navGoogle', label: 'authorize'},
          {id: 'navSave', label: 'save'},
          {id: 'navReload', label: 'reload'},
          {id: 'navClearFilters', label: 'clear'}          
        ],
        
        profile: true
      }
    )
    
    .contents
      .error-container
      
      .container-fluid(class="contents-container contents-navManage hide-me disable-container")
        +managerContainer()

      .container-fluid(class='eventlist-editor-container hide-me')
        +eventEditorContainer()

      .container-fluid(class="contents-container contents-navOptions hide-me disable-container")
        +optionsContainer()     
        
      .container-fluid(class="contents-container contents-navAdmin hide-me disable-container")
        +adminContainer()     
        
      +ASProfile("myProfile", "contents-container contents-navProfile", "hide-me")
