- var formname = params.formname
- var description = params.description

doctype html
html(lang="en")
  head
    title End Date Manager error
    meta(charset="utf-8")

    style
      include ../styles/enddate-manager.css
      
  body(class="colorscheme") 
    .titlecontainer
        .titletext
            |End date manager - processing error
            
    .error-formname
      |request type: #{formname}
      
    .error-description=description

