include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug
include ../../common/pug/navbar-mixins.pug

include ./help-mixins/help-mixins-overview.pug
include ./help-mixins/help-mixins-authorize.pug
include ./help-mixins/help-mixins-manage.pug
include ./help-mixins/help-mixins-configure.pug
include ./help-mixins/help-mixins-other.pug
include ./help-mixins/help-mixins-integration.pug

doctype html
html(lang="en")
  head
    title help - End date manager
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    +fontawesome()
    +bootstrapstyle()
    
    style
      include ../../common/styles/navbar-overrides.css    
      include ../styles/help.css

  body(class="colorscheme")
    +makeNavbar("End date manager help", 
      {
        items: [
          {id: "navOverview", type: "link", label: "overview"},
          {id: "navAuthorize", type: "link", label: "authorize"},
          {id: "navManage", type: "link", label: "manage"},
          {id: "navConfigure", type: "link", label: "configure"},
          {id: "navOther", type: "link", label: "other"},
          {id: "navIntegration", type: "link", label: "integration"}
        ],
        
        buttons: [],        
        profile: false
      }
    )    

    .container-fluid
      .row: .col-sm 
        .helpsection(id="anchorOverview") 
          +helpcontent_Overview()
        
      .row: .col-sm 
        .helpsection(id="anchorAuthorize") 
          .divider(class="mb-1")
          +helpcontent_Authorize()
        
      .row: .col-sm 
        .helpsection(id="anchorManage") 
          .divider(class="mb-1")
          +helpcontent_Manage()
        
      .row: .col-sm 
        .helpsection(id="anchorConfigure") 
          .divider(class="mb-1")
          +helpcontent_Configure()

      .row: .col-sm 
        .helpsection(id="anchorOther") 
          .divider(class="mb-1")
          +helpcontent_Other()
            
      .row: .col-sm 
        .helpsection(id="anchorIntegration") 
          .divider(class="mb-1")
          +helpcontent_Integration()
            
    script
      include ../scripts/help.js