include help_mixins.pug

doctype html
html
  head
    title Slide indexer config help
    meta(charset="utf-8")
    style
      include ../../common/styles/colorscheme.css
      include ../styles/help-subpage.css
      
    +handlerForLinkToHelpSection  
      
  body(class="instructortips-colorscheme")
    - var txtIndex = "configuring index entries"
    - var txtTOC = "configuring table of contents entries"
    - var txtPermissions = "setting permissions and getting the slide deck link"
    
    div(class="slide-indexer-help slide-config")
      +anchorLink("top")      
      div(class='section-contents') 
        div(class="subsection-contents")
          |If selected, an index and a table of contents will be made for the presentation.
          |By using the speaker notes in the slide deck you can configure which slides
          |will appear in each of them. 
          |You can then set the permissions for your slide deck and get the appropriate 
          |link to finish the configuration.
      
      ul
        +inpageLinkItem("#configIndex", txtIndex)
        +inpageLinkItem("#configTOC", txtTOC)
        +inpageLinkItem("#permissions", txtPermissions)
        
      +sectionHead("configIndex", txtIndex)
      div(class="section-contents") 
        div(class="subsection-contents")
          |Use the speaker notes section of any slide to add it to the index.
          |Any text starting with the hashtag symbol 
          strong: em # 
          |will be added to the index.
          br
          |The same hashtag may be used for multiple slides, and a slide may use 
          |multiple hash tags.
          +snapshot("slide-config001.png", 530)
        
      +sectionHead("configTOC", txtTOC)
      div(class="section-contents") 
        div(class="subsection-contents")
          |Use the speaker notes section of any slide to add it to the table of contents.
          |You may specify either of two levels by using the note 
          strong: em @main 
          |or 
          strong: em @sub
          br
          br
          |In the example shown here the slide titled "Unit 2, lesson 3" will be included 
          |in the table of contents at the secondary (@sub) level. The slide titled "Unit 2 overview" 
          |has @main in its speaker notes.
          +snapshot("slide-config002.png", 530)
          strong: em **Note** 
          |The text used in the table of contents is drawn from the title element for the slide.
          |Be sure your slide includes a title element.
          
      +sectionHead("permissions", txtPermissions)
      div(class="section-contents") 
        div(class="subsection-contents")
          |To set the permissions for the slide deck. Choose 
          em: strong File -> Open 
          |from the Google Slides menu
          +snapshot("slide-config003.png", 200)
          
        div(class="subsection-contents")
          |Set the permissions to 
          em "Anyone on the internet with this link can view"
          |, then choose 
          em: strong Copy link
          +snapshot("slide-config004.png", 400)
          
        div(class="subsection-contents")
          |You can now paste the link into the 
          em Slide Indexer config tool 
          |as the 
          em: strong slide deck URL           
          |(see 
          +linkToHelpSection("controls", "configPresentation", "controls")
          |)
          br
          strong: em **Note** 
          |you do not have to publish the slide deck to the web.  The share link is sufficient.
