include help_mixins.pug

doctype html
html
  head
    title Slide indexer config help - embedding
    meta(charset="utf-8")
    style
      include ../../common/styles/colorscheme.css
      include ../styles/help-subpage.css
      Add
  body(class="instructortips-colorscheme")
    - var txtGettingEmbed = "getting the embed code"
    - var txtBrightspace = "creating a Slide Indexer item in Brightspace"
    
    div(class="slide-indexer-help embedding")
      +anchorLink("top")      
      div(class='section-contents') 
        div(class="subsection-contents")
          |You can use this tool to get embed code suitable
          |for use in other applications.
      
      ul
        +inpageLinkItem("#gettingEmbed", txtGettingEmbed)
        +inpageLinkItem("#brightspace", txtBrightspace)
        
      +sectionHead("gettingEmbed", txtGettingEmbed)
      div(class="section-contents") 
        div(class="subsection-contents")
          +snapshot("embed001.png", 570)
          |Once your presentation is configured, click on the embed icon to copy the embed code to the clipboard.
          |It's then available for pasting into other apps such as Brightspace.
        
      +sectionHead("brightspace", txtBrightspace)
      div(class="section-contents") 
        div(class="subsection-contents")
          ul
            li create a new item in 
              em Additional Resources
              +snapshot("embed002.png", 570)
            li choose 
              em HTML document
              +snapshot("embed003.png", 310)
            li enter a title for your page and choose the HTML editor
              +snapshot("embed004.png", 210)
            li paste the embed code between 
              strong 
                +makeCode("<body...> ")
              |and 
              strong
                +makeCode("</body>")
              +snapshot("embed005.png", 500)
            li click on  
              strong: em OK 
              |then on  
              strong: em Save 
              br
              em: strong **Remember** 
              |set the item to visible when you're ready to share it with students

