include help_mixins.pug

doctype html
html
  head
    title Slide Indexer config help - overview
    meta(charset="utf-8")
    style
      include ../../common/styles/colorscheme.css
      include ../styles/help-subpage.css
        
  body(class="instructortips-colorscheme")
    
    div(class="slide-indexer-help home")
      div(class="overview")
        |Slide Indexer is a tool for embedding Google Slide decks with automated table of contents and index.
        ul(class="labeledlist" myLabel="With it users can:")
          li specify the slide deck to be used
          li choose whether an index and/or table of contents should be created
          li generate a direct link to the presentationcreate
          li generate embed code suitable for embedding
        
      div(class="section-contents") 
        div(class='subsection-contents')
          +snapshot("overview001.png", 600, "Here's a sample configuration. Hover over different parts of the image to learn about   features:", [
            {location: "left: 42.2em; top:  0.2em; width:  4.4em; height:  1.9em;", text: "get link, or embed code, or open this help page",},
            {location: "left:  6.7em; top:  2.0em; width: 30.8em; height:  1.7em;", text: "enter share link for slides"},
            {location: "left:  6.7em; top:  3.9em; width:  1.7em; height:  2.4em;", text: "choose to include table of contents and/or index"},
            {location: "left:  0.9em; top:  6.7em; width: 27.6em; height: 18.0em;", text: "preview the presentation"}
          ])