include help_mixins.pug

doctype html
html
  head
    title Slide indexer config help - controls
    meta(charset="utf-8")
    style
      include ../../common/styles/colorscheme.css
      include ../styles/help-subpage.css
      
    +handlerForLinkToHelpSection  
      
  body(class="instructortips-colorscheme")
    - var linkAndEmbedText = "getting a link to the presentation or embed code"
    - var configText = "configuring the presentation"
    
    div(class="slide-indexer-help controls")
      +anchorLink("top")      
      div(class='section-contents') 
        div(class="subsection-contents")
          |There are two sets of controls
          +snapshot("controls001.png", 570)
      
      ul
        +inpageLinkItem("#configPresentation", configText)
        +inpageLinkItem("#linkAndEmbed", linkAndEmbedText)
        
      +sectionHead("configPresentation", configText)
      div(class="section-contents") 
        div(class="subsection-contents")
          +snapshot("controls003.png", 500)

        div(class="subsection-contents")
          strong slide deck URL
          | - enter the "share" link to the slide deck.  Note this is 
          em
            strong not&nbsp;
          | the link to the published deck.  You do not have to publish the deck to the web 
          |in order to use the Slide Indexer.  The permissions should be set to viewable by anyone (see 
          +linkToHelpSection("slide configuration", "permissions", "slide configuration -> setting permissions")
          |)

        div(class="subsection-contents")
          strong table of contents
          | - choose whether or not to include a table of contents in the presentation

        div(class="subsection-contents")
          strong index
          | - choose whether or not to include an index in the presentation

      +sectionHead("linkAndEmbed", linkAndEmbedText)
      div(class="section-contents") 
        div(class="subsection-contents")
          |Once a slide deck has been specified you can get a link to the presentation
          |or embed code to use in other apps like Brightspace
          
        div(class='subsection-contents')
          i(class="control-icon fas fa-link")
          |generate the URL for a direct link to the presentation and copy it to the clipboard
          
        div(class='subsection-contents')
          i(class="control-icon fas fa-angle-left no-rightmargin")
          i(class="control-icon fas fa-angle-right")
          |generate embed code for the presentation and copy it to the clipboard
        
