//-------------------------------------------------------------
//- Slide indexer config
//-------------------------------------------------------------
doctype html
html(lang="en")
  head
    title Slide indexer configuration
    meta(charset="utf-8")
    style
      include ../styles/slide-indexer-config.css
      
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", crossorigin="anonymous")      
       
    script(data-main="/scripts/slide-indexer/require_slide-indexer-config", src="/scripts/require.js")      
      
  body(class="colorscheme")
    div(class="slide-indexer-config")
      div(class="config-title") 
        span(class="title-text") Slide indexer configuration
        
        i(class="title-control config-help-control far fa-question-circle" title="help")
        
        span(class="title-control config-embed-control" title="copy embed code")
          i(class="fas fa-angle-left")
          i(class="fas fa-angle-right")
          
        i(class="title-control config-link-control fas fa-link" title="copy link")

        span(class="title-message")
              
      div(class="config-controls")
        div(class="config-option config-id")
          span(class="option-text") slide deck URL
          input(type="text" class="id-input")

      div(class="config-preview hide-me")
        div(class="preview-error hide-me") invalid slide link
        div(class="preview-container hide-me")
          iframe(class="preview-iframe" width="100%" height="100%")