//-------------------------------------------------------------
//- Slide indexer app
//-------------------------------------------------------------
doctype html
html(lang="en")
  head
    title Slide indexer help
    meta(charset="utf-8")
    style
      include ../styles/slide-indexer-help.css
      
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", crossorigin="anonymous")      
            
  body(class="colorscheme")    
    div(class="slide-indexer-help")
      h3 Slide indexer help
      
      div
        |under construction...