include help_mixins.pug

doctype html
html
  head
    title Slide Indexer user help
    meta(charset="utf-8")
    style
      include ../styles/user-help.css
      
  body(class="colorscheme")    
    div(class="slide-indexer-user-help")
      
      div(class="title")
        |Slide Indexer help
        
      div(class="contents")
        |TBD
