#gitignore for InstructorTips project
instructions to use db on server.txt
server/node_modules/
server/*.bat
server/log
server/temp/*.*
sql/*.bat

# Honor .ignore
*.ignore
*.ignore.*

# server stuff
/dhparam/*
