mixin analyzeContainer()
  .row
    .col-sm(class="walkthrough-item-containers")
    
  .row
    .col-sm
      button(class="walkthrough-restrict" title="restrict to yes/no" walkthrough-setting="true") don't restrict
      button(class="walkthrough-percent" title="show raw numbers" walkthrough-setting="true") raw numbers
