mixin summaryContainer()
  .row(class="summary-outer-container")
    .col-sm
      .summary-contents
      
  .row(class="hide-me zoomItem-container")
    .col-sm(class="single-item-container")
          
    .col-sm
      i(class="icon icon-close far fa-window-close")      