mixin helpcontent_Mentors()  
  .helpsection-title mentors

  .helpsection-content
    |With the 
    em: strong mentors 
    |option you can view all of your mentors, organized by term and by section.
    |You can quickly copy an email address, or all of the emails for a section

  .helpsection-imagecontainer(class="bigger")
    img(src="https://res.cloudinary.com/ktsanter/image/upload/v1626969061/Roster%20Manager/rostermanager_mentorresults.png")

