doctype html
html(lang="en")
  head
    title JSGD resources
    meta(charset="utf-8")
    
    style
      include ../styles/jsgd-resources.css
    
    script(data-main="/scripts/jsgd-resources/require_jsgd-resources", src="/scripts/require.js")    
      
  body

