include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/tinyMCE-mixins.pug

doctype html
html(lang="en")
  head
    title Equation tester
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    +fontawesome()
    +tinyMCEscripts()
    
    style
      include ../styles/equation.css
    
    script(data-main="/scripts/asequations/require_equation", src="/scripts/require.js")      \
    
  body(class="colorscheme")
    h3 Equation test bed
      
    .paste-container
      textarea(class="paste-url" rows="4" cols="40" placeholder="paste URL")
      
    .contenteditor-composer-container
      +makeTinyMCE("contenteditor-composer")

    div(class="hide-me")
      .mathml-container
        textarea(id="areaMathML" class="area-mathml" rows="10" cols="80" placeholder="MathML")
      
      .encoded-container
        textarea(id="areaEncoded" class="area-mathml" rows="10" cols="80" placeholder="image URL")
    
    .error-result(class="hide-me")
    
    .result
      h4 result image
      img(id="imgResult" class="result-image")

