/*------------------------------------------------------------------------------
 * End date manager
 *------------------------------------------------------------------------------*/
.colorscheme {
  --bgPrimary: rgba(66, 98, 150, 1.0);
  --bgShaded: #e9ecef;
  --borderPrimary: #ced4da;
}

body {
  padding-top: 4.0em;
}

.hide-me {
  display: none;
}

/*------------------------------------------------------------------------------
 * navbar
 *------------------------------------------------------------------------------*/
.navbar-brand {
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 1.1em;
}

/*------------------------------------------------------------------------------
 * contents
 *------------------------------------------------------------------------------*/
.contents {}

.contents .disable-container {
  background-color: var(--bgShaded);
  opacity: 50%;
  pointer-events: none;
}

.contents .btn-secondary {
  background-color: var(--bgPrimary);
  color: white;
}

.contents .btn-secondary:disabled {
  background-color: white;
  color: var(--bgPrimary);
  border-color: var(--bgPrimary);
}

/*------------------------------------------------------------------------------
 * contents - navManage
 *------------------------------------------------------------------------------*/
.contents .contents-navManage {}

.contents .contents-navManage .eventlist-container {
  margin-top: 1.0em;
}

.contents .contents-navManage .header {
  cursor: pointer;
}

.contents .contents-navManage .event-icon {
  color: var(--bgPrimary);
  cursor: pointer;
}

.contents .contents-navManage .event-icon.event-exporticon {
  color: #379164;
  font-size: 1.1em;
}

.contents .contents-navManage .event-editicon {}

.contents .contents-navManage .event-clearicon {
  margin-left: 0.4em;
}

.contents .input-notes {
  height: 16.0em;
}

/*------------------------------------------------------------------------------
 * contents - navOptions
 *------------------------------------------------------------------------------*/
.contents .contents-navOptions {}


.contents .contents-navOptions .configure-fieldset {}

.contents .contents-navOptions .configure-fieldset legend {
  font-size: 1.0em;
  font-weight: 500;
  float: none; 
  padding: inherit; 
}

.contents .contents-navOptions .uploadfile {
  opacity: 0;
  z-index: -1;
  position: absolute; /* don't let it take up space */
}

.contents .contents-navOptions .uploadfile-label {
  color: white;
  background-color: var(--bgPrimary);
  border: 1px solid var(--bgPrimary);
  cursor: pointer;
}

.contents .contents-navOptions .notification-container {
  border: 1px solid var(--borderPrimary);
  padding: 0.4em;
}

.contents .contents-navOptions .notification-check {
  cursor: pointer;
}

.contents .contents-navOptions .notification-check + label {
  cursor: pointer;
}

.contents .contents-navOptions .notification-check:checked {
  background-color: var(--bgPrimary);
  border-color: var(--bgPrimary);
}

.contents .contents-navOptions .notification-number {
  width: 5.0em;
}

.contents .contents-navOptions .notification-number:disabled + label {
  color: gray;
}

.contents .contents-navOptions .button-notification-save {
  float: right;
}

.contents .contents-navOptions .calendar-selection {
  width: 93%;
}


/*------------------------------------------------------------------
 * standard error and notice
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/

