/*------------------------------------------------------------------------------
 * End date manager
 *------------------------------------------------------------------------------*/
.colorscheme {
  --bgPrimary: rgba(66, 98, 150, 1.0);
  --bgShaded: #e9ecef;
  --borderPrimary: #ced4da;
}

body {
  padding-top: 4.0em;
}

.hide-me {
  display: none;
}

/*------------------------------------------------------------------------------
 * contents
 *------------------------------------------------------------------------------*/
.contents {}

.contents .disable-container {
  background-color: var(--bgShaded);
  opacity: 50%;
  pointer-events: none;
}

/*------------------------------------------------------------------------------
 * contents - navManage
 *------------------------------------------------------------------------------*/
.contents .contents-navManage {}

.contents .contents-navManage .enddate-option:checked {
  background-color: var(--bgPrimary);
  border-color: var(--bgPrimary);
}

.contents .contents-navManage .uploadfile {
  opacity: 0;
  z-index: -1;
  position: absolute; /* don't let it take up space */
}

.contents .contents-navManage .uploadfile#file-upload + label {
  border: 1px solid var(--bgPrimary);
  margin-left: 0.4em;
  padding: 0 0.3em 0 0.3em;
  cursor: pointer;
}

.contents .contents-navManage .uploadfile#file-upload:disabled + label {
  background-color: var(--bgShaded);
  opacity: 50%;
  cursor: default;
}

.contents .contents-navManage .eventlist-container {
  margin-top: 1.0em;
}

.contents .contents-navManage .header {
  cursor: pointer;
}

.contents .contents-navManage .event-icon {
  color: var(--bgPrimary);
  cursor: pointer;
}

.contents .contents-navManage .event-alerticon {
  margin-left: 0.4em;
}

.contents .contents-navManage .event-editicon {
}

.contents .contents-navManage .event-clearicon {
  margin-left: 0.4em;
}

.contents .input-notes {
  height: 16.0em;
}

/*------------------------------------------------------------------------------
 * contents - navOptions
 *------------------------------------------------------------------------------*/
.contents .contents-navOptions {}

/*------------------------------------------------------------------
 * standard error and notice
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/

