/*-------------------------------------------------------------------
 * styling for End Date Manager help
 *------------------------------------------------------------------*/
.colorscheme {
  --bgPrimary: rgba(66, 98, 150, 1.0);
  --bgShaded: #e9ecef;
  --borderPrimary: #ced4da;
}

body {
  padding-top: 4.0em;
  margin-bottom: 10.0em;
}

.hide-me {
  display: none;
}


/*------------------------------------------------------------------------------
 * navbar
 *------------------------------------------------------------------------------*/
.navbar-brand {
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 1.1em;
}

/*-------------------------------------------------------------------
 * sections
 *------------------------------------------------------------------*/
.helpsection {
  padding-top: 4.0em;
}

.helpsection .helpsection-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 1.0em;
}

.helpsection .menu-image {
  width: 18.0em;
  vertical-align: top;
  margin-left: 0.4em;
}

.helpsection .menu-image.menu-image-other {
  width: 25.0em;
}

.helpsection .divider {
  border: none;
  border-bottom: 3px solid var(--bgPrimary);
}

.helpsection .spacer {}

.helpsection .event-icon {
  color: var(--bgPrimary);
}

.helpsection .event-icon.event-exporticon {
  color: #379164;
}

.helpsection .helpsection-content {
  margin-top: 0.4em;
}

.helpsection .helpsection-content .screenshot {
  vertical-align: top;
}

.helpsection .screenshot.screenshot-configure {
  width: 22.0em;
  margin-left: 0.2em;
}

.helpsection .screenshot.screenshot-authorize {
  width: 40.0em;
  margin-left: 0.2em;
}

.helpsection .helpsection-content .helpsection-subcontent {
  max-width: 55.0em;
  margin-bottom: 0.4em;
}

.helpsection .helpsection-subcontent .helpsection-subsubcontent {}

.helpsection .helpsection-subcontent.demo-video {
  max-width: 30%;
}

.helpsection .integration-image {
}

.helpsection .integration-image.integration-image-001 {
  width: 30.0em;
}

.helpsection .integration-image.integration-image-002 {
  width: 32.0em;
}
