mixin helpcontent_Overview()  
  .helpsection-title overview

  .helpsection-content
    |The CommentBuddy Chrome extension (CBV3) lets you write and save comments, feedback, message templates, etc. 
    |and then quickly search for and retrieve them.
    |Your selected comment is copied to the clipboard and can be immediately pasted into whatever you're working on.
  
  .helpsection-content
    i(class="fas fa-lightbulb icon me-2") 
    span You can open the 
      a(href="composer" target="_blank") Comment Budy composer
      |&nbsp;tool at any time in your browser by pressing Shift-Ctrl-9
  
  .helpsection-content
    br

  .helpsection-content
    |Here's a demonstration of the primary features
    
    .helpsection-subcontent(class="demo-video ms-4")
      div(class="ratio ratio-16x9")
        iframe(src="https://www.youtube.com/embed/glMFWH-2yYo" allowfullscreen)
