mixin helpcontent_Searching()  
  .helpsection-title searching

  .helpsection-content
    |You can search for comments in two ways:
    
  .helpsection-content
    ul: li
      |search for matching text
      .helpsection-imagecontainer
        img(src="https://res.cloudinary.com/ktsanter/image/upload/v1626360381/CommentBuddy/cb_search_by_text.png")

  .helpsection-content
    ul: li
      |search by tag
      .helpsection-imagecontainer
        img(src="https://res.cloudinary.com/ktsanter/image/upload/v1626360381/CommentBuddy/cb_search_by_tag.png")

  .helpsection-content
    |Here's a demonstration of the search methods

    .helpsection-subcontent(class="demo-video ms-4")
      div(class="ratio ratio-16x9")
        iframe(src="https://www.youtube.com/embed/v6vb9kq9zm8" allowfullscreen)

