mixin helpcontent_Setup()  
  .helpsection-title setup

  .helpsection-content
    |In order to start using CommentBuddy you'll need to: 
    ol
      li use the 
        a(href="composer" target="_blank") Comment Budy composer
        |&nbsp;to write and save your comments. 
        |Note you will need to create a free account the first time you use the composer.
          
  .helpsection-content
    ol(start="2")
      li obtain an access key from the Composer
        .helpsection-imagecontainer
          img(src="https://res.cloudinary.com/ktsanter/image/upload/v1626361140/CommentBuddy/cb_composer_get_access_key.png")

  .helpsection-content
    ol(start="3")
      li enter the access key in the extension
        .helpsection-imagecontainer
          img(src="https://res.cloudinary.com/ktsanter/image/upload/v1626361140/CommentBuddy/cb_set_access_key.png")

  .helpsection-content
    |Here's how to do that 

    .helpsection-subcontent(class="demo-video ms-4")
      div(class="ratio ratio-16x9")
        iframe(src="https://www.youtube.com/embed/9qv9wCXbanQ" allowfullscreen)