/*------------------------------------------------------------------------------
 * Equation test bed
 *------------------------------------------------------------------------------*/
.colorscheme {
  --bgPrimary: rgba(66, 98, 150, 1.0);
  --bgShaded: #e9ecef;
  --borderPrimary: #ced4da;
}

body {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 13px;
}

.busy {
  cursor: progress;
}

.hide-me {
  display: none;
}

#imgResult {
  border: 1px solid #aaa;
  padding: 1.0em;
  margin-right: 0.5em;
  margin-bottom: 0.4em;
}

.result {
  margin-top: 1.0em;
}

.result h4 {
  margin-bottom: 0.4em;
}

#resultError {
  vertical-align: top;
  font-style: italic;
  color: red;
}

.mathml-container, .encoded-container {
  display: inline-block;
}

.wrs_modal_button_accept:disabled {
  color: #778e9a;
  background-color: transparent;
}

.wrs_modal_button_accept:hover:disabled {
  color: #778e9a;
  background-color: transparent;
}

.wrs_modal_button_accept.busy {
  cursor: progress !important;
}