- var singleCourseName = params.courseName;

include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug
include ../../common/pug/navbar-mixins.pug
include ../../common/pug/jquery-mixins.pug
include ../../common/pug/profile-mixins.pug

include ./mixins/mixins-general.pug
include ./mixins/mixins-editing.pug
include ./mixins/mixins-course.pug
include ./mixins/mixins-admin.pug

doctype html
html(lang="en")
  head
    title Course Policies
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    +fontawesome()
    +bootstrapstyle()
    
    script(src="/scripts/commonmark_min.js")
    script(src="https://apis.google.com/js/api.js")
    
    style
      include ../../common/styles/classProfile.css
      include ../../common/styles/navbar-overrides.css
      include ../styles/coursepolicies.css
    
    +addJQuery()
    script(data-main="/scripts/coursepolicies/require_coursepolicies", src="/scripts/require.js")      \
    
  body(class="colorscheme")
    +makeNavbar("Course Policies", 
      {
        items: [
          {id: "navCourse", type: "link", label: "course"},
          {id: "navEdit", type: "link", label: "editing"},
          {id: "navAdmin", type: "link", label: "admin"},
          {type: "dropdown", label: "other", items: [
            {id: "navWhoTeachesWhat", type: "link", label: "who teaches what"},          
            {type: "divider"},          
            {id: "navHelp", type: "link", label: "help"},
            {id: "navSignout", type: "link", label: "sign out"},
          ]}
        ],
        
        buttons: [
          {id: 'navSave', label: 'save'},
          {id: 'navReload', label: 'reload'}        
        ],
        
        profile: true
      }
    )
    
    .contents
      .single-course(class="hide-me")=singleCourseName
      .error-container
      
      .container-fluid(class="contents-container contents-navCourse hide-me disable-container")
        +courseContainer(singleCourseName)
                
      .container-fluid(class="contents-container contents-navEdit hide-me disable-container")
        +editingContainer(singleCourseName)
                
      .container-fluid(class="contents-container contents-navAdmin hide-me disable-container")
        +adminContainer()     
        
      +ASProfile("myProfile", "contents-container contents-navProfile", "hide-me")
      
      .container-fluid(class="hide-me")
       .row
        form(id="formExport" class="export-form" action="coursepolicies/welcomeletter" enctype="multipart/form-data" method="post")
          textarea(id="exportData" class="export-data" name="export-data")       
