include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug
include ../../common/pug/navbar-mixins.pug

include ./mixins-help/mixins-overvew.pug
include ./mixins-help/mixins-lookup.pug
include ./mixins-help/mixins-other.pug

doctype html
html(lang="en")
  head
    title course help
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    +fontawesome()
    +bootstrapstyle()
    
    style
      include ../../common/styles/navbar-overrides.css    
      include ../styles/help.css

  body(class="colorscheme")
    +makeNavbar("Course Policies help", 
      {
        items: [
          {id: "navOverview", type: "link", label: "overview"},
          {id: "navLookup", type: "link", label: "lookup"},
          {id: "navOther", type: "link", label: "other"}
        ],
        
        buttons: [],        
        profile: false
      }
    )    

    .container-fluid
      .row: .col-sm 
        .helpsection(id="anchorOverview")
           +helpcontent_Overview
        
      .row: .col-sm 
        .helpsection(id="anchorLookup") 
           +helpcontent_Lookup
                    
      .row: .col-sm 
        .helpsection(id="anchorOther") 
           +helpcontent_Other

    script
      include ../scripts/help.js