/*-------------------------------------------------------------------
 * styling for TipCron class
 *------------------------------------------------------------------*/
.tipcron {
  position: relative;
  --itemBorder: #dddd;
}

.tipcron.tipcron-hide {
  display: none;
}

.tipcron .tipcron-contents {
  margin-top: 2.0em;
}

.tipcron .tipcron-contents .tipcron-statuslabel {
  display: inline-block;
  width: 15em;
  vertical-align: bottom;
  padding-bottom: 0.6em;
}

.tipcron .tipcron-contents .tipcron-status {
  display: inline-block;
  margin-left: 0.5em;
}

.tipcron .tipcron-contents .tipcron-item .schedulepush-force {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 1.0em;
  height: 2.3em;
  width: 7.0em;
  color: white;
  background-color: var(--bgSecondaryChoice);
  border: 1px solid #444;
  outline: none;
  vertical-align: bottom;
  margin-left: 0.2em;
}