mixin adminContainer()   
  .row(class="py-2")
    .col-sm
      fieldset(class="mb-3")
        legend Gmail authorization
        div(class="ms-3")
          button(class="btn btn-primary btnTestGmailAuth me-2") test Gmail authorization
          span(class="gmail-authorization-label")

        div(class="ms-3 mt-2")
          button(class="btn btn-primary btnBeginGmailAuth") do Gmail authorization
          .gmail-authorization-confirm(class="ms-4")
            .authorization-url(class="my-2") authorize this app by visiting
              a(href="" class="authorization-link ps-2" target="_blank") this page
            input(class="gmail-authorization-confirmcode mb-2" type="text" placeholder="Enter confirmation code" autocomplete="off")
            button(class="btn btn-primary btnFinishGmailAuth") confirm

        div(class="ms-3 mt-2")
          button(class="btn btn-primary btnSendTestMessage") send test message

  .row(class="py-2")
    .col-sm
      fieldset(class="mb-3")
        legend mailer debug mode 
        div(class="form-check form-switch ms-3")
          input(class="form-check-input check-mailer-debug" type="checkbox" id="checkMailerDebug" checked)
          label(class="form-check-label check-mailer-debug-label" for="checkMailerDebug") mailer debug is ON

  .row(class="py-2")
    .col-sm
      fieldset(class="mb-3")
        legend cron jobs
        div(class="form-check form-switch ms-3")
          input(class="form-check-input check-reset-request-cron" type="checkbox" id="checkResetRequestCron" checked disabled)
          label(class="form-check-label" for="checkResetRequestCron") expired login reset request cron job is ENABLED

  .row(class="py-2")
    .col-sm
      fieldset(class="mb-3")
        legend general purpose
        div(class="ms-3")
          button(class="btn btn-primary btnTest") test
