mixin cronContainer()   
  .row(class="py-2")
    .col-sm
      table(class="table table-striped table-hover table-sm")
        thead(class="table-primary")
          tr
            th(class="header header-jobname") job name
            th(class="header header-running") running
            th(class="header header-firetime") fire time
            th
        
        tbody(class="crontable-body")
      
  .row(class="py-2")
    .col-sm
      button(class="btn btn-primary btnCronRefresh") refresh
      
      
