mixin cronContainer()   
  .row(class="py-2")
    .col-sm
      div(class="form-check form-switch ms-3")
        input(class="form-check-input check-reset-request-cron" type="checkbox" id="checkResetRequestCron" checked)
        label(class="form-check-label" for="checkResetRequestCron") expired login reset request cron job is ENABLED
