doctype html
html(lang="en")
  head
    title JSGD resources
    meta(charset="utf-8")
    
    style
      include ../styles/resources.css
    
    script(data-main="/scripts/jsgd/require_resources", src="/scripts/require.js")    
      
  body

