include help_mixins.pug

doctype html
html
  head
    title InstructorTips help - sharing
    meta(charset="utf-8")
    style
      include ../styles/colorscheme.css
      include ../styles/help_subpage.css
    
    link(
    rel="stylesheet", 
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay",
    crossorigin="anonymous")
      
  body(class="instructortips-colorscheme")
    - var shareText = "sharing a schedule"
    - var acceptText = "accepting a shared schedule"
    
    div(class="instructortips-help sharing")
      +anchorLink("top")  
      div(class="section-contents") 
        div(class="subsection-contents")
        |Once you have a schedule configured to your liking you may want to share it with another instructor.
        |The 
        +pageName("Sharing") 
        |option is where you can share schedules with others and accept those that have been shared with you.

      ul
        +inpageLinkItem("#share", shareText)
        +inpageLinkItem("#accept", acceptText)

      +sectionHead("share", shareText)
      div(class="section-contents") 
        div(class="subsection-contents")
          |To share one of your schedules select the schedule and the user with whom to share it.  You can optionally add a comment that will
          |be included with your message and the share information. When you're ready press the "Share the selected schedule" button.
          br
          br
          |Hover over the 
          +hotspotIcon 
          |icon to learn what each field is for
        div(class='subsection-contents')
          +snapshot("sharing_sharewith_001.png", 500, "", [
            {location: "left: 16.1em; top: 1.8em;", text: "select a schedule to share"},
            {location: "left: 26.1em; top: 1.8em;", text: "select the user with whom to share the schedule"},
            {location: "left: 32.1em; top: 1.8em;", text: "click here when you're ready to share"},
            {location: "left:  5.3em; top: 3.9em;", text: "(optional) add a comment to include with the schedule"}
          ])

      +sectionHead("accept", acceptText)
      div(class="section-contents") 
        div(class="subsection-contents")
          |Once a schedule has been shared with you, you have the option of accepting or deleting it.
          br
          |You can see how many schedules are in this "waiting to be accepted" stage any time by
          |noting if there's a number above the 
          +pageName("Sharing")
          |option on the navigation bar
        div(class='subsection-contents')
          +snapshot("sharing_sharecount_001.png", 350)
        br
        div(class='subsection-contents')
          |Information about each schedule that has been shared with you is listed on the 
          +pageName("Sharing")
          |page. You can accept a schedule, assigning it a new name, or choose to remove it from your list. 
          br
          br
          |Hover over the 
          +hotspotIcon 
          |icon to learn what each field is for
        div(class='subsection-contents')
          +snapshot("sharing_accept_001.png", 800, "", [
            {location: "left: 0.5em; top: 2.5em;", text: "click here to accept the shared schedule, adding it to your list"},
            {location: "left: 9.5em; top: 2.5em;", text: "timestamp of when the schedule was shared"},
            {location: "left: 17.5em; top: 2.5em;", text: "the user who shared the schedule"},
            {location: "left: 35.5em; top: 2.5em;", text: "the original name of the schedue - you can change this when accepting"},
            {location: "left: 49.5em; top: 2.5em;", text: "remove the schedule from your list (only visible when you hover)"},
            {location: "left: 18.2em; top: 5.0em;", text: "display the comment attached to this shared schedule"}
          ])
        br
        br
        div(class='subsection-contents')
          |When you choose to accept a schedule you can specify the name you'll use for it
          |and comfirm (or cancel) your acceptance.  Once it's accepted, you can find it in
          |your list of schedules on the 
          +pageName("Scheduling")
          |page
        div(class='subsection-contents')
          +snapshot("sharing_accept_002.png", 350)
          
