mixin cluesContainer()
  .row
    .col-sm(class="clues-table-container") 
      table(class="table table-striped table-hover table-sm")
        thead(class="table-primary")
          th
            i(class="add-icon fas fa-plus" title="add row")
          th prompt
          th response
          th confirmation
          th action
          th

        tbody(class="clues-table-body")

  .row(class='clues-editor-container')
    .col-sm
      .container-fluid      
        .row(class="mb-3")
          .col-sm
            .form-floating
              input(type="text" class="form-control input-prompt" id="inputPrompt")
              label(for="inputPrompt") prompt

          .col-sm
            .form-floating
              input(type="text" class="form-control input-response" id="inputResponse")
              label(for="inputResponse") correct response

        .row(class="mb-3")
          .col-sm
            .form-floating(class="mb-1")
              select(class="form-select select-action" id="selectAction" aria-label="select action")
                option(value="none") none
                option(value="effect") special effect
                option(value="google_search") suggest a Google search
                option(value="url") suggest a URL
              label(for="selectAction") choose the action
                            
            .form-floating(class="mb-1")
              input(type="text" class="form-control input-searchfor" id="inputSearchFor")
              label(for="inputSearchFor") search for...

            .form-floating(class="mb-1")
              input(type="text" class="form-control input-url" id="inputURL")
              label(for="inputURL") enter the URL     

            .form-floating(class="mb-1")
              select(class="form-select select-effect" id="selectEffect" aria-label="select effect")
                option(value="bouncing_text") bouncing text
                option(value="cannon_text") cannon text
                option(value="fireworks") fireworks
              label(for="selectEffect") choose the effect type

            .form-floating(class="mb-1")
              input(type="text" class="form-control input-effectmessage" id="inputEffectMessage")
              label(for="inputMessage") message for the effect     

          .col-sm
            .form-floating
              input(type="text" class="form-control input-confirmation" id="inputConfirmation")
              label(for="inputResponse") confirmation message           

        .row
          .col-sm
            button(class="btn btn-secondary button-clue-okay mx-2 py-1") okay
            button(class="btn btn-secondary button-clue-cancel py-1") cancel
