mixin shareContainer()
  .row
    .col-sm(class="mb-3")
      .share-label student
      button(class="btn btn-secondary btnLinkStudent") link to letter
      button(class="btn btn-secondary btnMessageStudent") formatted message
      
  .row
    .col-sm(class="mb-3")
      .share-label mentor
      button(class="btn btn-secondary btnLinkMentor") link to letter
      button(class="btn btn-secondary btnMessageMentor") formatted message

  .row
    .col-sm
      .copy-message    