/*------------------------------------------------------------
 * style settings for Treasure Hunt project
 *------------------------------------------------------------*/
body {
  color: black;
  background-color: white;
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 15px;
}

.binary-conversion {}

.binary-conversion .contents {
  display: inline-block;
  background-color: var(--bgOverall);  
  border: 1px solid var(--bgTertiaryEmphasis);
  padding: 0.2em 0.4em;
}

/*------------------------------------------------------------
 * title
 *------------------------------------------------------------*/
.binary-conversion .title {
  margin-bottom: 1.0em;
}

.binary-conversion .title .title-text {
  display: inline-block;
  color: white;
  background-color: var(--bgPrimaryEmphasis);
  border: 1px solid var(--bgPrimaryEmphasis);
  border-radius: 0.3em;
  font-size: 1.2em;
  padding: 0.2em 0.4em;
}

/*------------------------------------------------------------
 * target values
 *------------------------------------------------------------*/
.binary-conversion .target {
  margin-bottom: 1.0em;
}

.binary-conversion .target .target-label {
  display: inline-block;
  margin-right: 0.6em;
}

.binary-conversion .target .target-input {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	display: inline-block;
	color: #444;
  font-size: 1.0em;
	line-height: 1.0;
	padding: 0.4em;
  width: 7.5em;
	box-sizing: border-box;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .3em;
	background-color: #fff;
 }
 
/*------------------------------------------------------------
 * binary and decimal display values
 *------------------------------------------------------------*/
.binary-conversion .switch-value {
  display: inline-block;
  width: 4.0em;
  text-align: center;
  background-color: var(--bgTertiaryEmphasis);
  border: 1px solid #444;
  border-radius: 0.3em;
}

.binary-conversion .switch-value .super-me {
  vertical-align: super;
}

.binary-conversion .switches-user {
  margin-top: 0.8em;
}

.binary-conversion .switches-bin .switch-value .switch-label {
  line-height: 1.7em;
}

.binary-conversion .switches-dec .switch-value .switch-label {
  line-height: 2.2em;
}


/*------------------------------------------------------------
 * bit selectors
 *------------------------------------------------------------*/
.binary-conversion .switches-user .switch-container {
  display: inline-block;
  text-align: center;
  width: 3.98em;
  height: 2.0em;
  perspective: 600px;
  margin-right: 0.2em;
}

.binary-conversion .switches-user .switch-container .switch {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  line-height: 2.0em;
}
  
.binary-conversion .switches-user .switch-container .switch .switch-face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;  
  border: 1px solid #444;
  border-radius: 0.3em;  
}

.binary-conversion .switches-user .switch-container .switch .switch-face.switch-on {
  color: white;
  background-color: var(--bgPrimaryEmphasis);
}

.binary-conversion .switches-user .switch-container .switch .switch-face.switch-off {
  background-color: white;
  transform: rotateY(180deg);
}

.binary-conversion .switches-user .switch-container .switch:not(.switch-selected) {
  transform: rotateY(180deg);
}

/*------------------------------------------------------------
 * sum arrows
 *------------------------------------------------------------*/
.binary-conversion .arrow-container {
  margin-top: 1.0em;
}

.binary-conversion .arrow-container .arrow {
  border: 1px solid transparent;
  width: 4.0em;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.binary-conversion .arrow-container .arrow.invisible-me {
  visibility: hidden;
}

.binary-conversion .arrow-container .arrow .arrow-icon {
  transform: scale(1, 2.0);
}

/*------------------------------------------------------------
 * sum values
 *------------------------------------------------------------*/
.binary-conversion .sum-container {
  display: inline-block;
  vertical-align: text-bottom;
}

.binary-conversion .sum-container .sum-value {
  border: 1px solid transparent;
  width: 4.0em;
  height: 2.0em;
  display: inline-block;
  text-align: center;
  font-weight: bold;
}

.binary-conversion .sum-container .sum-value.invisible-me {
  visibility: hidden;
}

.binary-conversion .sum-container .sum-value .sum-label {}

/*------------------------------------------------------------
 * instructions
 *------------------------------------------------------------*/
.binary-conversion .instructions {
  margin-bottom: 1.0em;
}

.binary-conversion .instructions .instructions-text {}

/*------------------------------------------------------------
 * totals
 *------------------------------------------------------------*/
.binary-conversion .total {}

.binary-conversion .total .total-section {
  display: inline-block;
}

.binary-conversion .total .total-section.total-label {
  margin-right: 0.4em;
}

.binary-conversion .total .total-section.total-value {
  background-color: white;
  border: 1px solid var(--bgTertiaryEmphasis);
  border-radius: 0.3em;
  width: 5.0em;
  text-align: center;
  margin-right: 1.0em;
  padding: 0.4em 0.2em;
}

.binary-conversion .total .total-section.total-status {
  padding: 0.2em 0.4em;
  width: 10.0em;
}

.binary-conversion .total .total-section.total-status.correct {
  color: white;
  background-color: var(--bgCorrect);
  border: 1px solid var(--bgCorrect);
  border-radius: 0.3em;
  width: 6.0em;
  margin-right: 3.9em;
  text-align: center;
}

.binary-conversion .total .reset {
  float: right;
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 1.0em;
  height: 2.2em;
  width: 4.8em;
  color: white;
  background-color: var(--bgSecondaryChoice);
  border: 1px solid #444;
  border-radius: 0.3em;
  outline: none;
  margin-left: 0.4em;
}
 

