doctype html
html
  head
    title InstructorTips shared schedule
    meta(charset="utf-8")
    style
      include ../styles/schedule_share.css
      
  body  
    - var userTo = params.userTo
    - var userFrom = params.userFrom
    - var scheduleName = params.scheduleName
    - var comment = params.comment
    
    .container 
      .salutation
        |Hello #{userTo},

      .message.message-share
        |#{userFrom} shared a schedule with you in the InstructorTips application.
        
      .schedule
        .schedule-name
          strong
            |#{scheduleName}
          
        if comment  
          .schedule-comment
            em
              |comment: 
            |#{comment}
        
      .message.message-action
        |You can use the app to either accept or delete the schedule at your convenience.