include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug
include ../../common/pug/navbar-mixins.pug
include ../../common/pug/jquery-mixins.pug

include ./mixins/mixins-editor.pug
include ./mixins/mixins-mapper.pug
include ./mixins/mixins-profile.pug

doctype html
html(lang="en")
  head
    title FAQ composer
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    +fontawesome()
    +bootstrapstyle()
    
    script(src="/scripts/commonmark_min.js") 
    
    style
      include ../../common/styles/jqtree.css
      include ../../common/styles/classTreeManager.css
      include ../styles/faq-composer.css
    
    +addJQuery()
    script(data-main="/scripts/faq-composer/require_faq-composer", src="/scripts/require.js")      \
    
  body(class="colorscheme")
    - var menuParams = {};
    +makeNavbar("FAQ composer", 
      {
        items: [
          {id: "navEditor", type: "link", label: "editor"},
          {id: "navMapper", type: "link", label: "mapper"},
          {type: "dropdown", label: "options", items: [
            {id: "navHelp", type: "link", label: "help"},
            {id: "navSignout", type: "link", label: "sign out"},
          ]}
        ],
        
        buttons: [
          {id: 'navSave', label: 'save'},
          {id: 'navReload', label: 'reload'}
        ],
        
        profile: true
      }
    )
    
    .contents
      .container-fluid(class="contents-container contents-navEditor hide-me")
        +editorContainer()

      .container-fluid(class="contents-container contents-navMapper hide-me")
        +mapperContainer()
        
      .container-fluid(class="contents-container contents-navProfile hide-me")
        +profileContainer()
