doctype html
html(lang="en")
  head
    title help - TinyMCE test
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    script(src='https://cdn.tiny.cloud/1/ilhkd30p3n59d9tztl5424xgsewe5n8oex22x3uwg0ucxc0i/tinymce/5/tinymce.min.js' referrerpolicy="origin")
    script(src="/scripts/faq-composer/tinyMCE-test.js")

    body()
      h3 TinyMCE test
      
      div(class='tinyMCE-container')
        textarea(id="mytextarea" name="mytextarea") Hello, World!
