include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug

doctype html
html(lang="en")
  head
    title help - FAQ composer help
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    +fontawesome()
    +bootstrapstyle()     
    
    body()
      h3 FAQ composer help
      div under construction