mixin signature
  div
    |Regards,
    br
    |Kevin Santer
    br
    |lead instructor, Career and Technical Education
    br
    strong P: 
    |734.999.0587
    br
    strong E: 
    |ksanter@michiganvirtual.org

mixin makelink(url, label)
  a(href=url, target="_blank")= label
