/*-------------------------------------------------------------------
 * color scheme pacing guide viewer
 *------------------------------------------------------------------*/

.pgviewer-colorscheme {
  --MVdeepteal: #093c44;
  --MVdarkteal: #115e6e;
  --MVlightteal: #2f8d98;
  --MVgreen: #b5cd34;
  --MVorange: #f7941e;
  --MVdarkgray: #414042;
  --MVlightgray: #6d6e71;
  --MVwhite: #ffffff;
}
