mixin editorContainer()
  .row
    .col-sm-3(class="hierarchy-container" id="editorHierarchy")
      label(for="editorHierarchy" class="col col-form-label col-form-label") FAQ items
    
    .col-sm
      .container-fluid(class="p-0")
        .row(class="p-0"): col-sm(class="navEditor-item-edit")
          .container-fluid
            .row(class="p-0"): .col-sm
              div(class="input-group mb-3")
                span(class="input-group-text" id="navEditor-itemlabel") item label
                input(type="text" class="navEditor-itemlabel form-control" aria-label="label" aria-describedby="navEditor-itemlabel")
              
              
            .row(class="p-0"): .col-sm
              div(class="form-floating")
                textarea(class="navEditor-itemcontent navEditor-markdown-content form-control" id="navEditor-itemmarkdown" placeholder="enter Markdown for item here")
                label(for="navEditor-itemmarkdown"): em Markdown for item
          
        .row(class="p-0"): col-sm(class="navEditor-item-rendered")
          .container-fluid
            .row: .col-sm
              div(class="navEditor-itemcontent navEditor-rendered-content form-control mt-2 mb-2")

