mixin editorContainer()
  .row
    .col-sm
      .container-fluid
        .row: col-sm
          .container-fluid
            .row
              .col-sm [save]
              .col-sm [reload]
              
        .row: col-sm 
          div(id="editorTree")
    
    .col-sm 
      .container-fluid
        .row: col-sm
          div label
          textarea(placeholder="enter Markdown here")
          
        .row: col-sm
          div label
          div render Markdown here
