/*------------------------------------------------------------------------------
 * Walkthrough Analyzer
 *------------------------------------------------------------------------------*/
.colorscheme {
  --bgPrimary: rgba(66, 98, 150, 1.0);
  --bgShaded: #e9ecef;
  --borderPrimary: #ced4da;
}

body {
  padding-top: 4.0em;
}

.hide-me {
  display: none;
}

/*------------------------------------------------------------------------------
 * navbar
 *------------------------------------------------------------------------------*/
.navbar-brand {
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 1.1em;
}

.navbar .dropdown-item .excel-icon {
  color: #379164;
}

.navbar .dropdown-item.disabled .excel-icon  {
  color: #adb5bd;
}

/*------------------------------------------------------------------------------
 * contents
 *------------------------------------------------------------------------------*/
.contents {
  font-size: 90%;
}

.contents .input-group-text, 
.contents #studentName,
.contents #mentorName {
  font-size: 90%;
}

.contents .disable-container {
  background-color: var(--bgShaded);
  opacity: 50%;
  pointer-events: none;
}

.contents .btn-secondary {
  background-color: var(--bgPrimary);
  color: white;
}

.contents .btn-secondary:disabled {
  background-color: white;
  color: var(--bgPrimary);
  border-color: var(--bgPrimary);
}

.contents .form-check-input {
  cursor: pointer;
}

.contents .form-check-input + label{
  cursor: pointer;
}

.contents .form-check-input:checked {
  background-color: var(--bgPrimary);
  border-color: var(--bgPrimary);
}

.contents .form-check-input:indeterminate {
  background-color: #aaa;
  border-color: var(--bgPrimary);
}

.contents .form-check-input.check-edittype:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e"); 
  box-shadow: none;
  border-color: var(--borderPrimary);  
}

.contents .form-check-input.check-edittype:checked {
  background-color: var(--bgPrimary);
  border-color: var(--bgPrimary);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

/*------------------------------------------------------------------------------
 * contents - navSummary
 *------------------------------------------------------------------------------*/
.contents .contents-navSummary {}

.contents .contents-navSummary .summary-contents {
  width: 80%;
}

.contents .contents-navSummary .walkthrough-zoomitem-container {
  width: 40%;
}

.contents .contents-navSummary .icon-close {
  font-size: 2.0em;
  color: #aaa;
  cursor: pointer;
}
/*------------------------------------------------------------------------------
 * contents - navItems
 *------------------------------------------------------------------------------*/
.contents .contents-navItems {}

.contents .contents-navItems .header-itemname { width: 40%; }
.contents .contents-navItems .header-domain { width: 10%; }
.contents .contents-navItems .header-percentYes { width: 10%; }

.contents .contents-navItems .walkthrough-item-container {
  width: 5%;
}

.contents .contents-navItems .walkthrough-item-container:hover {
  cursor: pointer;
}

.contents .contents-navItems .walkthrough-zoomitem-container {
  width: 40%;
}

.contents .contents-navItems .icon-close {
  font-size: 2.0em;
  color: #aaa;
  cursor: pointer;
}

/*------------------------------------------------------------------------------
 * contents - navConfigure
 *------------------------------------------------------------------------------*/
.contents .contents-navConfigure {}

.contents .contents-navConfigure .googlefile-notselected {
  display: inline-block;
  font-style: italic;
}

.contents .contents-navConfigure .googlefile-link {
  display: inline-block;
}

.contents .contents-navConfigure .btn-secondary {
  vertical-align: top;
  min-width: 10.0em;
}

.contents .contents-navConfigure .uploadfile {
  opacity: 0;
  z-index: -1;
  position: absolute; /* don't let it take up space */
}

.contents .contents-navConfigure .uploadfile-label {
  color: white;
  background-color: var(--bgPrimary);
  border: 1px solid var(--bgPrimary);
  cursor: pointer;
}

.contents .contents-navConfigure .upload-result {
  display: inline-block;
  font-style: italic;
}

.contents .contents-navConfigure .config-label {
  font-weight: bold;
}

.contents .contents-navConfigure .dataset {
}

.contents .contents-navConfigure .dataset .dataset-checkbox {
  display: inline-block;
  cursor: pointer;
}

.contents .contents-navConfigure .dataset .dataset-checkbox:checked {
  background-color: var(--bgPrimary);
  border-color: var(--bgPrimary);
}

.contents .contents-navConfigure .dataset .dataset-name {
  display: inline-block;
}

.contents .contents-navConfigure .dataset .dataset-icon {
  display: inline-block;
  visibility: hidden;
  cursor: pointer;
  color: var(--bgPrimary);
  vertical-align: middle;  
}

.contents .contents-navConfigure .dataset:hover .dataset-icon {
  visibility: visible;
}

/*------------------------------------------------------------------------------
 * contents - navAdmin
 *------------------------------------------------------------------------------*/
.contents .contents-navAdmin {}

.contents .contents-navAdmin .configure-fieldset {}

.contents .contents-navAdmin .configure-fieldset legend {
  font-size: 1.0em;
  font-weight: 500;
  float: none; 
  padding: inherit; 
}

/*------------------------------------------------------------------
 * standard error and notice
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/

