mixin helpcontent_Mentors()  
  .helpsection-title mentors

  .helpsection-content
    |With the 
    em: strong mentors 
    |option you can view all of your mentors, organized by term and by section.
    |You can quickly copy an email address, or all of the emails for a section

  .helpsection-imagecontainer
    img(src="https://res.cloudinary.com/ktsanter/image/upload/v1626891597/Roster%20Manager/infodeck_mentorresults.png")

  .helpsection-content
    br
    
  .helpsection-content
    |Here's a demonstration of the mentor option
    
    .helpsection-subcontent(class="demo-video ms-4")
      div(class="ratio ratio-16x9")
        |[video here]
        //iframe(src="https://www.youtube.com/embed/9qv9wCXbanQ" allowfullscreen)