mixin helpcontent_Students()  
  .helpsection-title students

  .helpsection-content
    |With the 
    em: strong students 
    |option you can search for any student in your roster
    
  .helpsection-imagecontainer
    img(src="https://res.cloudinary.com/ktsanter/image/upload/v1626890666/Roster%20Manager/infodeck_studentsearch.png")

  .helpsection-content
    |...and display the current roster information for them. 
    |Here's an example with a few features described in red
    
  .helpsection-imagecontainer
    img(src="https://res.cloudinary.com/ktsanter/image/upload/v1626891267/Roster%20Manager/infodeck_studentresults.png")

  .helpsection-content
    br
    
  .helpsection-content
    |Here's a little more detail on looking up student information 

    .helpsection-subcontent(class="demo-video ms-4")
      div(class="ratio ratio-16x9")
        |[video here]
        //iframe(src="https://www.youtube.com/embed/9qv9wCXbanQ" allowfullscreen)