mixin helpcontent_Other()  
  .helpsection-title other

  .helpsection-imagecontainer
    img(src="https://res.cloudinary.com/ktsanter/image/upload/v1626891884/Roster%20Manager/infodeck_othermenu.png")

  .helpsection-content
    |The "hamburger" menu option includes choices for
    ul
      li
        em roster manager - 
        |opens the Roster Manager application
      li
        em end date manager - 
        |opens the End Date Manager application
      li
        em access key - 
        |allows you to enter the access key connecting this extension to your Roster Manager information.  
        |See the 
        a(href="#anchorSetup") setup
        |&nbsp;section for more details.
      li
        em help - 
        |opens this help site
