mixin helpcontent_Overview()  
  .helpsection-title overview

  .helpsection-content
    |The 
    .logotext infoDeck 
    |&nbsp;Chrome extension lets you quickly retrieve student and mentor data.
    |It's designed to be used with the 
    a(class="rostermanager-link" href="" target="_blank") Roster Manager
    |&nbsp; where you can upload roster info retrieved from the SLP. 
    
  .helpsection-content
    |You can also use 
    .logotext infoDeck 
    |&nbsp;to save notes about students, record a preferred name, and link to the 
    a(class="enddatemanager-link" href="" target="_blank") End Date Manager
    |&nbsp;tool
    
  .helpsection-content
    br
    
  .helpsection-content
    |Here's a demonstration of the primary features
    
    .helpsection-subcontent(class="demo-video ms-4")
      div(class="ratio ratio-16x9")
        |[video here]
        //iframe(src="https://www.youtube.com/embed/glMFWH-2yYo" allowfullscreen)