mixin helpcontent_Overview()  
  .helpsection-title overview

  .helpsection-content
    |The Roster Manager lets you track your student and mentor information.
    |WIth it you can import your data from the SLP and access it all in one place.
    |You can track relevant information for each student, including notes, preferred name and pronouns, welcome letter status, and progress checks.
    |For mentors you can track welcome letters, copy emails, and more.    
  
  .helpsection-content
    span You can also use the Roster Manager in combination with the 
      a(href="https://chrome.google.com/webstore/detail/infodeck/ianckfdalpnojckbiojgclioicpomnpk/related?hl=en" target="_blank") infoDeck extension
      |&nbsp;to quickly access your data whenever you're using a browser
  
  .helpsection-content
    br

  .helpsection-content
    |Here's a demonstration of the Roster Manager
    
    .helpsection-subcontent(class="demo-video ms-4")
      div(class="ratio ratio-16x9")
        iframe(src="https://www.youtube.com/embed/gcCdcjxafPM" allowfullscreen)

