include help_mixins.pug

doctype html
html
  head
    title InstructorTips help - sharing
    meta(charset="utf-8")
    style
      include ../../common/styles/colorscheme.css
      include ../styles/instructortips-help-subpage.css
    
    link(
    rel="stylesheet", 
    href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay",
    crossorigin="anonymous")
      
  body(class="instructortips-colorscheme")
    - var shareText = "sharing a schedule"
    - var acceptText = "accepting a shared schedule"
    
    div(class="instructortips-help sharing")
      +anchorLink("top")  
      div(class="section-contents") 
        div(class="subsection-contents")
        |Once you have a schedule configured to your liking you may want to share it with another instructor.
        |The 
        +pageName("Sharing") 
        |option is where you can share schedules with others and accept those that have been shared with you.

      ul
        +inpageLinkItem("#share", shareText)
        +inpageLinkItem("#accept", acceptText)

      +sectionHead("share", shareText)
      div(class="section-contents") 
        div(class="subsection-contents")
          |To share one of your schedules select the schedule and the user with whom to share it.  You can optionally add a comment that will
          |be included with your message and the share information. When you're ready press the "Share the selected schedule" button.
          br
          br
          |Hover over the image to learn what each feature is for:
        div(class='subsection-contents')
          +snapshot("sharing_sharewith_001.png", 500, "", [
            {location: "left:  0.9em; top:  2.2em; width: 21.1em; height:  2.3em;", text: "select a schedule to share"},
            {location: "left: 22.4em; top:  2.2em; width: 13.8em; height:  2.3em;", text: "select the user with whom to share the schedule"},
            {location: "left: 36.4em; top:  2.3em; width:  2.1em; height:  1.9em;", text: "click here when you're ready to share"},
            {location: "left:  0.9em; top:  4.7em; width: 28.3em; height:  2.3em;", text: "(optional) add a comment to include with the schedule"}
          ])

      +sectionHead("accept", acceptText)
      div(class="section-contents") 
        div(class="subsection-contents")
          |Once a schedule has been shared with you, you have the option of accepting or deleting it.
          br
          |You can see how many schedules are in this "waiting to be accepted" stage any time by
          |noting if there's a number above the 
          +pageName("Sharing")
          |option on the navigation bar
        div(class='subsection-contents')
          +snapshot("sharing_sharecount_001.png", 350)
        br
        div(class='subsection-contents')
          |Information about each schedule that has been shared with you is listed on the 
          +pageName("Sharing")
          |page. You can accept a schedule, assigning it a new name, or choose to remove it from your list. 
          br
          br
          |Hover over the image to learn what each feature is for:
        div(class='subsection-contents')
          +snapshot("sharing_accept_001.png", 800, "", [
            {location: "left:  1.4em; top:  3.1em; width:  1.5em; height:  1.7em;", text: "click here to accept the shared schedule, adding it to your list"},
            {location: "left:  3.2em; top:  3.2em; width:  8.6em; height:  1.7em;", text: "timestamp of when the schedule was shared"},
            {location: "left: 12.6em; top:  3.2em; width:  9.0em; height:  1.7em;", text: "the user who shared the schedule"},
            {location: "left: 24.4em; top:  3.2em; width: 19.0em; height:  1.7em;", text: "the original name of the schedue - you can change this when accepting"},
            {location: "left: 60.2em; top:  3.1em; width:  1.4em; height:  1.9em;", text: "remove the schedule from your list (only visible when you hover)"},
            {location: "left: 22.6em; top:  5.8em; width:  1.8em; height:  2.0em;", text: "display the comment attached to this shared schedule"}
          ])
        br
        br
        div(class='subsection-contents')
          |When you choose to accept a schedule you can specify the name you'll use for it
          |and comfirm (or cancel) your acceptance.  Once it's accepted, you can find it in
          |your list of schedules on the 
          +pageName("Scheduling")
          |page
        div(class='subsection-contents')
          +snapshot("sharing_accept_002.png", 350, "", [
            {location: "left:  0.9em; top:  6.1em; width: 26.2em; height:  2.0em;", text: "enter the name you'd like to use for this schedule"}
          ])
          
