include help_mixins.pug

doctype html
html
  head
    title InstructorTips help - notification
    meta(charset="utf-8")
    style
      include ../../common/styles/colorscheme.css
      include ../styles/instructortips-help-subpage.css
      
  body(class="instructortips-colorscheme")
    - var shareText = "notifications for shared schedules"
    - var reminderText = "schedule reminder notifications"
    
    div(class="instructortips-help notification")
      +anchorLink("top")      
      div(class='section-contents') 
        div(class="subsection-contents")
          |With the 
          +pageName("Notification") 
          |option you can specify what notifications you'd like to receive and when.
      
      ul
        +inpageLinkItem("#share", shareText)
        +inpageLinkItem("#reminder", reminderText)
        
      +sectionHead("share", shareText)
      div(class="section-contents") 
        div(class="subsection-contents")
          |Choose whether or not you want to receive an email when a schedule is shared with you.
          |Regardless of the setting you'll still receive shared schedules in InstructorTips.
          br
          |You can learn more about accepting shared schedules in the help for the 
          +pageName("Sharing") 
          |page.
        div(class='subsection-contents')
          +snapshot("notification_share_001.png", 350)
        
      +sectionHead("reminder", reminderText)
      div(class="section-contents") 
        div(class="subsection-contents")
          |Choose what day(s) you'd like to receive reminder emails for each schedule.
          |You can choose more than one day, and you can also select no days if you'd rather not receive reminders.
          br
          br
          |In this example the instructor will receive informaton about one schedule each Sunday and about the other two each Monday.
        div(class='subsection-contents')
          +snapshot("notification_reminder_001.png", 500)
        br
        |You'll receive a single email for each day selected, providing a list of the tips you've scheduled 
        |to be checked off by the current date, but haven't yet marked as complete.
        |based on the current date and the scheduled date.
        br
        |Here's a portion of what that message might look like
        div(class="subsection-contents")
          +snapshot("notification_reminder_002.png", 400)
