mixin optionsContainer()
  .row
    .col-sm
      div(class="d-flex calendar-selection-container") 
        div(class="input-group mb-3")
          div(class="input-group-prepend")
            label(class="input-group-text" for="inputCalendarSelect") calendar
          
          select(class="custom-select calendar-selection w-50" id="inputCalendarSelect")
          
  .row
    .col-sm
      .form-check
        input(class="form-check-input" type="checkbox" value="" id="flexCheckDefault")
        label(class="form-check-label" for="flexCheckDefault") email notification
        
      .form-check
        input(class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked)
        label(class="form-check-label" for="flexCheckChecked") popup notification
          