mixin debugContainer()
  .row
    .col-sm: strong Debug
            
  .row
    .col-sm
      .eventlist-container

  .row
    .col-sm
      button(class="btnSignout") Google signout

  .row
    .col-sm
      button(class="btnAddEvent") add event

  .row
    .col-sm
      button(class="btnDeleteEvent") delete event
          
  .row
    .col-sm
      button(class="btnTestDB") test DB

  .row
    .col-sm &nbsp;

  .row
    .col-sm
      .result-container

