mixin optionsContainer()
  .row(class="mb-3")
    .col-sm-5
      .notification-container 
        .notification-container-label notifications
        
        .form-check
          input(class="form-check-input notification-check email-check" type="checkbox" value="email-check" id="checkEmail")
          label(class="form-check-label" for="checkEmail") email
          
          .form-check
            input(class="notification-number email-number" type="number" value="1" id="numberEmail" min="1" max="120" disabled)
            label(class="form-check-label notification-label px-1" for="numberEmail") hours

        .form-check
          input(class="form-check-input notification-check popup-check" type="checkbox" value="1" id="checkPopup")
          label(class="form-check-label" for="checkPopup") popup
          
          .form-check
            input(class="notification-number popup-number" type="number" value="1" id="numberPopup"  min="1" max="120" disabled)
            label(class="form-check-label notification-label px-1" for="numberPopup") hours
            
        button(class="btn btn-secondary button-notification-save mt-2 py-1" disabled) save

  .row(class="mb-3")
    .col-sm-5
      div(class="d-flex calendar-selection-container") 
        div(class="input-group")
          div(class="input-group-prepend")
            label(class="input-group-text" for="inputCalendarSelect") calendar
          
          select(class="custom-select calendar-selection w-75" id="inputCalendarSelect")
          
  .row(class="mb-3")
    .col-sm-5
      label(for="file-upload" class="uploadfile-label p-2 mt-2 mb-3" title="choose enrollment report file to process") upload enrollment resport
      input(type="file" class="uploadfile" id="file-upload" accept=".xlsx")

