mixin managerContainer()
  .row
    .col-sm: strong Manage

  .row
    .col-sm
      .section-label source of end dates
      
  .row
    .col-sm
      .form-check
        input(class="form-check-input enddate-option" type="radio" name="enddate-source" id="enddate-calender" checked)
        label(class="form-check-label" for="enddate-calender") calendar
        
      .form-check
        input(class="form-check-input enddate-option" type="radio" name="enddate-source" id="enddate-enrollment")
        label(class="form-check-label" for="enddate-enrollment") enrollment report

        input(type="file" class="uploadfile" id="file-upload" accept=".xlsx" disabled)
        label(for="file-upload" class="uploadfile-label" title="choose enrollment report file to process") choose file...

  .row
    .col-sm(class="eventlist-container")
      table(class="table table-striped table-hover table-sm")
        thead(class="table-primary")
          th student
          th section
          th end date
          th

        tbody(class="eventlist-body")
