mixin adminContainer()   
  .row(class="py-2")
    .col-sm
      button(class="btnSignout" title="sign out from Google") Google signout

  .row(class="py-2")
    .col-sm
      button(class="btnCleanup" title="clean out obsolete overrided") clean out obsolete data

  .row(class="py-2")
    .col-sm
      button(class="btnRemoveEvents" title="remove all calendar events for current calendar") remove events

  .row(class="py-2")
    .col-sm
      button(class="btnToggleAdmin" title="toggle admin menu option") toggle admin

  .row(class="py-2")
    .col-sm
      button(class="btnTest") test

