mixin optionsContainer()
  .row
    .col-sm Options

  .row
    .col-sm
      div(class="d-flex calendar-selection-container") 
        div(class="input-group mb-3")
          div(class="input-group-prepend")
            label(class="input-group-text" for="inputCalendarSelect") calendar
          
          select(class="custom-select calendar-selection w-50" id="inputCalendarSelect")
          