include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug
include ../../common/pug/jquery-mixins.pug

//include ./mixins/mixins-admin.pug

doctype html
html(lang="en")
  head
    title AP CSP resources
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    +fontawesome()
    +bootstrapstyle()
    
    style
      include ../styles/apcsp.css
    
    +addJQuery()
    script(data-main="/scripts/apcsp/require_apcsp", src="/scripts/require.js")      \
    
  body(class="colorscheme")
    .contents
      .error-container
      
      .title AP CS Principles resources
      
      .resource-container
        .resource
          a(class="resource-link" href="binary-conversion") binary conversion with decimals
 
