/*--------------------------------------------------------*/
/* image flipper styling                                  */
/*--------------------------------------------------------*/
body {
	color: black;
	background-color: white;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
}

.flipper .hide-me {
  display: none;
}

/*-----------------------------------------------------*/
/* standard notice                                     */
/*-----------------------------------------------------*/
.standard-notice {
  font-style: italic;
}

#noticeSpinner {
  font-size: 1.0em;
  margin-left: 0.2em;
}

/*-----------------------------------------------------*/
/* contents                                            */
/*-----------------------------------------------------*/
.flipper .contents {
  width: 600px;
  height: 400px;
}

/*-----------------------------------------------------*/
/* title and subtitle                                  */
/*-----------------------------------------------------*/
.flipper .contents .flipper-title {
  background-color: var(--flipper-color2);
  width: 100%;  
  border: 1px solid var(--flipper-color1);
  padding: 0.2em 0;
}

.flipper .contents .flipper-title .flipper-title-text {
  display: inline-block;
  color: var(--flipper-color3);
  font-size: 18px;
  margin-left: 0.2em;
}

.flipper .contents .flipper-title .flipper-button {
  float: right;
  font-size: 12px;
  border-radius: 3px;
  background-color: var(--flipper-color3);
  color: var(--flipper-color2);
  border: 1px solid var(--flipper-color3);
  margin: 0.4em 0.4em 0 0.4em;
}

.flipper .contents .flipper-subtitle {
  width: 100%;
  margin: 0.8em 0;
}

.flipper .contents .flipper-subtitle .flipper-subtitle-text {
  font-size: 14px;
  color: var(--flipper-color1);
  margin-left: 0.2em;
}

/*-----------------------------------------------------*/
/* the flipper itself                                  */
/*-----------------------------------------------------*/
.flipper-card {
  width: 100%;
  height: 100%;
  
  perspective: 1000px;
}

.flipper-card .flipper-card-inner {
  width: 100%;
  height: 100%;   
  
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipper-card.flipped .flipper-card-inner {
  transform: rotateY(180deg);
}

.flipper-card .flipper-card-inner .flipper-card-front  {
  width: 100%;
  height: 100%;
  
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;  
}

.flipper-card .flipper-card-inner .flipper-card-back  {
  width: 100%;
  height: 100%;
  
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; 
  transform: rotateY(180deg);  
}

.flipper-card .flipper-card-inner .flipper-card-front .flipper-card-table {
  width: 100%;
  height: 100%;
  background-color: var(--flipper-color3);
}

.flipper-card .flipper-card-inner .flipper-card-front .flipper-card-table td {
  text-align: center;
}

/*-----------------------------------------------------*/
/* individual button front                             */
/*-----------------------------------------------------*/
.flipper-card .flipper-card-inner .flipper-card-front .front {
  background-color: var(--flipper-color2);
  border: 1px solid var(--flipper-color1);
  border-radius: 6px;
  color: var(--flipper-color3);
  width: 90%;  
  height: 90%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}

@-moz-document url-prefix() {
  .flipper-card .flipper-card-inner .flipper-card-front .front {
    height: 90px;
  }
}

.flipper-card .flipper-card-inner .invisible {
  visibility: hidden;
}

/*-----------------------------------------------------*/
/* individual card back (images)                       */
/*-----------------------------------------------------*/
.flipper-card .flipper-card-inner .back {
  width: 100%;
}

.flipper-card .flipper-card-inner .back img {
  width: 100%;
  height: auto;
}
