/*--------------------------------------------------------*/
/* image flipper styling                                  */
/*--------------------------------------------------------*/
body {
	color: black;
	background-color: white;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
}

.flipper .hide-me {
  display: none;
}

/*-----------------------------------------------------*/
/* contents                                            */
/*-----------------------------------------------------*/
.flipper .contents {
  width: 600px;
  height: 400px;
}

/*-----------------------------------------------------*/
/* title and subtitle                                  */
/*-----------------------------------------------------*/
.flipper .contents .flipper-title {
  background-color: var(--flipper-color2);
  width: 100%;  
  border: 1px solid var(--flipper-color1);
  padding: 0.2em 0;
}

.flipper .contents .flipper-title .flipper-title-text {
  display: inline-block;
  color: var(--flipper-color3);
  font-size: 18px;
  margin-left: 0.2em;
}

.flipper .contents .flipper-title .flipper-button {
  float: right;
  font-size: 12px;
  border-radius: 3px;
  background-color: var(--flipper-color3);
  color: var(--flipper-color2);
  border: 1px solid var(--flipper-color3);
  margin: 0.4em 0.4em 0 0.4em;
}

.flipper .contents .flipper-subtitle {
  width: 100%;
  margin: 0.8em 0;
}

.flipper .contents .flipper-subtitle .flipper-subtitle-text {
  font-size: 14px;
  color: var(--flipper-color1);
  margin-left: 0.2em;
}

/*-----------------------------------------------------*/
/* the flipper itself                                  */
/*-----------------------------------------------------*/
.flipper .contents .flipper-container {
  width: 100%;
  height: 100%;
}

.flipper .contents .flipper-container .flipper-card {
  width: 100%;
  height: 100%;
}

.flipper .contents .flipper-container .flipper-card .flipper-card-table {
  width: 100%;
  height: 100%;
  background-color: var(--flipper-color3);
}

.flipper .contents .flipper-container .flipper-card .flipper-card-table td {
  text-align: center;
}

/*-----------------------------------------------------*/
/* individual card front                               */
/*-----------------------------------------------------*/
.flipper .contents .flipper-container .flipper-card .card-front {
  background-color: var(--flipper-color2);
  border: 1px solid var(--flipper-color1);
  border-radius: 6px;
  color: var(--flipper-color3);
  width: 90%;
  height: 90%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
}

.flipper .contents .flipper-container .flipper-card .card-front.invisible {
  visibility: hidden;
}

/*-----------------------------------------------------*/
/* individual card back                                */
/*-----------------------------------------------------*/
.flipper .contents .flipper-container .flipper-card .card-back {}

.flipper .contents .flipper-container .flipper-card .card-back img {
  width: 100%;
  height: auto;
}

/*
.flipper .main-container {
	width: 600px;
	height: 500px;
}

.flipper .flipper-card {
  --flip-time: 0.6s;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform var(--flip-time);
  -moz-transition: -moz-transform  var(--flip-time);
  -o-transition: -o-transform  var(--flip-time);
  transition: transform  var(--flip-time);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}

.flipper .flipper-card div {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 50px;
  color: var(--flipper-color3);
  text-align: center;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipper .flipper-card .front {
  border: 1px solid var(--flipper-color1);
  font-size: 40px;
  font-weight: bold;
}

.flipper .flipper-card .back {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
  font-size: 20px;
}

.flipper .flipper-card.flipped {
  -webkit-transform: rotateY( 180deg );
  -moz-transform: rotateY( 180deg );
  -o-transform: rotateY( 180deg );
  transform: rotateY( 180deg );
}

.flipper .flipper-control-cell {
  text-align: right;
}

.flipper .flipper-card-table {
  width: 100%;
  height: 100%;
  background-color: var(--flipper-color3);
}

.flipper .flipper-card-button {
  background-color: var(--flipper-color2);
  border: 1px solid var(--flipper-color1);
  border-radius: 6px;
  color: var(--flipper-color3);
  width: 90%;
  height: 90%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px
}

.flipper .notice {
	color: blue;
	font-size: 14px;
	font-style: italic;
}
*/