/*-----------------------------------------------------*/
/* styling for image flipper generator app             */
/*-----------------------------------------------------*/
.flipper-colorscheme {
  --fgPrimary: black;
  --bgPrimary: rgba(66, 98, 150, 1.0);
  --bgSecondary: rgba(66, 98, 150, 0.2);
  --bgTertiary: #eee;
  --borderPrimary: #bbb;
  --diminished: #999;
}

body {
	color: var(--fgPrimary);
	background-color: var(--bgTertiary);
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
	margin-right: 2.0em;
}

.hide-me {
  display: none;
}

/*---------------------------------------------*/
/* navbar additions and overrides              */
/*---------------------------------------------*/
.navbar .dropdown-content div.disarm-me {
  color: var(--borderPrimary);
}

.navbar .dropdown-content div.disarm-me:hover {
  background-color: transparent;
}

.navbar .navbar-main-item.disarm-me {
  color: var(--borderPrimary);
}

.navbar li.navbar-item:not(.navbar-selected):hover {
  background-color: var(--bgTertiaryChoice);
}

.navbar li.navbar-item.disarm-me:hover {
  background-color: var(--bgPrimaryEmphasis);
}

.navbar li.navbar-item.navbar-title:hover {
  background-color: var(--bgPrimaryEmphasis);
}

.navbar li.navbar-item.username:hover {
  background-color: var(--bgPrimaryEmphasis);
}


/*---------------------------------------------*/
/* contents                                    */
/*---------------------------------------------*/
.contents {
  margin-top: 3.0em;
}

/*-------------------------------------------------------------------
 * controls
 *------------------------------------------------------------------*/
.contents .controls {}

.contents .controls .control-label {
  vertical-align: top;
}

.contents .controls input {
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
}

.contents .controls .control-selection {
  font-size: 1.0em;
	width: 32.0em;
  padding: 0.2em;  
}

.contents .controls .save-project {
  color: white;
  background-color: var(--bgPrimary);
  margin-left: 0.4em;
  margin-bottom: 1.0em;
}

.contents .controls .save-project:disabled {
  color: var(--borderPrimary);
  background-color: transparent;
}

.contents .controls .control-color {
  color: var(--flipper-color3);
  background-color: var(--flipper-color2);
  border: 1px solid var(--flipper-color1);
  cursor: pointer;
  width: 6.0em;
  text-align: center;
  padding: 0.2em;
}

.contents .controls .color-options {
  margin-top: 0.2em;
}

.contents .controls .color-options .color-sample {
  color: var(--flipper-color3);
  background-color: var(--flipper-color2);
  border: 1px solid var(--flipper-color1);
  cursor: pointer;
  width: 6.0em;
  text-align: center;
  padding: 0.2em;
}

.contents .controls .control-layout {
  font-size: 1.0em;
	width: 7.0em;
  padding: 0.2em;
}

/*-------------------------------------------------------------------
 * preview
 *------------------------------------------------------------------*/
.contents.contents-preview {
  margin-top: 4.0em;
  overflow-y: hidden;
}

.contents.contents-preview .preview-frame {
  width: 650px;
  height: 550px;
  overflow-y: hidden;
  border: none;
}

/*-------------------------------------------------------------------
 * share
 *------------------------------------------------------------------*/
.contents.contents-share {
  margin-top: 4.0em;
}

.contents.contents-share .share-item {
  margin-bottom: 1.0em;
}

.contents.contents-share .share-item .share-item-text {
  display: inline-block;
  width: 4.0em;
  vertical-align: top;
}

.contents.contents-share .share-item .share-link {
  width: 28.0em;
}

.contents.contents-share .share-item .share-button {
  color: white;
  background-color: var(--bgPrimaryEmphasis);  
  vertical-align: top;
  margin-left: 0.4em;
}

.contents.contents-share .share-item .copy-message {
  color: var(--bgPrimaryEmphasis);
  font-style: italic;
}

/*-------------------------------------------------------------------
 * layout
 *------------------------------------------------------------------*/
.contents .layout {}

.contents .layout table { }

.contents .layout .cardbutton {
  color: white;
  background-color: var(--bgPrimary);
  border: 1px solid var(--borderPrimary);
  border-radius: 3px;
  font-size: 1.5em;
  width: 5.0em;
  height: 5.0em;
}

.contents .layout .cardbutton:disabled {
  opacity: 0;
}

.contents .layout .imageurl {
  border: 1px solid red;
}

.contents .layout .swaparea {}

