/*-----------------------------------------------------*/
/* styling for image flipper generator app             */
/*-----------------------------------------------------*/
body {
  padding-top: 4.0em;
}

.hide-me {
  display: none;
}

/*---------------------------------------------*/
/* contents                                    */
/*---------------------------------------------*/
.contents {}

.contents .btn.btn-secondary { /* override Bootstrap */
  color: rgba(66, 98, 150, 1.0);
  background-color: rgba(66, 98, 150, 0.2);
  border-color: rgba(66, 98, 150, 1.0);
  min-width: 4.5em;
}

.contents .btn.btn-secondary.disabled { /* override Bootstrap */
  color: #777;
  background-color: transparent;
  border-color: rgba(66, 98, 150, 0.65);
}

/*---------------------------------------------*/
/* contents - layout                           */
/*---------------------------------------------*/
.contents .contents-navLayout {}

.contents .contents-navLayout .use-colorscheme input {
  color: var(--flipper-color3);
  background-color: var(--flipper-color2);
  border-color: var(--flipper-color1);
}

.contents .contents-navLayout .use-colorscheme label {
  color: var(--flipper-color3);
}

.contents .contents-navLayout .use-colorscheme input:disabled {
  color: #777;
  background-color: #e9ecef;
}

.contents .contents-navLayout .color-options {
  position: absolute;
  width: 100%;
  z-index: 10;
  border: 1px solid #777;
  filter: drop-shadow(6px 5px 7px #777);
}

.contents .contents-navLayout .color-sample {
  color: var(--flipper-color3);
  background-color: var(--flipper-color2);
  border-color: var(--flipper-color1);
  cursor: pointer;
  padding-left: 1.0em;
}

.contents .contents-navLayout .cardbutton {
  color: white;
  background-color: rgba(66, 98, 150, 1.0);
  border: 1px solid #777;
  border-radius: 3px;
  font-size: 1.5em;
  width: 3.5em;
  height: 3.5em;
}

/*---------------------------------------------*/
/* contents - preview                          */
/*---------------------------------------------*/
.contents .contents-navPreview {}

/*---------------------------------------------*/
/* contents - share                            */
/*---------------------------------------------*/
.contents .contents-navShare {}

.contents .contents-navShare .input-embed {
  height: 6.0em;
}

.contents .contents-navShare .copy-message {
  font-style: italic;
}

/*------------------------------------------------------------------
 * standard error and notice
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/
