doctype html
html(lang="en")
  head
    title image flipper
    meta(charset="utf-8")
    
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", crossorigin="anonymous")    

    style
      include ../styles/colorscheme.css
      include ../styles/flipper.css
    
    script(data-main="/scripts/image-flipper/require_flipper", src="/scripts/require.js")    
      
    body(class="flipper")
      .contents(class="hide-me")
      
        .flipper-title
          .flipper-title-text
          button(class="flipper-button") reset
        
        .flipper-subtitle
          .flipper-subtitle-text
        
        .flipper-card
          .flipper-card-inner
            .flipper-card-front
            .flipper-card-back
                
      .prototypes(class='hide-me')
        button(class="card-proto front-proto front flipper-card-button")
        
        div(class="card-proto back-proto back" )
          img(alt="invalid image" src="https://res.cloudinary.com/ktsanter/image/upload/v1612802166/image%20flipper%20resources/invalid_image2.png")


