include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug

doctype html
html(lang="en")
  head
    title Equation test bed
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    +fontawesome()
    +bootstrapstyle()  
    
    style
      include ../styles/test.css
    
    script(data-main="/scripts/equation-editor/require_test", src="/scripts/require.js")      \
    
  body(class="colorscheme")
    .container-fluid(class="contents")
      .row
        .col-sm
          div(class="message")

      .row
        .col-sm
          div(class="target" contenteditable="true")

      .row(class="mt-2")
        .col-sm
          div(class="result")
