|I'm eager to work with you as you support students in my class!  Your role is crucial to their success and I want to support you in any way possible. 
|There is a lot of support information available online within the course and I encourage you to review it when you have the chance. 
|Of particular interest are the  
em Start Here 
|and 
em Getting Help 
|options and the 
em Instructor Info 
|widget. 
|The 
a(href="https://michiganvirtual.org/policies/academic-integrity-policy/" target="_blank") Michigan Virtual Academic Integrity Policy 
|is also an important resource.
