ul(class="section-list")
  li 
    strong Student contact with me: 
    |Please encourage students to use the SLP messaging system to contact me. 
    |They can also get in touch via regular email, voice/text, or by scheduling a 
    a(href="https://calendly.com/ksanter/discussion-based-assessment" target="_blank") video conference
    |. You can find details in the 
    em Instructor Info 
    |section of the course and in this letter.
    
  li 
    strong Technical Support: 
    |You will find a link in the course titled Getting Help which gives information for the 
    a(href="https://michiganvirtual.org/about/support/" target="_blank") Customer Care Center
    |&nbsp;and other resources
    
  li 
    strong Term Dates: 
    |The 
    a(href="https://slp.michiganvirtual.org/PublicWelcome.aspx" target="_blank") SLP
    |&nbsp;is the official source of student start and end dates.  Please contact Customer Care if these appear to be in error.
    |The Michigan Virtual 
    a(href="https://michiganvirtual.org/students/calendar/" target="_blank") Enrollment Calendar
    |&nbsp; lists all the available start, end, and withdrawal dates per term
    
  if apcourse
    li
      strong Pacing: 
      |As this is an AP course there are hard due dates for student work and we won't be using a typical pacing guide. 
      |Instead, students are asked to use the 
      a(href="https://ru-werkinstructies.screenstepslive.com/s/Student/m/brightspace-student-en/l/974486-how-do-i-use-the-calendar", target="_blank")
        em: strong Calendar
      |&nbsp;tool in the Brightspace course.            
      em Please note: 
      |In order to make sure everyone completes the course material in time for the AP exam I need to push 
      |everyone to be on the same schedule. This will ensure students complete all of the course content 
      |by week 16 of the second term. While I am serious about the deadlines I recognize some students will 
      |start later so I will be a little flexible at the beginning of the semester
  else
    li
      strong Pacing: 
      |The SLP provides a tool with personalized pacing guidance, based on a student's start and end dates:  
      a(href="https://michiganvirtual.org/about/support/knowledge-base/what-activities-assignments-should-i-complete-this-week/", target="_blank") using the pacing widget.   
 
  li
    |The 
    a(href="https://michiganvirtual.org/policies/academic-integrity-policy/" target="_blank") Michigan Virtual Academic Integrity Policy
    |&nbsp;is an important resource.      
