ul(class="section-list")
  li The 
    a(href="https://michiganvirtual.org/professionals/mentors/", target="_blank") Mentor Resources 
    |site will help answer many of the questions you might have.
  li Consider joining our 
    a(href="https://plp.mivu.org/", target="_blank") Online Mentor Community 
    |– search for the 
    em Online Mentor Community 
    |and click on 
    em add
  li Please feel free to communicate with me often. I respond quickly to emails and of course I’m also available by phone