ul(class="section-list")
  li I will respond to all student, mentor, and parent messages within 24 hours
  li I will grade all student assignments within 72 business hours and I am generally quicker than that.