|I'm eager to work with you this term and I hope you find online learning enjoyable and interesting. 
|The 
em Instructor Info 
|section of your course lists a number of ways to get in touch. 
|Please contact me whenever you have a question, to tell me how things are going, or just to say hi!
ul(class="section-list")
  li 
    strong Contacting me: 
    |I encourage you to use the Student Learning Portal messaging system to contact me. 
    |You can also get in touch using a number of other methods described in the 
    em Instructor Info 
    |section and in the "business card" above.
    
  li 
    strong Technical Support: 
    |You will find a link in the 
    em: strong Course Quick Access 
    |section titled 
    em Getting Help 
    |which gives information about the Customer Care Center and other resources
    
  li 
    strong Term Dates: 
    |The 
    +linktoslp 
    |is the official source for your 
    a(href="https://res.cloudinary.com/ktsanter/image/upload/v1613234395/welcome%20letter/Find_Your_End_Date_-_small.jpg", target="_blank") start and end dates. 
    |These are critical for you to know. Please contact me if you are not sure of them, and confirm them with your mentor.
    
  li
    strong Pacing: 
    if apcourse
      |As this is an AP course there are hard due dates for your work and we won't be using a typical pacing guide. 
      |Instead, please use the 
      a(href="https://ru-werkinstructies.screenstepslive.com/s/Student/m/brightspace-student-en/l/974486-how-do-i-use-the-calendar", target="_blank")
        em: strong Calendar 
      |tool in your Brightspace course.
      |The
      a(href="https://michiganvirtual.org/about/support/knowledge-base/brightspace-my-progress/", target="_blank") 
        em: strong My Progress 
      |tool is handy for tracking progress too. 
    else
      |In the SLP you'll find a tool giving you personalized pacing guidance, based on your start and end dates.  
      |Here's a link to instructions and information: 
      a(href="https://michiganvirtual.org/about/support/knowledge-base/what-activities-assignments-should-i-complete-this-week/", target="_blank") using the pacing widget. 
      |The
      a(href="https://michiganvirtual.org/about/support/knowledge-base/brightspace-my-progress/", target="_blank") 
        em: strong My Progress 
      |tool is handy for tracking progress too. 
