ul
  li I expect you to log in every weekday. Come to your online course at least as often as you come to your face-to-face classes.
  if (apcourse == 1)
    li I expect you to be familiar with Michigan Virtual's 
      a(href="https://michiganvirtual.org/about/support/knowledge-base/advanced-placement-course-policy/", target="_blank") AP Course Policy.
    li I expect you to effectively manage your time.  There are firm due dates for assignments and late work will be penalized.
  else
    li I expect you to effectively manage your time. While the course is self-paced, I strongly suggest you follow the pacing guide very closely.
  
  li I expect you to complete your own work and to contribute to the class discussions. 
    |You should be familiar with Michigan Virtual’s policies on 
    a(href="https://michiganvirtual.org/policies/academic-integrity-policy/", target="blank") academic integrity
    |&nbsp;and follow them.
  
  li I expect you to check your SLP messages every day.
  
  li I expect you to read the Teacher Feed posts every day.
  
  li I expect you to be respectful and considerate when communicating and working with classmates      
