doctype html
html
  head
    title InstructorTips shared schedule wrapper
    meta(charset="utf-8")
      
  body  
    - var imageFileCID = params.imageFileCID
    - var appURL = params.appURL
    
    div
      |!{imageFileCID}
      |!{appURL}

