body {
	color: black;
	background-color: #eee;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
}

.salutation {}
      
.greeting {}

.schedule {
  margin-top: 1.0em;
  margin-bottom: 2.0em;
  border-style: solid;
  border-color: #c9c9c9;
  border-width: 0 1px 1px 1px;  
}

.schedule .schedulename {
  color: white;
  background-color: rgba(66, 98, 150, 1.0);
  padding: 0.2em 0.2em 0.3em 0.2em;  
}

.schedule .scheduletips {
  margin-left: 0.8em;  
}

.schedule .specialcase {
  background-color: white;
  padding: 0.2em 0 0.2em 0.8em;
  max-width: 70%; 
}

.schedule .uptodate {}

.schedule .pastdue {}

.schedule .scheduletips .tipsforweek {
  margin-top: 1.0em;
}

.schedule .scheduletips .tipsforweek .tipsforweeklabel {
  color: white;
  background-color: rgba(66, 98, 150, 1.0);
  display: inline;
  padding: 0 0.3em 0.1em 0.3em;
}

.schedule .scheduletips .tipsforweek .tipdetails {
  max-width: 70%;
  margin-top: -0.8em;
  padding: 0em 0.2em 0em 0.2em;    
}

.schedule .scheduletips .tipsforweek .tipdetails.tipdetails-even {
  background-color: white;
}

.schedule .scheduletips .tipsforweek .tipdetails.tipdetails-odd {
  background-color: transparent;
}
