doctype html
html
  head
    title Pug Test
    meta(charset="utf-8")
    style
      include test.css
      
  body
    .salutation Hello #{name},
      
    .greeting 
      |This is your weekly reminder from 
      a(href='http://localhost:3000/tipsmanager.html') InstructorTips 
      |for the week beginning #{week}, 
      |reporting the tips you scheduled but haven't checked off yet.
      
    .schedule
      .schedulename Kevin schedule #1
      .scheduletips
        .tipsforweek
          .tipsforweeklabel before the term starts
          .tipdetails.tipdetails-even
            |Bon jour, mon frére.<p></p><p>¡Hola Señor!</p>
          .tipdetails.tipdetails-odd
            |a tip of my own
          .tipdetails.tipdetails-even
            |Before beginning the semester, check out <a href="https://docs.google.com/document/d/1vnaFT9yNCRFXIYI2YFl36YACxILQ2OmkBg61liVLYw4/edit?usp=sharing"><span style="background-color: #FFFF00">the schedule</span></a> of department meetings and Byte-Sized PD. Add sessions to your calendar. Your participation is welcome and encouraged!

        .tipsforweek
          .tipsforweeklabel week #1
          .tipdetails.tipdetails-even
            |Introduce yourself to your students. This can either be an announcement, video, message, or something else. Be creative! Show them who you are.
          .tipdetails.tipdetails-odd
            |a tip of my own

        .tipsforweek
          .tipsforweeklabel week #2
          .tipdetails.tipdetails-even
            |Ask students how the course is going so far. Check in on what they need from you to be successful. Remind students of their end date and what that means.
          .tipdetails.tipdetails-odd
            |Check ESRs as you are notified. Apply necessary accommodations in your courses.
      
    .schedule
      .schedulename Kevin schedule #2
      .scheduletips  
        .specialcase.uptodate 
          |Congratulations! You've checked off all the tips scheduled so far.
        
    .schedule
      .schedulename Kevin schedule #3
      .scheduletips  
        .specialcase.pastdue 
          |The current date is later than the end date for your schedule so there are no reminders. 
          |You can use the Notification option in the app to disable notifications for this schedule.