/*-------------------------------------------------------------------
 * styling for welcome letter configuration
 *------------------------------------------------------------------*/
body {
  padding-top: 4.0em;
}

.hide-me {
  display: none;
}

/*-----------------------------------------------------*/
/* contents                                            */
/*-----------------------------------------------------*/
.contents {}

.contents .btn.btn-secondary { /* override Bootstrap */
  color: rgba(66, 98, 150, 1.0);
  background-color: rgba(66, 98, 150, 0.2);
  border-color: rgba(66, 98, 150, 1.0);
  min-width: 4.5em;
}

.contents .btn.btn-secondary.disabled { /* override Bootstrap */
  color: #777;
  background-color: transparent;
  border-color: rgba(66, 98, 150, 0.65);
}

/*------------------------------------------------------------------
 * standard error and notice
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/


