/*-------------------------------------------------------------------
 * styling for welcome letter configuration
 *------------------------------------------------------------------*/
body {
  padding-top: 4.0em;
}

.hide-me {
  display: none;
}

/*-----------------------------------------------------*/
/* contents                                            */
/*-----------------------------------------------------*/
.contents {}

.contents .btn.btn-secondary { /* override Bootstrap */
  color: rgba(66, 98, 150, 1.0);
  background-color: rgba(66, 98, 150, 0.2);
  border-color: rgba(66, 98, 150, 1.0);
  min-width: 4.5em;
}

.contents .btn.btn-secondary.disabled { /* override Bootstrap */
  color: #777;
  background-color: transparent;
  border-color: rgba(66, 98, 150, 0.65);
}

.contents .form-check-input:checked { /* override Bootstrap */
  color: #fff;
  background-color: rgba(66, 98, 150, 1.0);
  border-color: rgba(66, 98, 150, 1.0);
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*-----------------------------------------------------*/
/* contents - preview                                  */
/*-----------------------------------------------------*/
.contents .contents-navPreview {}

.contents .contents-navPreview .allow-label-left {
  display: inline-block;
}

.contents .contents-navPreview .checkbox-label-left {
  display: inline-block;
  padding-right: 0.7em;
}

.contents .contents-navPreview input.double-selection:not(checked) {
  color: #fff;
  background-color: rgba(66, 98, 150, 1.0);
  border-color: rgba(66, 98, 150, 1.0);
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.contents .contents-navPreview .checkbox-label-left, .contents .contents-navPreview .checkbox-label-right {
  cursor: pointer;
}

.contents .contents-navPreview .diminished {
  opacity: 0.5;
}

/*-----------------------------------------------------*/
/* contents - share                                    */
/*-----------------------------------------------------*/
.contents .contents-navShare {}

.contents .contents-navShare .copy-message {
  font-style: italic;
}

/*------------------------------------------------------------------
 * standard error and notice
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/


