/*-------------------------------------------------------------------
 * styling for welcome letter options editor
 *------------------------------------------------------------------*/
body {
	color: var(--fgPrimary);
	background-color: var(--bgTertiary);
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
  margin-right: 2.0em;
}

.hide-me {
  display: none;
}

/*---------------------------------------------*/
/* navbar additions and overrides              */
/*---------------------------------------------*/
.navbar .dropdown-content div.disarm-me {
  color: #bbb;
}

.navbar .dropdown-content div.disarm-me:hover {
  background-color: transparent;
}

.navbar .navbar-main-item.disarm-me {
  color: #bbb;
}

.navbar li.navbar-item:not(.navbar-selected):hover {
  background-color: var(--bgTertiaryChoice);
}

.navbar li.navbar-item.disarm-me:hover {
  background-color: var(--bgPrimaryEmphasis);
}

.navbar li.navbar-item.navbar-title:hover {
  background-color: var(--bgPrimaryEmphasis);
}

.navbar li.navbar-item.username:hover {
  background-color: var(--bgPrimaryEmphasis);
}

/*-----------------------------------------------------*/
/* standard notice                                     */
/*-----------------------------------------------------*/
.standard-notice {
  font-style: italic;
}

#noticeSpinner {
  font-size: 1.0em;
  margin-left: 0.2em;
}

.standard-notice.navbar-notice {
  color: white;
  background-color: var(--bgPrimaryEmphasis);
  position: absolute;
  z-index: 1;
  top: 0.6em;
  right: 13.0em;
}

/*-----------------------------------------------------*/
/* contents                                            */
/*-----------------------------------------------------*/
.contents {
  margin-top: 3.0em;
}


