/*-------------------------------------------------------------------
 * styling for welcome letter
 *------------------------------------------------------------------*/
.colorscheme {
  --MVdeepteal: #093c44;
  --MVdarkteal: #115e6e;
  --MVlightteal: #2f8d98;
  --MVgreen: #b5cd34;
  --MVorange: #f7941e;
  --MVdarkgray: #414042;
  --MVlightgray: #6d6e71;
  --MVwhite: #ffffff;
}

body {
	color: var(--MVblack);
	background-color: #eee;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
  margin-right: 2.0em;
}

a {
  color: #007bff;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/*------------------------------------------------------------
 * header section
 *------------------------------------------------------------*/
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin-top: 0.2em;
}

/*------------------------------------------------------------
 * "business card"
 *------------------------------------------------------------*/
.card {
  display: inline-block;
  background-color: var(--MVwhite);
  border: 1px solid var(--MVlightgray);
  border-radius: 3px;
  padding: 0.2em;
  margin-right: 4.0em;
}

.card .card-logo {
  padding-bottom: 0.2em;
}

.card .card-content {}

.card .card-content .card-image {
  display: inline-block;
  padding-right: 0.2em;
}

.card .card-content .card-image img {
  border: 1px solid transparent;
  border-radius: 5px;
  width: 5.0em;
  height: auto;
}

.card .card-content .card-items {
  display: inline-block;
  vertical-align: top;
}

.card .card-content .card-items .card-item {}

.card .card-content .card-items .card-item .card-subitem {
  padding-left: 3.0em;
}


/*------------------------------------------------------------
 * keypoints
 *------------------------------------------------------------*/
.keypoints {
  display: inline-block;
  background-color: var(--MVwhite);
  border: 1px solid var(--MVlightgray);
  border-radius: 3px;
  flex-basis: 50%;
  padding: 0.2em;
}

.keypoints .keypoints-label {
  font-weight: bold;
}

.keypoints ul {
  margin-top: 0.1em;
}

/*------------------------------------------------------------
 * general sections
 *------------------------------------------------------------*/
.section {}

.section .section-label {
  color: var(--MVdeepteal);
  background-color: var(--MVwhite);
  border: 1px solid var(--MVlightgray);
  border-radius: 3px;
  font-weight: bold;
  padding: 0.2em 0 0.2em 0.2em;
}

.section .section-label.section-label-big {
  color: var(--MVwhite);
  background-color: var(--MVdeepteal);
  border: 1px solid var(--MVwhite);
  font-size: 1.2em;
}

.section .section-list {
  margin-top: 0.1em;
}

.section .section-note {
  margin-bottom: 0.4em;
}