include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug
include ../../common/pug/navbar-mixins.pug
include ../../common/pug/jquery-mixins.pug
include ../../common/pug/tinyMCE-mixins.pug
include ../../common/pug/profile-mixins.pug

include ./mixins/mixins-compose.pug
include ./mixins/mixins-accesskey.pug

doctype html
html(lang="en")
  head
    title CommentBuddy composer
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    +fontawesome()
    +bootstrapstyle()
    +tinyMCEscripts()
    
    style
      include ../../common/styles/navbar-overrides.css
      include ../../common/styles/classProfile.css      
      include ../styles/composer.css
         
    +addJQuery()
    script(data-main="/scripts/commentbuddy/require_composer", src="/scripts/require.js")      \
    
  body(class="colorscheme")
    +makeNavbar("CommentBuddy composer", 
      {
        items: [
          {id: "navComposer", type: "link", label: "compose"},
          {id: "navUpDownload", type: "link", label: "upload/download"},
          {type: "dropdown", label: "other", items: [
            {id: "navAccessKey", type: "link", label: "get access key"},
            {id: "navHelp", type: "link", label: "help"},
            {id: "navSignout", type: "link", label: "sign out"},
          ]}
        ],
        
        buttons: [
          {id: 'navSave', label: 'save'},
          {id: 'navReload', label: 'reload'}
        ],
        
        message: true,
        profile: true
      }
    )
    
    .contents
      .error-container

      .container-fluid(class="contents-container contents-navComposer hide-me")
        +composerContainer()

      .container-fluid(class="contents-container contents-navAccessKey hide-me")
        +accesskeyContainer()

      +ASProfile("myProfile", "contents-container contents-navProfile", "hide-me")
      