- var formname = params.formname
- var description = params.description
- var singleRowError = (typeof description == 'object')
- var error = params.error
- var spreadsheetrow = params.spreadsheetrow

doctype html
html(lang="en")
  head
    title Comment Buddy composer error
    meta(charset="utf-8")
      
  body 
    .titlecontainer(style="font-weight: bold;")
        .titletext CommentBuddy composer - processing error
            
    .error-formname 
      |request type: #{formname}
      
    if (singleRowError)
      |spreadsheet row: #{spreadsheetrow}
      br
      |error: #{error}
    else
      .error-description
        |error: #{description}
        
    br
    br
    .return-link
      |return to 
      a(href='/commentbuddy/composer') CommentBuddy composer
