/*------------------------------------------------------------
 * style settings for TreasureHuntClues class
 *------------------------------------------------------------*/
.treasurehuntclues {}

.treasurehuntclues.clues-hide {
  display: none;
}

.treasurehuntclues .clues-contents {}


.treasurehuntclues .clues-contents .clue {
  padding: 0.4em 0.4em;
}

.treasurehuntclues .clues-contents .dragtarget {
  border: 3px solid var(--bgTertiaryEmphasis);
  margin-left: 2.0em;
  margin-right: 2.0em;
}

/*------------------------------------------------------------
 * clue and clue.header class
 *------------------------------------------------------------*/
.treasurehuntclues .clues-contents .clue.dragsource {
  opacity: 0.5;
  color: white;
  background-color:white;
  border: 1px solid var(--bgTertiaryEmphasis);
}

.treasurehuntclues .clues-contents .clue:nth-child(odd) {
  background-color: white;
}

.treasurehuntclues .clues-contents .clue.header {
  color: white;
  background-color: var(--bgPrimaryEmphasis);
}

.treasurehuntclues .clues-contents .clue:not(.header) {
  cursor: pointer;
}

.treasurehuntclues .clues-contents .clue.editing {
  border: 2px solid black;
}



/*------------------------------------------------------------
 * clueval class
 *------------------------------------------------------------*/
.treasurehuntclues .clues-contents .clue .clueval {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
  padding: 0.2em 0.4em;
  min-height: 1.0em;
}

.treasurehuntclues .clues-contents .clue:not(.header) .clueval:hover:not(.editing):not(.clue-handle) {
  font-weight: bold;
}

.treasurehuntclues .clues-contents .clue .clueval.clue-reorder {
  width: 1.1%;
  padding-left: 0;
}

.treasurehuntclues .clues-contents .clue .clueval.clue-handle {
  width: 1.1%;
  color: transparent;  
  padding-left: 0;
}

.treasurehuntclues .clues-contents .clue:not(.dragsource) .clueval.clue-handle:hover {
  color: #808080;  
}

.treasurehuntclues .clues-contents .clue .clueval.clue-prompt {
  width: 30%;
}

.treasurehuntclues .clues-contents .clue .clueval.clue-response {
  width: 20%;
}

.treasurehuntclues .clues-contents .clue .clueval.clue-action {
  width: 15%;
}

.treasurehuntclues .clues-contents .clue .clueval.clue-confirmation {
  width: 20%;
}

.treasurehuntclues .clues-contents .clue .clueicon {
  font-size: 1.2em;
  float: right;
  padding: 0.2em;
  color: transparent;
}

.treasurehuntclues .clues-contents .clue .clueicon:hover {
  color: black;
}

.treasurehuntclues .clues-contents .clue.header .clueicon:hover {
  color: white;
}

/*------------------------------------------------------------
 * editing classes
 *------------------------------------------------------------*/
.treasurehuntclues .clues-contents .clue .clueval.editing {
  color: white;
  background-color: var(--bgPrimaryEmphasis_trans);
}

.treasurehuntclues .clues-contents .clue .editcontainer {
  background-color: var(--bgPrimaryEmphasis_trans);
  border: 1px solid var(--bgTertiaryEmphasis);
  padding-left: 0.2em;
  padding-bottom: 0.4em;
  margin-top: 0.8em;
}

.treasurehuntclues .clues-contents .clue .editcontainer .editicon {
  color: white;
  font-size: 1.6em;
  vertical-align: top;
  padding-top: 0.2em;  
  margin: 0 0.2em;
}

.treasurehuntclues .clues-contents .clue .editcontainer .edittext {
  width: 70%;
}

.treasurehuntclues .clues-contents .clue .editcontainer .editaction {
  display: inline-block;
  background-color: var(--bgOverall);
  border: 1px solid var(--bgTertiaryEmphasis);
  padding: 0.4em 0.2em;
  margin-top: 0.2em;
  min-width: 30%;
}

.treasurehuntclues .clues-contents .clue .editcontainer .editaction .select-css {
  min-width: 40%;
  max-width: 100%;
  font-size: 1.0em;
}

.treasurehuntclues .clues-contents .clue .editcontainer .editaction .actioneffect-select{
  margin-top: 0.4em;
}
