.row {
  margin-top: 10px;
}

.col {
  border: 1px solid #ddd;
}

.controls {
  color: white;
  background-color: var(--bgPrimary);
  border-radius: 3px;
  padding: 2px 6px 0px 6px; 
}

.control-button {
  color: #ddd;
  background-color: #bbb;
  border: 2px solid var(--bgPrimary);
  border-radius: 3px;
  padding-top: 0;
  padding-bottom: 0;
}

.control-button:disabled, .control-button:hover:disabled {
  color: var(--bgPrimary);
  background-color: white;
  border: 2px solid var(--bgPrimary);
}

.control-button:hover {
  border: 2px solid var(--bgPrimary);
}

#divRestartExplore {
  visibility: hidden;
}

#btnRestartExplore {
  margin-top: 10px;
}

#instructions {
  font-size: 16px;
  border-radius: 6px;
  color: white;
  background-color: var(--bgPrimary);
}

span.selected-explore-folder {
  color: white !important;
  background-color: var(--selected-folder) !important;
} 

span.selected-explore-file {
  color: white !important;
  background-color: var(--selected-file) !important;
}

.selected-explore-folder-display {
  display: inline-block;
  border: 2px solid var(--selected-folder);
  font-style: italic;
  padding: 0px 4px 0px 2px;
}

.selected-explore-file-display {
  display: inline-block;
  border: 2px solid var(--selected-file);
  font-style: italic;
  padding: 0px 4px 0px 2px;
}

.explore-display {
  margin-bottom: 10px;
}

.explore-display-title {
  font-weight: bold;
}

.pathbox {
  border: 1px solid black;
  color: white;
  padding: 2px 6px 2px 6px;
}

.pathbox:hover {
  color: black;
}

#instructions0 {
  display: none;
}
  
#instructions1 {
  display: none;
}

.emphasis {
  font-weight: bold;
  font-style: italics;
}

#hierarchyContainer {}

.hierarchy-label {
  font-weight: bold;
  margin-top: 6px;
}

#explore {
  visibility: hidden;
  padding-top: 16px;
}

li#displayMessage {
  margin-bottom: 8px;
}

#quiz {
  visibility: hidden;
  padding-top: 16px;
}