#effects-container {
  background-color: var(--bgPrimary);
  border: 1px solid #ddd;
  border-radius: 6px;
  padding-right: 8px;
  margin-top: 2px;
  margin-bottom: 6px;
}

#effects-div {
  font-size: 40px;
  background-color: white;
  padding: 20px 10px;
  margin: 20px 10px;
}