mixin recipesShow()
  .container-fluid(class="recipe-show-container")
    .row
      .col-sm
        .recipe-name
        .rating(class="ms-2")
        .icon-close(class="far fa-window-close" title="close recipe")

    .row
      .col-sm
        .recipe-section-title(class="mt-2") Yield
          span(class="yield-value ms-2")

    .row
      .col-sm
        .recipe-section-title(class="mt-2") Ingredients
        .ingredient-container(class="mt-2")

    .row
      .col-sm
        .recipe-section-title(class="mt-2") Instructions
        .instructions

    .row
      .col-sm
        .recipe-section-title(class="mt-2") Notes
        .notes
