mixin shoppingContainer()
  .row
    .col-sm
      .shoppinglist-table-container
        table(class="shoppinglist-table table table-striped table-hover table-sm")
          thead(class="shoppinglist-head table-primary")
            th(class="header header-controls" field-name="controls")
              i(class="icon icon-filter filter-off fas fa-filter ps-1" title="show only unchecked")

            th(class="header header-ingredientname" field-name="ingredient") shopping list item
              i(class="icon icon-copy far fa-copy ps-2" title="copy to clipboard")
            
          tbody(class="shoppinglist-body")
          
    div(class="hide-me")
      table
        thead
        tbody
          tr(class="shoppinglist-templaterow")
            td(class="controls")
              input(class="shoppingitem-check form-check-input ms-1" type="checkbox")
              
            td(class="ingredientname")
              span(class="ingredientnamet-text")

