mixin ocrContainer()   
  .row
    .col-sm
      form(class="ocr-form")
        input(class="ocr-inputfile" type="file" value="File" data-maxwidth="500" data-maxheight="500"  accept=".jpg,.jpeg" multiple)

    .col-sm
      .ocr-message

  .row
    .col-sm
      .ocr-preview
      
    .col-sm
      .ocr-result

