mixin menuShow()
  .container-fluid(class="menu-show-container hide-me")
    .row
      .col-sm
        .icon-add(class="fas fa-plus-square me-2" title="add to menu")
        .recipe-name
        .rating(class="ms-2")
        .icon-close(class="far fa-window-close" title="close recipe")

    .row
      .col-sm
        .recipe-section-title(class="mt-2") Yield
          span(class="yield-value ms-2")

    .row
      .col-sm-6
        .recipe-section-title(class="mt-2") Ingredients
        .ingredient-container(class="mt-2")

      .col-sm
        .image-container
        
    .row
      .col-sm
        .recipe-section-title(class="mt-2") Instructions
        .instructions

    .row
      .col-sm
        .recipe-section-title(class="mt-2") Notes
        .notes
