mixin pdf_parsing()  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/1.10.100/pdf.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.worker.entry.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/1.10.100/pdf.worker.min.js")

