/*-------------------------------------------------------------------
 * styling for Tips Manager login page
 *------------------------------------------------------------------*/

body {
	color: black;
	background-color: var(--bgOverall);
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
}

.title-container {
  background-color: var(--bgPrimaryEmphasis);
  margin-top: -8px;
  padding-bottom: 2px;
  padding-top: 3px;  
}

.title {
  display: inline-block;
  color: white;
  font-size: 1.1em;
  border: 1px solid white;
  border-radius: 6px;
  margin: 4px;
  padding-left: 3px;
  padding-right: 3px;  
}

.contents-container {
  margin-top: 1.0em;
}

.login-textfield {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	display: block;
	color: #444;
	line-height: 1.0;
	padding: .6em 1.4em .5em .8em;
  width: 20em;
	box-sizing: border-box;
	margin: 0;
  margin-top: 0.3em;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .3em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
}

.login-submit {
  margin-top: 0.4em;
  width: 20em;
  height: 2.5em;
  color: white;
  background-color: var(--bgSecondaryChoice);
  border-radius: 0.3em;
	cursor: pointer;
  outline: none;
}

.login-submit:active {
  color: black;
  background-color: var(--bgQuaternaryEmphasis);
}

.retryarea {
  margin-top: 0.4em;
}

