/*-------------------------------------------------------------------
 * navbar and dropdown menu
 *-------------------------------------------------------------------*/
ul.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: var(--bgPrimaryEmphasis);
  z-index: 1;
}

.navbar .navbar-item {
  margin-left: 0.3em;
}

.navbar li.navbar-item {
  float: left;
}

.navbar li.navbar-title {
  border: 1px solid white;
  border-radius: 6px;
  padding: 0px 3px 2px 3px;
  margin-top: 7px;
  margin-left: 0.2em;
  margin-right: 0.4em;
  color: white;
  font-size: 1.1em;
}

.navbar .navbar-item li, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

.navbar li.navbar-main-item {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

.navbar li.navbar-item:not(.navbar-selected):hover {
  background-color: var(--bgPrimaryChoice);
}

.navbar li.navbar-item.navbar-title:hover {
  background-color: transparent;
}

.navbar li.dropdown {
  display: inline-block;
}

.navbar .navbar-item-right {
  float: right !important;
  right: 0;
}

.navbar .hamburger {
  right: 8px;
}

.navbar .hamburger-btn {
  font-size: 1.4em;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navbar .dropdown-content div {
  color: #093c44; /*black;*/
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar .dropdown-content div:hover {
  background-color: var(--bgTertiaryEmphasis);
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar .navbar-check {
  margin-right: 4px;
}

.navbar .navbar-invisible {
  visibility: hidden;
}

.navbar .navbar-item.navbar-selected {
  color: background-color: var(--bgPrimaryEmphasis);
  background-color: white;
}

.navbar .navbar-item.navbar-selected .dropbtn {
  color: background-color: var(--bgPrimaryEmphasis);
  background-color: white;
}

.navbar .navbar-item.navbar-selected .dropbtn.hamburger-btn {
  border: none;
}