/*-------------------------------------------------------------------
 * styling for Tips Manager tool
 *------------------------------------------------------------------*/
html {
  overflow-y: scroll;
}

body {
	color: black;
	background-color: #eee;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
}

@media screen and (pointer: fine) {
  #mainContainer.bump-down {
    margin-top: 4em;
  }
}

@media screen and (pointer: coarse) {
  #mainContainer.bump-down {
    margin-top: 6.4em;
  }
}

.tipmanager-hide {
  display: none;
}

.tipmanager-title {
  margin-bottom: 0.4em;
}

.tipmanager-title .tipmanager-titletext {
  font-weight: bold;
  font-size: 1.1em;
  padding-right: 0.4em;
}

.tipmanager-icon {
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px;
}

.tipmanager-icon.fa-caret-right {
  padding-right: 7px;
}

.navbar .navbar-item.navbar-main-item.tipmanager-sharedlabel {
  position: relative;
}

.navbar .navbar-item.navbar-main-item .tipmanager-super {
  position: absolute;
  top: 0.0em;
  right: 0.5em;
  background-color: var(--bgSecondaryChoice);
}

.navbar .navbar-item.navbar-main-item.navbar-selected .tipmanager-super {
  color: var(--bgSecondaryChoice);
  background-color: transparent;
  font-weight: bold;
}

.navbar .navbar-item.navbar-main-item .tipmanager-super.hide-me {
  display: none;
}

/*------------------------------------------------------------------
 * standard error and notice
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/

/*-------------------------------------------------------------
 * scrollbar
 *------------------------------------------------------------*/
body::-webkit-scrollbar {
  width: 16px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--bgTertiaryEmphasis) var(--bgQuaternaryEmphasis);
}
body::-webkit-scrollbar-track {
  background: var(--bgQuaternaryEmphasis);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--bgTertiaryEmphasis) ;
  border-radius: 8px;
  border: 3px solid var(--bgQuaternaryEmphasis);
} 

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--bgPrimaryEmphasis_trans);
} 

