/*-------------------------------------------------------------------
 * styling for Tips Manager tool
 *------------------------------------------------------------------*/

html {
  overflow-y: scroll;
}

body {
	color: black;
	background-color: #eee;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
}

@media screen and (pointer: fine) {
  #mainContainer.bump-down {
    margin-top: 3em;
  }
}

@media screen and (pointer: coarse) {
  #mainContainer.bump-down {
    margin-top: 5.4em;
  }
}

.tipmanager-hide {
  display: none;
}

.tipmanager-title {
  margin-bottom: 6px;
}

.tipmanager-titletext {
  font-weight: bold;
  font-size: 1.1em;
  padding-right: 6px;
}

.tipmanager-icon {
  cursor: pointer;
  padding-left: 4px;
  padding-right: 4px;
}

.tipmanager-icon.fa-caret-right {
  padding-right: 7px;
}

.tipmanager-schedulecount {
  display: inline-block;
  background-color: var(--bgSecondaryChoice);
  border: 1px solid white;
  border-radius: 50%;
  margin-left: 0.3em;
  min-width: 1.0em;
  padding-right: 0.06em;
}

/*------------------------------------------------------------------
 * standard error and notice
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/
