/*-------------------------------------------------------------------
 * styling for TipManagerSchedulingControl class
 *------------------------------------------------------------------*/

.schedulecontrol {
  padding: 2px 0px;
  margin-bottom: 14px;
}

.schedulecontrol-hide {
  display: none;
}

.schedulecontrol-select {
  display: inline-block !important;
}

.schedulecontrol-options {
  display: inline-block;
  border: 1px solid black;
  margin-left: 0.2em;
  margin-right: 2em;
  padding: 0 0;
}

.schedulecontrol-options.notshown {
  background-color: transparent;
  border: none;
}

.schedulecontrol-iconcontainer {
  display: inline-block;
  color: black;
  background-color: var(--bgSecondaryChoice);
  border: 1px solid black;
  padding: 0.28em 0.1em 0.28em 0;
  margin: -0.1em;
}

.schedulecontrol-iconcontainer.notshown {
  color: gray;
  background-color: transparent;
  border: 1px solid transparent;
}

.schedulecontrol-suboptions {
  display: inline-block;
}

.schedulecontrol-suboptions.notshown {
  display: none;
}

.schedulecontrol-icon {
  font-size: 1.2em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  vertical-align: middle;
  cursor: pointer;
}

.schedulecontrol-icon.subicon {
  font-size: 1.0em;
}

.schedulecontrol-icon.disable {
 background-color: gray;
}