/*-------------------------------------------------------------------
 * styling for TipScheduling class
 *------------------------------------------------------------------*/
.tipschedule-icon {
  font-size: 1.2em;
  margin-right: 2px;
  cursor: pointer;
}

.tipschedule-icon.collapse-icon {
  font-size: 1.4em;
}

@media screen and (pointer: fine) {
  .tipschedule-content {
    width: 60%;
  }
}

.tipschedule-selection {
  border: 1px solid green;
}

.tipschedule-contents {
  border: 1px solid blue;
}

/*-----------------------
 * weekly tip boxes
 *-----------------------*/
 .weeklytip {
   margin-bottom: 12px;
 }
 
 .weeklytip-collapse-icon {
  font-size: 1.2em;
  cursor: pointer;
  padding-left: 2px;
  width: 14px;   
}
 
.weeklytip-label {
  color: white;
  background-color: var(--bgPrimaryEmphasis);
  padding-top: 6px;
  padding-bottom: 6px;
}

.weeklytip-label-text {}

.weeklytip-contents {
  background-color: white;
  border: 1px solid #9999;
  padding-left: 4px;
}

.weeklytip-contents div:nth-of-type(even):not(.tipschedule-controls) {
  background-color: var(--bgQuaternaryEmphasis);
}
    
.weeklytip-icon {
  cursor: pointer;
  padding-right: 10px;
  padding-top: 7px;
  vertical-align: top;
}

.weeklytip-icon.far.fa-square {
  padding-right: 12px;
}

.weeklytip-singletip {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
}

@media screen and (pointer: fine) {
  .weeklytip-singletip {
    max-width: 90%;
  }
}

@media screen and (pointer: coarse) {
  .weeklytip-singletip {
    max-width: 80%;
  }
}

.weeklytip-singletip p {
  margin-top: 0px;
}

.hide-weeklytip-contents {
  display: none;
}

/*-----------------------
 * add/edit/update 
 *-----------------------*/
.tipschedule-icon-add {
  float:right;
  padding-right: 3px;
}

.tipschedule-icon-edit {
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 3px;
}

.tipschedule-edit {
  background-color:var(--bgQuaternaryEmphasis);
  border: 1px solid #093c44;
  margin-left: -5px;
}

.tipschedule-edit-container {
  margin-top: 2px;
  margin-bottom: 2px;
}

.tipschedule-add-text {
  width: 90%;
}

.tipschedule-edit-container .tipschedule-add-text.edit {
  margin-left: 25px;
}

.tipschedule-add-select {
  width: 89%;
}

.tipschedule-add-choice {
  vertical-align: top;
}

.tipschedule-editicon {
  cursor: pointer;
  font-size: 1.5em;
  padding-right: 6px;  
}

.tipschedule-controls {
  display: inline-block;
  float: right;
  background-color: inherit !important;
}

.tipschedule-highlight {
  background-color: var(--bgSecondaryChoice) !important;
  color: white;
}

.tipschedule-highlight .tipschedule-controls {
  background-color: var(--bgSecondaryChoice) !important;
}

/*-----------------------
 * schedule share 
 *-----------------------*/
.tipschedule-share {
  margin-top: 1.0em;
  margin-bottom: 1.6em;
}

.tipschedule-share-contents {
  min-width: 30%;
  border: 1px solid var(--bgTertiaryEmphasis);
  background-color: var(--bgTertiaryChoice);
  padding: 0.1em 0.4em;
  display: inline-block;
}

.tipschedule-share-titletext {
  display: inline-block;
  font-size: 1.1em;
  font-style: italic;
  padding-bottom: 0.3em;
}


.tipschedule-share-comment {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  margin-top: 0.6em;
}
  
.tipschedule-share-controlcontainer {
  margin-top: 0.6em;
}

.tipschedule-share-select {}

.tipschedule-share-select.select-css {
  max-width: none;
  margin-left: 0;
}

.tipschedule-share-control {
  cursor: pointer;
  font-size: 1.5em;
}

.tipschedule-share-control.fa-check-square {
  float: right;
  padding-top: 0.7em;
  padding-left: 0.5em;
}
