/*-------------------------------------------------------------------
 * styling for TipCourseSelection class
 *------------------------------------------------------------------*/
.tipmanager-courses-contents table {
  border-collapse: collapse;
  border: 1px solid var(--bgTertiaryEmphasis);
}

.tipmanager-courses-contents th {
  background-color: var(--bgPrimaryEmphasis);
  color: white;
  font-weight: normal;
  border-style: none;
  text-align: left;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 6px;
}

.tipmanager-courses-contents tr {
  background-color: #fff;
}
.tipmanager-courses-contents tr:nth-of-type(even){
  background-color: var(--bgQuaternaryEmphasis);
}

.tipmanager-courses-contents td {
  padding-left: 6px;
}

.tipmanager-courses-contents td:not(:first-child) {
  text-align: center;
}