/*-------------------------------------------------------------------
 * styling for TipBrowse class
 *------------------------------------------------------------------*/

.tipbrowse {
  border: 1px solid red;
  position: fixed;
  margin-left: 50%;
}

.tipbrowse-hide {
  display: none;
}

