/*-------------------------------------------------------------------
 * styling for TipProfile class
 *------------------------------------------------------------------*/
.tipprofile {
  position: relative;
  --itemBorder: #dddd;
}

.tipprofile.tipprofile-hide {
  display: none;
}

.tipprofile .tipprofile-contents {}

.tipprofile .tipprofile-contents input {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	display: inline-block;
	color: #444;
	line-height: 1.0;
	padding: .6em 1.4em .5em .8em;
  width: 20em;
	box-sizing: border-box;
	margin: 0.3em 0.2em 0 0 ;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .3em;
	background-color: #fff;
 }
 
.tipprofile .tipprofile-contents button {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  height: 2.6em;
  width: 5em;
  margin-top: 0.2em;
  margin-right: 0.2em;
  color: white;
  background-color: var(--bgSecondaryChoice);
  border: 1px solid #444;
  border-radius: 0.3em;
  outline: none;
}

/*-------------------------------------------------------------------
 * section title
 *------------------------------------------------------------------*/
.tipprofile .tipprofile-contents .tipprofile-section {
  margin-top: 1em;
}
  
.tipprofile .tipprofile-contents .tipprofile-section .tipprofile-sectiontitle {}

.tipprofile .tipprofile-contents .tipprofile-section .tipprofile-sectiontitletext {
  display: inline-block;
  color: white;
  background-color: var(--bgPrimaryEmphasis);
  border: 1px solid var(--itemBorder);
  border-radius: 0.3em;
  padding: 0.2em;
  margin: 0 0.2em 0.4em 0;
}

/*-------------------------------------------------------------------
 * email
 *------------------------------------------------------------------*/
.tipprofile .tipprofile-contents .tipprofile-section.tipprofile-email {
  display: inline-block;
}

/*-------------------------------------------------------------------
 * password
 *------------------------------------------------------------------*/
.tipprofile .tipprofile-contents .tipprofile-section.tipprofile-password {
  margin-top: 3.0em;
}

.tipprofile .tipprofile-contents .tipprofile-section.tipprofile-password .tipprofile-passwordinput {
  display: block;
}

/*-------------------------------------------------------------------
 * confirm
 *------------------------------------------------------------------*/
.tipprofile .tipprofile-contents .tipprofile-section.tipprofile-confirm {
  display: inline-block;
}

.tipprofile .tipprofile-contents .tipprofile-section.tipprofile-confirm .tipprofile-confirmemail:disabled{
  color: black;
  background-color: var(--bgTertiaryEmphasis);  
}

