/*-------------------------------------------------------------------
 * styling for TipShare class
 *------------------------------------------------------------------*/
.tipshare {
  position: relative;
  --itemBorder: #dddd;
}

.tipshare.tipshare-hide {
  display: none;
}

.tipshare .tipshare-hide {
  display: none;
}

.tipshare .tipshare-contents {
  margin-top: 1.0em;
}

/*-------------------------------------------------------------------
 * sending
 *------------------------------------------------------------------*/
.tipshare .tipshare-contents .tipshare-send {
  border: 1px solid var(--bgTertiaryEmphasis);
  border-radius: 0.3em;
}

.tipshare .tipshare-contents .tipshare-send .tipshare-sendtitle {}
  
.tipshare .tipshare-contents .tipshare-send .tipshare-sendtitle .tipshare-sendtitletext {
  display: inline-block;
  color: white;
  background-color: var(--bgPrimaryEmphasis);
  border: 1px solid var(--itemBorder);
  border-radius: 0.3em;
  padding: 0.2em;
  margin: 0.4em 0.2em;
}

.tipshare .tipshare-contents .tipshare-send .tipshare-select {
  min-width: 16em;
}

.tipshare .tipshare-contents .tipshare-send .tipshare-selectcontainer {
  display: inline-block;
}

.tipshare .tipshare-contents .tipshare-send .tipshare-usercontainer {
  display: inline-block;
}

.tipshare .tipshare-contents .tipshare-send .tipshare-usercontainer .tipshare-userselect {}

.tipshare .tipshare-contents .tipshare-send .tipshare-confirmcancelcontainer {
  display: inline-block;
  color: white;
  background-color: var(--bgSecondaryChoice);
  border: 1px solid var(--itemBorder);
  border-radius: 0.3em;
  vertical-align: middle;
  margin-left: 0.2em;
  margin-top: -0.4em;
  cursor: pointer;
}

.tipshare .tipshare-contents .tipshare-send .tipshare-confirmcancelcontainer.disable-me {
  color: var(--bgTertiaryEmphasis);
  background-color: transparent;
  border-color: transparent;
  cursor: default;
}

.tipshare .tipshare-contents .tipshare-send .tipshare-confirmcancelcontainer .confirmcancel {
  font-size: 1.5em;
  padding: 0.2em;
}

.tipshare .tipshare-contents .tipshare-send .tipshare-confirmcancelcontainer .confirmcancel .disable-me {
  /*
  cursor: default;
  */
}

.tipshare .tipshare-contents .tipshare-send .tipshare-commentcontainer .tipshare-comment {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	display: inline-block;
	color: #444;
	line-height: 1.0;
	padding: .6em 1.4em .5em .8em;
  width: 32.2em;
	box-sizing: border-box;
	margin: 0.3em 0 0.3em 0.2em;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .3em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
}

/*-------------------------------------------------------------------
 * receiving
 *------------------------------------------------------------------*/
 .tipshare .tipshare-contents .tipshare-received {
  border: 1px solid var(--bgTertiaryEmphasis);   
  border-radius: 0.3em;
  margin-top: 2.0em;;
}

.tipshare .tipshare-contents .tipshare-received .tipshare-received-title {
  margin: 0.2em 0em 0.4em 0.2em;
}

.tipshare .tipshare-contents .tipshare-received .tipshare-received-title .tipshare-received-titletext {
  display: inline-block;
  color: white;
  background-color: var(--bgPrimaryEmphasis);
  border: 1px solid var(--itemBorder);
  border-radius: 0.3em;
  padding: 0.2em;
  margin: 0.2em;
}

.tipshare .tipshare-contents .tipshare-received .tipshare-received-contents {
  margin: 0.2em;
}

.tipshare .tipshare-contents .tipshare-received .tipshare-received-contents .tipshare-received-item {
  background-color: var(--bgQuaternaryEmphasis);
  border: 1px solid var(--itemBorder);  
  margin: 0.2em;
}

.tipshare .tipshare-contents .tipshare-received .tipshare-received-contents .tipshare-received-item.evenitem {
   background-color: white;
}

.tipshare .tipshare-contents .tipshare-received .tipshare-received-contents .tipshare-received-item .tipshare-detail {
  display: inline-block;
  margin: 0.2em;
}

.tipshare .tipshare-contents .tipshare-received .tipshare-received-contents .tipshare-received-item .tipshare-detail.tipshare-date {
  width: 10em;
}

.tipshare .tipshare-contents .tipshare-received .tipshare-received-contents .tipshare-received-item .tipshare-detail.tipshare-username {
  width: 16em;
}

.tipshare .tipshare-contents .tipshare-received .tipshare-received-contents .tipshare-received-item .tipshare-detail .tipshare-commenticon {
  padding: 0em 0.4em;
}

.tipshare .tipshare-contents .tipshare-received .tipshare-received-contents .tipshare-received-item .tipshare-detail.tipshare-comment {
  display: block;
}

.tipshare .tipshare-contents .tipshare-received .tipshare-received-contents .tipshare-received-item .tipshare-detail.tipshare-comment.hide-me {
  display: none;
}



