/*-------------------------------------------------------------------
 * styling for TipManagerSchedulingControl class
 *------------------------------------------------------------------*/

.schedulecontrol {
  padding: 2px 0px;
  margin-bottom: 14px;
}

.schedulecontrol-hide {
  display: none;
}

.schedulecontrol-select {
  display: inline-block !important;
}

.schedulecontrol-icon {
  font-size: 1.4em;
  margin-left: 0.2em;
  vertical-align: text-bottom;
  cursor: pointer;
}

.schedulecontrol-icon.trash {
  margin-right: 1.0em;
}

.schedulecontrol-icon.disable {
 background-color: gray;
}