/*-------------------------------------------------------------------
 * styling for TipScheduling class
 *------------------------------------------------------------------*/
.tipschedule {
  position: relative;
}

.tipschedule-contents.browse {
  float: left;
  width: 50%;
}

.tipschedule-icon {
  font-size: 1.2em;
  margin-right: 2px;
  cursor: pointer;
}

.tipschedule-icon.collapse-icon {
  font-size: 1.4em;
}

/*
@media screen and (pointer: fine) {
  .tipschedule-content {
    width: 60%;
  }
}
*/
/*-----------------------
 * weekly tip boxes
 *-----------------------*/
 .weeklytip {
   margin-bottom: 12px;
 }
 
 .weeklytip-collapse-icon {
  font-size: 1.2em;
  cursor: pointer;
  padding-left: 2px;
  width: 14px;   
}
 
.weeklytip-label {
  color: white;
  background-color: var(--bgPrimaryEmphasis);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0.2em;
}

.weeklytip-label-text {}

.weeklytip-contents {
  background-color: white;
  border: 1px solid #9999;
  padding-left: 4px;
}

.weeklytip-contents div:nth-of-type(even):not(.tipschedule-controls) {
  background-color: var(--bgQuaternaryEmphasis);
}

.weeklytip div.weeklytip-dragtarget {
  background-color: var(--bgSecondaryChoice) !important;
  border: 1px solid var(--bgPrimaryChoice) !important;
}
    
.weeklytip-icon {
  cursor: pointer;
  padding-right: 10px;
  padding-top: 7px;
  vertical-align: top;
}

.weeklytip-icon.far.fa-square {
  padding-right: 12px;
}

.weeklytip-singletip {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
}

.weeklytip-trashcontainer {
  position: fixed;
  bottom: 1.0em;
  right: 1.0em;
  color: var(--bgTertiaryEmphasis);
  background-color: var(--bgOverall);
  border: 2px solid var(--bgSecondaryChoice);
  border-radius: 6px;
  font-size: 2em;
  padding: 0.3em 0.2em;
}

.weeklytip-trashcontainer.highlight {
  color: black;
  background-color: var(--bgSecondaryChoice);
}

@media screen and (pointer: fine) {
  .weeklytip-singletip {
    max-width: 90%;
  }
}

@media screen and (pointer: coarse) {
  .weeklytip-singletip {
    max-width: 80%;
  }
}

.weeklytip-singletip p {
  margin-top: 0px;
}

.hide-weeklytip-contents {
  display: none;
}

.weeklytip-config {
  float: right;
  padding-right: 0.4em;
  opacity: 0;
}

.weeklytip-config:hover {
  opacity: 1;
}

.weeklytip-config-icon {
  font-size: 1.2em;
  vertical-align: middle;
  padding: 0 0.2em;
}

.tipschedule-newtip {
  display: block;
  background-color: var(--bgSecondaryChoice);
  border: 1px solid var(--bgPrimaryEmphasis);
}

.tipschedule-newtip.notshown {
  display: none;
}

.tipschedule-newtip .tipschedule-newtip-inputcontainer {
  display: inline-block;
  width: 90%;
  padding-top: 0.2em;
}

.tipschedule-newtip .tipschedule-newtip-input {
  width: 100%;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;  
  margin-left: 0.2em;
}

.tipschedule-newtip .tipschedule-newtip-controlcontainer {
  float: right;
}

.tipschedule-newtip .tipschedule-newtip-control {
  font-size: 1.2em;
  vertical-align: middle;
  padding: 0 0.2em;
}

.tipschedule-newtip .tipschedule-newtip-control.disabled{
  color: #c0c0c0;
}

/*-----------------------
 * schedule share 
 *-----------------------*/
 /*
.tipschedule-share {
  margin-top: 1.0em;
  margin-bottom: 1.6em;
}

.tipschedule-share-contents {
  min-width: 30%;
  border: 1px solid var(--bgTertiaryEmphasis);
  background-color: var(--bgTertiaryChoice);
  padding: 0.1em 0.4em;
  display: inline-block;
}

.tipschedule-share-titletext {
  display: inline-block;
  font-size: 1.1em;
  font-style: italic;
  padding-bottom: 0.3em;
}


.tipschedule-share-comment {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  margin-top: 0.6em;
}
  
.tipschedule-share-controlcontainer {
  margin-top: 0.6em;
}

.tipschedule-share-select {}

.tipschedule-share-select.select-css {
  max-width: none;
  margin-left: 0;
}

.tipschedule-share-control {
  cursor: pointer;
  font-size: 1.5em;
}

.tipschedule-share-control.fa-check-square {
  float: right;
  padding-top: 0.7em;
  padding-left: 0.5em;
}
*/