/*-------------------------------------------------------------------
 * styling for TipManagerSchedulingControl class
 *------------------------------------------------------------------*/

.schedulecontrol {
  padding: 2px 0px;
  margin-bottom: 14px;
}

.schedulecontrol-hide {
  display: none;
}

.schedulecontrol .schedulecontrol-ui .schedulecontrol-select.select-css {
  display: inline-block;
  max-width: 35%;
  text-overflow: ellipsis;  
}

.schedulecontrol .schedulecontrol-options {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  padding: 0 0;
}

.schedulecontrol .schedulecontrol-options.notshown {
  background-color: transparent;
  border: none;
}

.schedulecontrol .schedulecontrol-iconcontainer {
  display: inline-block;
  color: black;
  background-color: var(--bgSecondaryChoice);
  border: 1px solid black;
  padding: 0.28em 0.1em 0.28em 0;
  margin: -0.1em;
}

.schedulecontrol .schedulecontrol-iconcontainer.notshown {
  color: gray;
  background-color: transparent;
  border: 1px solid transparent;
}

.schedulecontrol .schedulecontrol-suboptions {
  display: inline-block;
}

.schedulecontrol .schedulecontrol-suboptions.notshown {
  display: none;
}

.schedulecontrol .schedulecontrol-icon {
  font-size: 1.0em;
  margin-left: 0.4em;
  margin-right: 0.4em;
  vertical-align: middle;
  cursor: pointer;
}

.schedulecontrol .schedulecontrol-icon.subicon {
  font-size: 1.0em;
  margin-left: 0.6em;
}

.schedulecontrol .schedulecontrol-icon.subicon.disable {
  color: #c0c0c0;
}

.schedulecontrol .schedulecontrol-browse {
  visibility: hidden;
}

.schedulecontrol .schedulecontrol-browse.switch {
  margin-top: 0;
  margin-left: 0.4em;
  height: 2.2em;
}
