/*-------------------------------------------------------------------
 * styling for TipCalendar class
 *------------------------------------------------------------------*/
 .tipcalendar-ui.calendar-selection {
   display: inline-block;
 }
 
 .calendar-dirtybit {
   display: inline-block;
   padding-left: 0.4em;
   font-size: 0.9em;
   color: var(--bgPrimaryEmphasis);
   display: none;
 }
 
.calendar-control {
  margin-top: 0.2em;
  width: 7.8em;
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  color: #444;
}

.calendar-container {
  margin-top: 1.0em;
}

.calendar-week {
  padding-bottom: 0.2em;
}

.calendar-weeknumber {
  width: 5em; 
  display: inline-block;
  padding-left: 0.1em;
  margin-right: 0.1em;
}

.calendar-weeknumber.out-of-sequence {
  background-color: var(--bgSecondaryChoice);
  color: white;
}

.calendar-weekfirstday {
  display: inline-block;
  border: 1px solid blue;
}

input.calendar-weekfirstday {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
}

.calendar-dropfill {
  padding-left: 0.2em;
  display: none;
}
