/*-------------------------------------------------------------------
 * styling for TipEditing class
 *------------------------------------------------------------------*/
.tipediting {
  position: relative;
  --itemBorder: #dddd;
}

.tipediting.tipediting-hide {
  display: none;
}

.tipediting .tipediting-hide {
  display: none;
}

.tipediting .tipediting-contents {
  margin-top: 1.0em;
}

/*-------------------------------------------------------------------
 * tip browse
 *------------------------------------------------------------------*/

/* override settings used on Schedule page */
.tipediting .tipbrowse {
  position: relative;
  display: inline-block;
  height: auto;
  width: 60%;
  margin: 0;  
}

.tipediting .tipbrowse .tipbrowse-title {
  display: none;
}

.tipediting .tipbrowse .tipbrowse-results .tipbrowse-tip {
  width: 100%;
}  
  
.tipediting .tipbrowse .tipbrowse-results .tipbrowse-tip-details {
  border: none;
  width: 85%;
}  
  
/* hide browse drag handle */
.tipediting .tipediting-contents .tipbrowse .tipbrowse-draghandle {
  display: none;
}

/* edit/delete controls */
.tipediting .tipediting-contents .tipbrowse .tipbrowse-tipcontrols {
  float: right;
}

.tipediting .tipediting-contents .tipbrowse .tipbrowse-tipcontrols.eventip {
  background-color: white;
}

.tipediting .tipediting-contents .tipbrowse .tipbrowse-tipcontrols.oddtip {
  background-color: var(--bgQuaternaryEmphasis);
}

.tipediting .tipbrowse .tipbrowse-tipcontrols .tipbrowse-tipcontrols-inner {
  opacity: 0;
}

.tipediting .tipbrowse .tipbrowse-tipcontrols .tipbrowse-tipcontrols-inner:hover {
  opacity: 1;
}

.tipediting .tipbrowse .tipbrowse-tipcontrols .tipbrowse-tipcontrols-inner .tipcontrol-icon {
  font-size: 1.2em;
  background-color: var(--bgSecondaryChoice);
  color: white;  
  border: 0;
  border-radius: 0.3em;
  padding: 0.2em;
  margin: 0.2em;
}

/*-------------------------------------------------------------------
 * DialogContainer
 *------------------------------------------------------------------*/
.tipediting .dialogcontainer {
  border: 1px solid var(--bgTertiaryEmphasis);
  border-radius: 0.3em;
  margin-top: 1.0em;
  padding: 0.3em;
}

