/*-------------------------------------------------------------------
 * styling for Weekly Calendar tool
 *------------------------------------------------------------------*/

html {
  overflow-y: scroll;
}

body {
	color: black;
	background-color: #eee;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
}

.title-container {
  background-color: var(--bgPrimaryEmphasis);
  margin-top: -8px;
  padding-bottom: 2px;
  padding-top: 3px;  
}

.title {
  display: inline-block;
  color: white;
  font-size: 1.1em;
  border: 1px solid white;
  border-radius: 6px;
  margin: 4px;
  padding-left: 3px;
  padding-right: 3px;  
}

.controls-selection.select-css {
  display: inline-block;
  margin-top: 0.3em;
  margin-right: 0.2em;
}

.single-calendar {
  display: inline-block;
  margin-top: 0.6em;
  margin-right: 1.2em;
}

.single-calendar .calendar-label {
  padding-bottom: 0.2em;
}

.single-calendar .calendar-name {
  font-weight: bold;
}

.single-calendar .calendar-daterange {
  font-size: 0.9em;
  padding-left: 0.4em;
}

.single-calendar table {
  border-collapse: collapse;
  border: 1px solid var(--bgTertiaryEmphasis);  
}

.single-calendar th {
  background-color: var(--bgPrimaryEmphasis);
  color: white;
  font-weight: normal;
  border-style: none;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
}

.single-calendar th:nth-last-child(2) {
  border-right: 1px solid var(--bgTertiaryEmphasis);
}

.single-calendar tr {
  background-color: #fff;
}

.single-calendar tr:nth-of-type(even){
  background-color: var(--bgQuaternaryEmphasis);
}

.single-calendar td {
  text-align: center;
}

.single-calendar td:last-child {
  min-width: 7em;
}

.currentweek td {
  background-color: var(--bgSecondaryChoice);
  color: white;
}


/*------------------------------------------------------------------
 * standard error and notice
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/
