mixin configureContainer()
  .row
    .col-sm
      .form-floating
        input(type="text" class="form-control input-link" id="inputLink")
        label(for="inputLink") link to spreadsheet
        
    .col-sm-3
      button(class="btn btn-primary btn-opensource") open spreadsheet

  .row
    .col-sm
      button(class="btn btn-primary btn-storelink") store new link
