/*-------------------------------------------------------------------
 * styling for instructor communication flow DB admin tool
 *------------------------------------------------------------------*/

body {
	color: black;
	background-color: #eee;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
}

#mainContainer.bump-down {
  margin-top: 38px;
}

.dbadmin-maincontainer {
}

.dbadmin-container {
}

.dbadmin-container-hide {
  display: none;
}

.dbadmin-invisible {
  visibility: hidden;
}

.dbadmin-container-title {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 4px;
}

.dbadmin-tableedit table {
  border-collapse: collapse;
}

.dbadmin-tableedit th {
  background-color: #093c44;
  color: white;
  font-weight: normal;
  border-style: none;
  text-align: left;
  padding-right: 12px;
}

.dbadmin-tableedit tr {
  border-width: 1px;
  border-top-style: none;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-color: #093c44;
}

.dbadmin-rowicon {
  cursor: pointer;
  padding-left: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 0px;
}

.dbadmin-highlight {
  background-color: #ccc; /*#6C75FF;*/
}

.dbadmin-datacontent {
  display: inline-block;
}

.dbadmin-datacontent-item {
  border: 1px solid #999;
  padding: 2px 4px;
  margin-bottom: 2px;
}

.dbadmin-editcontainer {
  border-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 4px;
  background-color: #eee;
}

.dbadmin-edittitle {
  font-weight: bold;
}

.dbadmin-editfield {
  display: block;
  width: 100%;
  margin-bottom: 2px;
}

.dbadmin-editicon {
  cursor: pointer;
  font-size: 1.5em;
  padding-right: 6px;
}

/*------------------------------------------------------------------
 * standard error and notice
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/
