/*-------------------------------------------------------------------
 * styling for Tips Manager help page
 *------------------------------------------------------------------*/

body {
	color: black;
	background-color: var(--bgOverall);
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
}

.title-container {
  background-color: var(--bgPrimaryEmphasis);
  margin-top: -8px;
  padding-bottom: 2px;
  padding-top: 3px;  
}

.title {
  display: inline-block;
  color: white;
  font-size: 1.1em;
  border: 1px solid white;
  border-radius: 6px;
  margin: 4px;
  padding-left: 3px;
  padding-right: 3px;  
}

.about-container {
  display: inline-block;
  background-color: white;
  margin-top: 8px;
  padding: 8px 8px;
  border: 1px solid var(--bgTertiaryEmphasis);
}

.about-logosplash {
  padding-bottom: 3px;
}

.about-logo {
  font-size: 1.4em;
  padding-right: 0.2em;
}

.about-logotitle {
  font-size: 1.2em;
  font-weight: bold;
}

.contents-container {
  margin-top: 1em;
  font-style: italic;
}
