/*-------------------------------------------------------------------
 * styling for TipScheduling class
 *------------------------------------------------------------------*/
.tipschedule-icon {
  font-size: 1.2em;
  cursor: pointer;
}

.tipschedule-icon-add {
  float:right;
  padding-right: 2px;
}

.tipschedule-content {
  width: 60%;
}

/*-----------------------
 * weekly tip boxes
 *-----------------------*/
 .weeklytip {
   margin-bottom: 5px;
 }
 
 .weeklytip-collapse-icon {
  font-size: 1.2em;
  cursor: pointer;
  padding-left: 2px;
  width: 14px;   
}
 
.weeklytip-label {
  color: white;
  background-color: #093c44;
}

.weeklytip-label-text {
  font-weight: bold;
}

.weeklytip-contents {
  background-color: white;
  border: 1px solid #9999;
  padding-left: 4px;
}

.weeklytip-icon {
  cursor: pointer;
  padding-right: 10px;
}

.weeklytip-singletip {
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
}

.hide-weeklytip-contents {
  display: none;
}

/*-----------------------
 * add/edit/update 
 *-----------------------*/
.tipschedule-icon-add {
  float:right;
  padding-right: 2px;
}

.tipschedule-edit {
  background-color: #ccc;
  border: 1px solid #093c44;
  margin-left: -5px;
}

.tipschedule-edit-container {
  margin-top: 2px;
  margin-bottom: 2px;
}

.tipschedule-add-text {
  width: 90%;
}

.tipschedule-add-select {
  width: 90%;
}

.tipschedule-add-choice {
  vertical-align: top;
}

.tipschedule-editicon {
  cursor: pointer;
  font-size: 1.5em;
  padding-right: 6px;  
}

.tipschedule-controls {
  display: inline-block;
  float: right;
}