/*-------------------------------------------------------------------
 * styling for TipManagerFilter class
 *------------------------------------------------------------------*/

.tipfilter {
  padding: 2px 0px;
  margin-bottom: 14px;
}

.tipmanagerfilter-hide {
  display: none;
}

.tipfilter-coursetoggle-container {
  /*display: inline-block;*/
  border: 1px solid blue;
}

.tipfilter-adm_coursetoggle {
  vertical-align: bottom;
  margin-bottom: 6px;
  margin-left: 4px;
}

.tipfilter-coursetoggle {
  vertical-align: bottom;
  margin-bottom: 6px;
  margin-left: 4px;
}
