/*-------------------------------------------------------------------
 * styling for Tips Manager tool
 *------------------------------------------------------------------*/

.instructortips-colorscheme {
  --bgPrimaryEmphasis: #8d8741;  /*-- khaki green --*/
  --bgSecondaryEmphasis: #daad86;  /*-- medium sand --*/
  --bgTertiaryEmphasis: #c9c9c9;  /*-- medium gray --*/
  --bgQuaternaryEmphasis: #f2f2f2; /*-- light gray --*/
  --bgPrimaryChoice:  #bc986a;  /*-- dark sand --*/
  --bgSecondaryChoice: #659dbd;  /*-- dusty light blue --*/
  --bgTertiaryChoice: #fbeec1;  /*-- light sand --*/
}

body {
	color: black;
	background-color: #eee;
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
}

#mainContainer.bump-down {
  margin-top: 38px;
}

.tipmanager-hide {
  display: none;
}

.tipmanager-title {
  margin-bottom: 6px;
}

.tipmanager-titletext {
  font-weight: bold;
  font-size: 1.2em;
}

.tipmanager-icon {
  cursor: pointer;
  padding-left: 4px;
}

/*------------------------------------------------------------------
 * standard error and notice
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/
