/*------------------------------------------------------------
 * style settings for Slide Indexer config
 *------------------------------------------------------------*/
.colorscheme {
  --bgOverall: #eee; /*-- very light gray --*/
  --navBackground: #426296;
}

body {
  color: black;
  background-color: var(--bgOverall);
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 13px;
}

.slide-indexer-config {}

.slide-indexer-config .hide-me {
  display: none;
}

/*-- title --*/
.slide-indexer-config .config-title {
  color: white;
  background-color: var(--navBackground);
  font-size: 1.2em;
  border: 1px solid var(--navBackground);
  border-radius: 6px 6px 0 0;
  margin-bottom: 0.4em;
}

.slide-indexer-config .config-title .title-text {
  margin-left: 0.4em;
}

.slide-indexer-config .config-title .title-control {
  cursor: pointer;
  float: right;
  padding-top: 0.2em;
  padding-right: 0.2em;
  margin-left: 0.2em;
}

.slide-indexer-config .config-title .title-control.config-embed-control {
  font-size: 1.1em;
  padding-top: 0;
}

/*-- controls --*/
.slide-indexer-config .config-controls {}

.slide-indexer-config .config-controls .config-id {
  display: inline-block;
  padding-left: 0.2em;
}

.slide-indexer-config .config-controls .config-id .id-input {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	display: inline-block;
	color: #444;
	line-height: 1.0;
	padding: 0.2em 0.4em 0.2em 0.4em;
  width: 32.2em;
	box-sizing: border-box;
	margin: 0.3em 0 0.3em 0.2em;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .3em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
}

.slide-indexer-config .config-controls .config-option {
  padding: 0.2em;
}

.slide-indexer-config .config-controls .config-option label {
  cursor: pointer;
  padding-left: 0.4em;
}

.slide-indexer-config .config-controls .config-option .config-option-control {
  float: left;
}

.slide-indexer-config .config-controls .config-option input.config-option-control {
  cursor: pointer;
  transform: scale(1.5);
}

/*-- preview --*/
.slide-indexer-config .config-preview {
  border: 1px solid red;
  margin-top: 0.4em;
}