/*------------------------------------------------------------
 * style settings for Slide Indexer
 *------------------------------------------------------------*/
.slide-indexer-colorscheme {
  --bgOverall: #eee; /*-- very light gray --*/
  --bgPrimaryEmphasis: rgba(66, 98, 150, 1.0);   /*-- medium-dark blue --*/
  --bgPrimaryEmphasis_trans: rgba(66, 98, 150, 0.6);
  --bgSecondaryEmphasis: #daad86;  /*-- medium sand --*/
  --bgTertiaryEmphasis: #c9c9c9;  /*-- medium gray --*/
  --bgQuaternaryEmphasis: #f2f2f2; /*-- light gray --*/
  --bgPrimaryChoice:  #111111; /* #bc986a;*/  /*-- dark sand --*/
  --bgSecondaryChoice: var(--bgPrimaryEmphasis);
  --bgTertiaryChoice: #6093e5;  /*-- light blue --*/
  
  --navBackground: #426296;
}

body {
  color: black;
  background-color: var(--bgOverall);
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 13px;
}

.slide-indexer {}

.slide-indexer .hide-me {
  display: none;
}

/*-- navigation --*/
.slide-indexer .navigation {
  background-color: var(--navBackground);
  border: 1px solid var(--navBackground);
  border-radius: 6px 6px 0 0;
  padding: 0.2em;
}

.slide-indexer .navigation .navicon {
  color: white;
  font-size: 1.1em;
  padding-right: 0.6em;
  cursor: pointer;
}

.slide-indexer .navigation .navicon.right{
  float: right;
  padding-right: 0;
  padding-left: 0.6em;
}

.slide-indexer .navigation .message {
  color: white;
  font-style: italic;
  margin-left: 0.8em;
}

.slide-indexer .navigation .toggle-container {
  display: inline-block;
  vertical-align: middle;
}

.slide-indexer .navigation .toggle-container-label {
  color: white;
  font-size: 0.9em;
  font-weight: normal;
  margin-left: 4.0em;
  margin-right: 0.2em;
}

/*-- display container (for presentation, index and TOC --*/
.slide-indexer .display-container {
  position: relative;
  width: 100%;    
}

/*-- slide presentation --*/
.slide-indexer .display-container .presentation-container {
  position: absolute;
  top: 0;
  left: 0;  
}
  
.slide-indexer .display-container .presentation-container .slide {
  border: none;
}

/*-- index --*/
.slide-indexer .display-container .index-container {
  position: absolute;
  top: 0;
  left: 0;    
  margin: 0.4em 0 0 0.4em;
}

.slide-indexer .display-container .index-container .index-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.2em;
}

.slide-indexer .display-container .index-container .index-items {}

.slide-indexer .display-container .index-container .index-items .index-item-row {}

.slide-indexer .display-container .index-container .index-items .index-item-row:nth-of-type(odd) {
  background-color: white;
}

.slide-indexer .display-container .index-container .index-items .index-item-row .index-item-cell{}

.slide-indexer .display-container .index-container .index-items .index-item-row .index-item-cell.index-value {
  padding-right: 1.4em;
}

.slide-indexer .display-container .index-container .index-items .index-item-row .index-item-cell.index-link {
  padding-left: 0.4em;
  padding-right: 0.4em;
}

.slide-indexer .display-container .index-container .index-items .index-item-row .index-item-cell.index-link .single-index-link {
  text-decoration: underline;
  cursor: pointer;
}

.slide-indexer .display-container .index-container .index-items .index-item-row .index-item-cell.index-link .index-link-separator {
  padding-right: 0.4em;
}

/*-- table of contents --*/
.slide-indexer .display-container .toc-container {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.4em 0 0 0.4em;
}

.slide-indexer .display-container .toc-container .toc-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.2em;
}

.slide-indexer .display-container .toc-container .toc-item {
  width: 30em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.slide-indexer .display-container .toc-container .toc-item:nth-of-type(even) {
  background-color: white;
}

.slide-indexer .display-container .toc-container .toc-item .toc-mainitem {}

.slide-indexer .display-container .toc-container .toc-item .toc-subitem {
  margin-left: 2em;
}

.slide-indexer .display-container .toc-container .toc-item .toc-itemlink:hover {
  text-decoration: underline;
  cursor: pointer;
}
  
.slide-indexer .display-container .toc-container .toc-item .toc-itemshare {
  color: var(--navBackground);
  font-size: 0.8em;
  cursor: pointer;
  vertical-align: top;
  padding-left: 0.4em;
}

/*-- other stuff --*/
/*
.google-slides-container{
    position: relative;
    width: 100%;
    padding-top: 60%;
    overflow: hidden;
}

.google-slides-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
*/

