/*-------------------------------------------------------------------
 * styling for Slide Indexer user help
 *------------------------------------------------------------------*/
.colorscheme {
  --bgOverall: #eee; /*-- very light gray --*/
  --navBackground: #426296;
}

body {
	color: black;
	background-color: var(--bgOverall);
	font-family: "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 13px;
}

.slide-indexer-user-help {}

.slide-indexer-user-help .title {
  color: white;
  background-color: var(--navBackground);
  font-size: 1.2em;
  border: 1px solid var(--navBackground);
  border-radius: 6px 6px 0 0;
  margin-bottom: 0.4em;  
}

.slide-indexer-user-help .contents {
}


/*-------------------------------------------------------------
 * control section
 *------------------------------------------------------------*/
.slide-indexer-user-help .contents .control-section {
  margin-bottom: 0.6em;
}

.slide-indexer-user-help .contents .control-section .note {
  margin-left: 2.0em;
}

.slide-indexer-user-help .contents .control-section .note-leader {
  font-weight: bold;
  font-style: italic;
}

.slide-indexer-user-help .contents .control-section .control-snapshot {
  margin-right: 0.2em;
}

.slide-indexer-user-help .contents .control-section .control-snapshot-text {
  vertical-align: top;
}

/*-------------------------------------------------------------
 * icon
 *------------------------------------------------------------*/
.slide-indexer-user-help .contents .control-icon {
  color: white;
  background-color: #426296;
  font-size: 1.2em;
  padding: 0.2em;
  margin-right: 0.4em;
}

