/*------------------------------------------------------------------------------
 * MathML test bed
 *------------------------------------------------------------------------------*/
.colorscheme {
  --bgPrimary: rgba(66, 98, 150, 1.0);
  --bgShaded: #e9ecef;
  --borderPrimary: #ced4da;
}

body {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 13px;
}

.hide-me {
  display: none;
}

#imgResult, #resultSVG {
  border: 1px solid black;
  padding: 1.0em;
  margin-right: 0.5em;
  margin-bottom: 0.4em;
}

#resultSVG {
  display: inline-block;
}

.result {
  margin-top: 1.0em;
}

.result h4 {
  margin-bottom: 0.4em;
}

#resultError {
  vertical-align: top;
  font-style: italic;
  color: red;
}

#downloadLink {
  color: black;
  text-decoration: none;
  background-color: #eee;
  border: 1px solid black;
  border-radius: 2px;
  padding: 0.3em;        
}

