/*------------------------------------------------------------------------------
 * Recipes
 *------------------------------------------------------------------------------*/
.colorscheme {
  --bgPrimary: rgba(66, 98, 150, 1.0);
  --bgPrimaryFaded: rgba(66, 98, 150, 0.7);
  --bgShaded: #e9ecef;
  --borderPrimary: #ced4da;
  
  /*-- for slider switches --*/
  --bgSecondaryChoice: rgba(66, 98, 150, 1.0);
}

body {
  padding-top: 4.0em;
  font-size: 90%;
}

.hide-me {
  display: none;
}

.invisible-me {
  visibility: hidden;
}

/*------------------------------------------------------------------------------
 * Bootstrap overrides/replacements
 *------------------------------------------------------------------------------*/
 .btn-aardvark {
   color: white;
   background-color: var(--bgPrimaryFaded);
   border-color: var(--bgPrimary);
 }
 
 .btn-aardvark:hover {
   color: white;
   background-color: var(--bgPrimary);
 }
 
 .btn-aardvark:disabled {
   color: #777;
   background-color: #eee;
   border-color: #777;
 }
 
.btn-outline-aardvark {
  color: var(--bgPrimary);
  border-color: var(--bgPrimary);
}

.btn-outline-aardvark:hover {
  color: var(--bgPrimary);
}

.btn-check:checked + label.btn-outline-aardvark {
  color: white;
  background-color: var(--bgPrimaryFaded);
}

/*------------------------------------------------------------------------------
 * navbar
 *------------------------------------------------------------------------------*/
.navbar-brand {
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 1.1em;
}

.navbar .dropdown-item .excel-icon {
  color: #379164;
}

.navbar .dropdown-item.disabled .excel-icon  {
  color: #adb5bd;
}

.navbar .navbar-super {
  display: inline-block;
  position: absolute;
  top: 0.5em;
  font-weight: bold;
}

/*------------------------------------------------------------------------------
 * contents
 *------------------------------------------------------------------------------*/
.contents {}

/*------------------------------------------------------------------------------
 * contents - navRecipes
 *------------------------------------------------------------------------------*/
.contents .contents-navRecipes {}

/*------------------------------------------------------------------------------
 * contents - navRecipes, List container
 *------------------------------------------------------------------------------*/
.contents-navRecipes .recipes-addrecipe {
   color: var(--bgPrimary);
 }
 
.contents-navRecipes .recipelist-recipename {
  cursor: pointer;
}
 
.contents-navRecipes .recipelist-recipename.is-on-menu {
  font-weight: bold;
}
 
.contents-navRecipes .recipelist-recipename:hover {
  text-decoration: underline;
}
 
.contents-navRecipes .recipe-contextmenu {
  position: relative;
  display: inline-block;
  float: left;
  top: 3vh;
  left: 1.5vh;
}

.contents-navRecipes .recipe-dropdowncontent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-weight: normal;
}

.contents-navRecipes .recipe-dropdowncontent.show {
  display: block;
}

.contents-navRecipes .recipe-dropdownitem {
  padding: 0.2em 0.3em;
  display: block;
}

.contents-navRecipes .recipe-dropdownitem:hover {background-color: #ddd}

.contents .contents-navRecipes .tagselect-container {
  position: relative;
}

.contents .contents-navRecipes .tagselect-dropdown-label {
  display: inline-block;
  color: white;
  background-color: var(--bgPrimaryFaded);
  padding: 0.2em 0.4em;
}

.contents .contents-navRecipes .tagselect-dropdown-label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contents .contents-navRecipes .tagselect-dropdown-label i {
  margin-left: 0.2em;
}

.contents .contents-navRecipes .tagselect-dropdown:not(.dd-closed) {
  display: inline-block;
  position: absolute;
  top: 2.5em;
  left: 0.7em;  
  background-color: white;
  border: 1px solid #aaa;
  filter: drop-shadow(4px 4px 6px #aaaaaa);
  min-width: 10.0em;
  padding-left: 0.2em;
}

.contents .contents-navRecipes .dd-closed {
  display: none;
}

.contents .contents-navRecipes .tagselect-item:hover {
  cursor: pointer;
  background-color: #eee;
}

.contents .contents-navRecipes .tagselect-selected-container {
  display: inline-block;
  margin-left: 0.4em;
}

.contents .contents-navRecipes .tagitem {
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-right: 0.2em;
}

.contents .contents-navRecipes .tagitem .tagitem-value, 
.contents .contents-navRecipes .tagitem .tagitem-control {
  display: inline-block;  
  padding: 0.2em 0.3em;
}

.contents .contents-navRecipes .tagitem .tagitem-control {
  margin-left: 0.2em;
  color: transparent;
}

.contents .contents-navRecipes .tagitem .tagitem-control.hovering {
  color: #bbb;
}

.contents .contents-navRecipes .tagitem .tagitem-control:hover {
  color: white;
  background-color: var(--bgPrimaryFaded);
}
/*----------------------------------------
 * navRecipes, Show container and
 * navMenu, Show container
 *----------------------------------------*/
.contents-navRecipes .recipe-show-container .recipe-name,
.contents-navMenu .menu-show-container .recipe-name {
  display: inline-block;
  font-weight: bold;
  font-size: 120%;
}  

.contents-navRecipes .recipe-show-container .icon-close, 
.contents-navRecipes .recipe-show-container .icon-add,
.contents-navMenu .menu-show-container .icon-close, 
.contents-navMenu .menu-show-container .icon-add {
  color: #aaa;
  cursor: pointer;
}  

.contents-navRecipes .recipe-show-container .icon-add.is-on-menu,
.contents-navMenu .menu-show-container .icon-add.is-on-menu {
  color: var(--bgPrimary);
}  

.contents-navRecipes .recipe-show-container .icon-close,
.contents-navMenu .menu-show-container .icon-close {
  position: absolute;
  right: 1.0em;
}  

.contents-navRecipes .recipe-show-container .icon-close,
.contents-navMenu .menu-show-container .icon-close {
  font-size: 2.0em;
}  

.contents-navRecipes .recipe-show-container .icon-add,
.contents-navMenu .menu-show-container .icon-add {
  font-size: 1.4em;
}  

.contents-navMenu .menu-show-container .icon-add {
  display: none;
}  

.contents-navRecipes .recipe-show-container .icon-close:hover,
.contents-navMenu .menu-show-container .icon-close:hover {
  color: var(--bgPrimary);
}  

.contents-navRecipes .recipe-show-container .recipe-section-title,
.contents-navMenu .menu-show-container .recipe-section-title {
  font-weight: bold;
}

.contents-navRecipes .recipe-show-container .yield-value,
.contents-navMenu .menu-show-container .yield-value {
  font-weight: normal;
}

.contents-navRecipes .recipe-show-container .rating,
.contents-navMenu .menu-show-container .rating {
  display: inline-block;
  color: var(--bgPrimary);
}

.contents-navRecipes .recipe-show-container .rating .dim-star,
.contents-navMenu .menu-show-container .rating .dim-star {
  color: #ccc;
}

/*----------------------------------------
 * navRecipes, Edit container 
 *----------------------------------------*/
.contents .contents-navRecipes .importfile {
  opacity: 0;
  z-index: -1;
  position: absolute; 
}

.contents .contents-navRecipes .importfile-label {
  color: white;
  background-color: var(--bgPrimary);
  border: 1px solid var(--bgPrimary);
  cursor: pointer;
}
 
.contents-navRecipes .recipe-edit-container .recipe-deletion-name {
  font-weight: bold;
}

.contents-navRecipes .recipe-edit-container .input-instructions {
  height: 34.0em;
}

.contents-navRecipes .recipe-edit-container .input-notes {
  height: 10.0em;
}

.contents-navRecipes .ingredients-table .header.header-controls {
  width: 3%;
}

.contents-navRecipes .ingredients-table .header .bulk-add-ingredients {
  color: var(--bgPrimary);
  float: right;
  padding-top: 0.2em;
}

.contents-navRecipes .recipe-edit-container .single-ingredient .controls i {
  cursor: pointer;
  color: #aaa;
}

.contents-navRecipes .recipe-edit-container .single-ingredient .controls i:hover {
  color: var(--bgPrimary);
}

.contents-navRecipes .recipe-edit-container .single-ingredient .ingredient-text {
  cursor: pointer;
}

.contents-navRecipes .recipe-edit-container .single-ingredient .ingredient-text:hover {
  text-decoration: underline;
}

.contents-navRecipes .recipe-edit-container .single-ingredient .ingredient-input {
  width: 100%;
}

/*------------------------------------------------------------------------------
 * contents - navMenu
 *------------------------------------------------------------------------------*/
.contents .contents-navMenu {}

.contents-navMenu .menulist-table .header.header-controls {
  width: 3%;
}

.contents-navMenu .menulist-table .delete-icon {
  color: #aaa;
  cursor: pointer;
}

.contents-navMenu .menulist-table .delete-icon:hover {
  color: var(--bgPrimary);
}

.contents-navMenu .menulist-table .recipename {
  cursor: pointer;
}

.contents-navMenu .menulist-table .recipename:hover {
  text-decoration: underline;
}

/*------------------------------------------------------------------------------
 * contents - navShopping
 *------------------------------------------------------------------------------*/
.contents .contents-navShopping {}

/*------------------------------------------------------------------------------
 * contents - navAdmin
 *------------------------------------------------------------------------------*/
.contents .contents-navAdmin {}

/*----------------------------------------
 * 5 star rating container
 *----------------------------------------*/
.rating-container {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rating-container:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rating-container:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;  
}
.rating-container:not(:checked) > label:before {
    content: '★ ';
}
.rating-container > input:checked ~ label {
    color: #426296;    
}
.rating-container:not(:checked) > label:hover,
.rating-container:not(:checked) > label:hover ~ label {
    color: #354d78;  
}
.rating-container > input:checked + label:hover,
.rating-container > input:checked + label:hover ~ label,
.rating-container > input:checked ~ label:hover,
.rating-container > input:checked ~ label:hover ~ label,
.rating-container > label:hover ~ input:checked ~ label {
    color: #1e2c45; 
}

/*------------------------------------------------------------------
 * standard error and notice
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/

/*---------------------------------------------------
 * scrollbar
 *---------------------------------------------------*/
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bgPrimaryFaded); 
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bgPrimary);
}

 /*
.itips-scrollbar::-webkit-scrollbar {
  width: 16px;
}
.itips-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: blue green;
}

.itips-scrollbar::-webkit-scrollbar-track {
  background: green;
}
.itips-scrollbar::-webkit-scrollbar-thumb {
  background-color: blue) ;
  border-radius: 8px;
  border: 3px solid green;
} 

.itips-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--bgPrimaryFaded) ;
} 
*/