/*------------------------------------------------------------------------------
 * ITips
 *------------------------------------------------------------------------------*/
.colorscheme {
  --bgPrimary: rgba(66, 98, 150, 1.0);
  --bgPrimaryFaded: rgba(66, 98, 150, 0.7);
  --bgShaded: #e9ecef;
  --borderPrimary: #ced4da;
  
  /*-- for slider switches --*/
  --bgSecondaryChoice: rgba(66, 98, 150, 1.0);
}

body {
  padding-top: 4.0em;
  font-size: 90%;
}

.hide-me {
  display: none;
}

.invisible-me {
  visibility: hidden;
}

/*------------------------------------------------------------------------------
 * navbar
 *------------------------------------------------------------------------------*/
.navbar-brand {
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-size: 1.1em;
}

.navbar .dropdown-item .excel-icon {
  color: #379164;
}

.navbar .dropdown-item.disabled .excel-icon  {
  color: #adb5bd;
}

.navbar .navbar-super {
  display: inline-block;
  position: absolute;
  top: 0.5em;
  font-weight: bold;
}

/*------------------------------------------------------------------------------
 * contents
 *------------------------------------------------------------------------------*/
.contents {}

/*------------------------------------------------------------------------------
 * contents - navScheduling
 *------------------------------------------------------------------------------*/
.contents .contents-navScheduling {}

/*------------------------------------------------------------------------------
 * contents - navScheduling, selection
 *------------------------------------------------------------------------------*/
.contents .contents-navScheduling .scheduling-selection-controls .selection-control {
  color: var(--bgPrimaryFaded);
  cursor: pointer;
  font-size: 125%;
  margin-right: 0.3em;
  margin-top: 0.3em;
  padding: 0.1em;
}

.contents .contents-navScheduling .scheduling-selection-controls .selection-control:hover {
  color: var(--bgPrimary);
}

.contents .contents-navScheduling .scheduling-selection-controls:not(.collapsed) .selection-control.main-control {
  color: white;
  background-color: var(--bgPrimary);
}

.contents .contents-navScheduling .scheduling-selection-controls.collapsed .selection-control:not(.main-control) {
  display: none;
}

.contents .contents-navScheduling .scheduling-selection-controls .selection-control.disable-me {
  color: #aaa;
}

/*------------------------------------------------------------------------------
 * contents - navScheduling, details
 *------------------------------------------------------------------------------*/
.contents .contents-navScheduling .scheduling-detail-container {}

.contents .contents-navScheduling .scheduling-detail-container .icon-mirrored {
  transform: rotateY(180deg);
}

/*-- single week --*/
.contents .contents-navScheduling .scheduling-detail-container .single-week-controls,
.contents .contents-navScheduling .scheduling-detail-container .single-week-label:not(.hide-me) {
  display: inline-block;
}

.contents .contents-navScheduling .scheduling-detail-container .single-week-label {
  font-weight: bold;
}

.contents .contents-navScheduling .scheduling-detail-container .single-week-controls .weekwcontrol-icon {
  color: var(--bgPrimaryFaded);
  cursor: pointer;
  font-size: 125%;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.contents .contents-navScheduling .scheduling-detail-container .single-week-controls .weekwcontrol-icon:hover {
  color: var(--bgPrimary);
}

.contents .contents-navScheduling .scheduling-detail-container .single-week-controls .weekcontrol-current {
  color: white;
  background-color: var(--bgPrimaryFaded);  
  border-radius: 8px;
}

.contents .contents-navScheduling .scheduling-detail-container .single-week-controls .weekcontrol-current:hover {
  background-color: var(--bgPrimary);
}

.contents .contents-navScheduling .scheduling-detail-container .single-week-tip-container {
  border: 1px solid #ddd;
}

.contents .contents-navScheduling .scheduling-detail-container .single-week-tips .single-week-tip:nth-child(odd) {
  background-color: #eee;
}

.contents .contents-navScheduling .scheduling-detail-container .single-week-tips .single-week-tip-controls {
  display: inline-block;
}

.contents .contents-navScheduling .scheduling-detail-container .single-week-tips .single-week-tip-controls .tip-check:hover {
  cursor: pointer;
}
.contents .contents-navScheduling .scheduling-detail-container .single-week-tips .single-week-tip-controls .tip-check:checked {
  background-color: var(--bgPrimaryFaded);
}

.contents .contents-navScheduling .scheduling-detail-container .single-week-tips .single-week-tip-content {
  display: inline-block;
}

/*--- single week, edit mode ---*/
.contents .contents-navScheduling .subcontainer.single-week.editmode .single-week-tip-controls.after-content {
  float: right;
}

.contents .contents-navScheduling .subcontainer.single-week.editmode .single-week-tip-controls .tip-icon {
  cursor: pointer;
  color: var(--bgPrimaryFaded);
}

.contents .contents-navScheduling .subcontainer.single-week.editmode .single-week-tip-controls .tip-icon:hover {
  color: var(--bgPrimary);
}

/*--- full schedule ---*/
.contents .contents-navScheduling .subcontainer.full-schedule .full-schedule-weeks {
  border: 1px solid #ddd;  
  max-height: 34.0em;
  overflow-y: auto;
}

.contents .contents-navScheduling .subcontainer.full-schedule:not(.editmode) .full-schedule-week-label {
  color: white;
  background-color: var(--bgPrimaryFaded);
}

.contents .contents-navScheduling .subcontainer.full-schedule:not(.editmode) .full-schedule-week-label:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: var(--bgPrimary);
}

.contents .contents-navScheduling .subcontainer.full-schedule .full-schedule-tip-controls,
.contents .contents-navScheduling .subcontainer.full-schedule .full-schedule-tip-content {
  display: inline-block;
}

.contents .contents-navScheduling .subcontainer.full-schedule .full-schedule-tip:nth-child(even) {
  background-color: #eee;
}

/*-- full schedule, edit mode --*/
.contents .contents-navScheduling .subcontainer.full-schedule.editmode .full-schedule-week-header {
  color: white;
  background-color: var(--bgPrimaryFaded);  
}

.contents .contents-navScheduling .subcontainer.full-schedule.editmode .full-schedule-week-header:hover {
  background-color: var(--bgPrimary);  
}

.contents .contents-navScheduling .subcontainer.full-schedule.editmode .full-schedule-week-label,
.contents .contents-navScheduling .subcontainer.full-schedule.editmode .full-schedule-week-controls {
  display: inline-block;
}

.contents .contents-navScheduling .subcontainer.full-schedule.editmode .full-schedule-week-label:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contents .contents-navScheduling .subcontainer.full-schedule.editmode .full-schedule-week-controls {
  float: right;
}

.contents .contents-navScheduling .subcontainer.full-schedule.editmode .full-schedule-week-controls {
  cursor: pointer;
}

/*--- tip browsing ---*/

/*------------------------------------------------------------------------------
 * contents - navTipsEditing
 *------------------------------------------------------------------------------*/
.contents .contents-navTipsEditing {}

.contents .contents-navTipsEditing .tagselect-dropdown-label {
  display: inline-block;
}

.contents .contents-navTipsEditing .tagselect-dropdown-label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.contents .contents-navTipsEditing .tagselect-dropdown-label i {
  margin-left: 0.2em;
}

.contents .contents-navTipsEditing .tagselect-dropdown:not(.dd-closed) {
  display: inline-block;
  position: absolute;
  background-color: white;
  border: 1px solid #aaa;
  filter: drop-shadow(4px 4px 6px #aaaaaa);
  min-width: 10.0em;
  padding-left: 0.2em;
  top: 9.5em;
  left: 2.7em;  
}

.contents .contents-navTipsEditing .dd-closed {
  display: none;
}

.contents .contents-navTipsEditing .tagselect-item:hover {
  cursor: pointer;
  background-color: #eee;
}

.contents .contents-navTipsEditing .tagselect-selected-container {
  display: inline-block;
  margin-left: 0.4em;
}

.contents .contents-navTipsEditing .tagitem {
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-right: 0.2em;
}

.contents .contents-navTipsEditing .tagitem .tagitem-value, 
.contents .contents-navTipsEditing .tagitem .tagitem-control {
  display: inline-block;  
  padding: 0.2em 0.3em;
}

.contents .contents-navTipsEditing .tagitem .tagitem-control {
  margin-left: 0.2em;
  color: transparent;
}

.contents .contents-navTipsEditing .tagitem .tagitem-control.hovering {
  color: #bbb;
}

.contents .contents-navTipsEditing .tagitem .tagitem-control:hover {
  color: white;
  background-color: var(--bgPrimaryFaded);
}

.contents .contents-navTipsEditing .tiplist-head {}

.contents .contents-navTipsEditing .tiplist-head .tips-addtip {
  cursor: pointer;
}

.contents .contents-navTipsEditing .tiplist-head .tips-headerlabel:hover {
  cursor: pointer;
  text-decoration: underline
}

.contents .contents-navTipsEditing .tiplist-body {}

.contents .contents-navTipsEditing .tiplist-body .tiplist-controls i {
  margin-right: 0.3em;
}

.contents .contents-navTipsEditing  .tipusage-deletion {
  font-weight: bold;
}

.contents .contents-navTipsEditing .tipcontent-deletion {
  display: inline-block;
  border: 1px solid #aaa;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

/*------------------------------------------------------------------------------
 * contents - navSharing
 *------------------------------------------------------------------------------*/
.contents .contents-navSharing {}

.contents .contents-navSharing .pending-shares-container .controls i {
  margin-right: 0.3em;
}

/*------------------------------------------------------------------------------
 * contents - navNotification
 *------------------------------------------------------------------------------*/
.contents .contents-navNotification {}

.contents .contents-navNotification .dayslider {
  width: 3.0em;
}

.contents .contents-navNotification .dayslider .switch-label {
  font-size: 0.8em;
}

/*------------------------------------------------------------------------------
 * contents - navAdmin
 *------------------------------------------------------------------------------*/
.contents .contents-navAdmin {}

/*------------------------------------------------------------------
 * standard error and notice
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/
