/*-------------------------------------------------------------------
 * styling for welcome letter options editor
 *------------------------------------------------------------------*/
body {
  padding-top: 4.0em;
}

.hide-me {
  display: none;
}

/*-----------------------------------------------------*/
/* contents                                            */
/*-----------------------------------------------------*/
.contents {}

/*------------------------------------------------------------------
 * standard error and notice
 *------------------------------------------------------------------*/
.standard_error {
  display: none;
  font-style: italic;
  color: blue;
  margin-bottom: 0.4em;;
}

.standard-notice { 
  display: inline-block;
  font-size: 1em;
  font-style: italic;
  margin-left: 1.0em;
  margin-right: 0.2em;
}

#noticeSpinner {
  font-size: 0.9em;
  margin-left: 0.2em;
  margin-right: 0.2em;
}
/*-- end of standard notice and error --*/


