mixin testContainer()
  .row(class="py-2")
    .col-sm
      button(class="btnTestPicker") test file picker
      
  .row(class="py-2")
    .col-sm
      .file-info none      
      
  .row(class="py-2")
    .col-sm
      button(class="btnTestFileRead") test file read
            
  .row(class="py-2")
    .col-sm
      button(class="btnTestAddSheet") test add sheet
