mixin configureContainer()
  .row
    .col-sm
      fieldset(class="border configure-fieldset required pb-2")
        legend(class="w-auto") required
        
        .container-fluid
          .row(class="mb-1")
            .col-sm
              label(for="file-upload-enrollment" class="uploadfile-label uploadfile-label-enrollment btn btn-secondary" title="choose enrollment report file to upload and process") enrollment
              input(type="file" class="uploadfile uploadfile-enrollment" id="file-upload-enrollment" accept=".xlsx")
              span(class="upload-result enrollment ms-3")
              
    .col-sm
      fieldset(class="border configure-fieldset optional pb-2")
        legend(class="w-auto") optional
        
        .container-fluid
          .row(class="mb-1")
            .col-sm
              label(for="file-upload-mentor" class="uploadfile-label uploadfile-label-mentor btn btn-secondary" title="choose mentor/guardian report file to upload and process") mentor/guardian
              input(type="file" class="uploadfile uploadfile-mentor" id="file-upload-mentor" accept=".xlsx")
              span(class="upload-result mentor ms-3")

          .row(class="mb-1")
            .col-sm
              label(for="file-upload-iep" class="uploadfile-label uploadfile-label-iep btn btn-secondary" title="choose IEP report file to upload and process") IEP
              input(type="file" class="uploadfile uploadfile-iep" id="file-upload-iep" accept=".xlsx")
              span(class="upload-result iep ms-3")

          .row(class="mb-1")
            .col-sm
              label(for="file-upload-504" class="uploadfile-label uploadfile-label-504 btn btn-secondary" title="choose 504 report file to upload and process") 504
              input(type="file" class="uploadfile uploadfile-504" id="file-upload-504" accept=".xlsx")
              span(class="upload-result 504 ms-3")

          .row(class="mb-1")
            .col-sm
              label(for="file-upload-homeschooled" class="uploadfile-label uploadfile-label-homeschooled btn btn-secondary" title="choose home schooled report file to upload and process") home schooled
              input(type="file" class="uploadfile uploadfile-homeschooled" id="file-upload-homeschooled" accept=".xlsx")
              span(class="upload-result homeschooled ms-3")

  .row(class="py-2")
    .col-sm
      .changed-data
