mixin viewContainer()
  .row(class="py-2")
    .col-sm-5
      .status-message(class="hide-me")

      .dropdown(class="student-select input-group hide-me")
        span(for="dropdownMenuInput" class="input-group-text") student
        input(type="text" class="form-control dropdown-toggle" id="dropdownMenuInput" data-bs-toggle="dropdown" aria-expanded="false")

        ul(class="dropdown-menu" aria-labelledby="dropdownMenuInput")

  .row(class="py-2")
    .col-sm
      .container-fluid(class="view-content hide-me")

