mixin adminContainer()   
  .row(class="py-2")
    .col-sm
      button(class="btnToggleAdmin" title="toggle admin menu option") toggle admin

  .row(class="py-2")
    .col-sm
      button(class="btnSignout" title="sign out from Google") Google signout
      
  .row(class="py-2")
    .col-sm-1 render type
    
    .col-sm
      div(class="form-check form-check-inline")
        input(class="form-check-input check-rendertype rendertype-plain" type="radio" name="checkRenderType" id="checkRenderTypePlain" value="plain")
        label(class="form-check-label check-rendertype-label" for="checkRenderTypePlain") plain

      div(class="form-check form-check-inline")
        input(class="form-check-input check-rendertype rendertype-table" type="radio" name="checkRenderType" id="checkRenderTypeTable" value="table" checked)
        label(class="form-check-label check-rendertype-label" for="checkRenderTypeTable") table
   
  .row(class="py-2")
    .col-sm
      button(class="btnTest") test

