mixin testContainer()
  .row(class="py-2")
    .col-sm
      button(class="btnTestPicker") test file picker
      
  .row(class="py-2")
    .col-sm
      .file-info
        a(class="file-url hide-me" href="" target="_blank")
        .file-id
        .file-numsheets
        .file-sheetnames
        
      
  .row(class="py-2")
    .col-sm
      button(class="btnTestSSInfo") test get spreadsheet info
            
  .row(class="py-2")
    .col-sm
      button(class="btnTestFileRead") test file read
            
  .row(class="py-2")
    .col-sm
      button(class="btnTestAddSheet") test add sheet
      
  .row(class="py-2")
    .col-sm
      button(class="btnTestFileWrite") test file write
