/*------------------------------------------------------------
 * style settings for Treasure Hunt landing page
 *------------------------------------------------------------*/
body {
  color: black;
  background-color: var(--bgOverall);
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 13px;
}

.treasurehunt-landing {}

/*------------------
 * image
 *------------------*/
.treasurehunt-landing .image-container {}

.treasurehunt-landing .image-container .image {
  max-width: 45em;
}

/*------------------
 * message
 *------------------*/
.treasurehunt-landing .message-container {}

/*------------------
 * user input
 *------------------*/
.treasurehunt-landing .userinput-container {}

.treasurehunt-landing .userinput-container .userinput {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 1.0em;
	display: inline-block;
	color: #444;
	line-height: 1.0;
	padding: .6em 1.4em .5em .8em;
  width: 20em;
	box-sizing: border-box;
	margin: 0.3em 0.2em 0 0 ;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .3em;
	background-color: #fff;
}

.treasurehunt-landing .userinput-container .userinputcheck {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 1.0em;
  height: 2.5em;
  width: 5em;
  margin-top: 0.2em;
  margin-right: 0.2em;
  color: white;
  background-color: var(--bgSecondaryChoice);
  border: 1px solid #444;
  border-radius: 0.3em;
  outline: none;  
}

/*------------------
 * response
 *------------------*/
.treasurehunt-landing .response-container {}

.treasurehunt-landing .response-container .response-specific {}

.treasurehunt-landing .response-container .response-specific .standardbox {
  display: inline-block;
  color: white;
  background-color: var(--bgPrimaryEmphasis);
  border-radius: 0.3em;
  margin-top: 1.0em;
  padding: 0 0.4em 0.4em 0.4em;
}

.treasurehunt-landing .response-container .response-specific .standardbox .standardbox-confirmation {
  display: inline-block;
  color: black;
  background-color: white;
  border-radius: 0.3em;
  margin: auto;
  width: 97%;
  padding: 0.4em;
  text-align: center;
}

/*------------------
 * action
 *------------------*/
.treasurehunt-landing .action-container {}

.treasurehunt-landing .action-container.hide-me {
  display: none;
}
