/*------------------------------------------------------------
 * style settings for Treasure Hunt landing page
 *------------------------------------------------------------*/
body {
  color: black;
  background-color: var(--bgOverall);
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 13px;
}

.treasurehunt-landing {}
