/*------------------------------------------------------------
 * style settings for Treasure Hunt project
 *------------------------------------------------------------*/
body {
  color: black;
  background-color: var(--bgOverall);
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 13px;
}

.treasurehunt {}

.treasurehunt .treasurehuntprojectcontrol {
  margin-top: 3.6em;  
}

.treasurehunt .treasurehunt-contents .treasurehuntlayout {
  margin-top: 2.0em;
}

.treasurehunt .treasurehunt-contents .treasurehuntclues {
  margin-top: 2.0em;
}

.treasurehunt .treasurehunt-contents .treasurehuntprofile {
  margin-top: 3.6em;  
}

/*-------------------------------------------------------------
 * sections
 *------------------------------------------------------------*/
.treasurehunt .section {
  margin-top: 1.4em;
}

.treasurehunt .section .sectionheader {
  margin-bottom: 0.2em;
}

.treasurehunt .section .sectionheader .sectionheader-text {
  display: inline-block;
  color: white;
  background-color: var(--bgPrimaryEmphasis);
  padding: 0.2em 0 0.2em 0.4em;
  width: 50%;  
}

/*-------------------------------------------------------------
 * input fields and controls
 *------------------------------------------------------------*/
.treasurehunt input.treasurehunt-input {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 1.0em;
	display: inline-block;
	color: #444;
	line-height: 1.0;
	padding: .6em 1.4em .5em .8em;
  width: 20em;
	box-sizing: border-box;
	margin: 0.3em 0.2em 0 0 ;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .3em;
	background-color: #fff;
 }
 
.treasurehunt textarea.treasurehunt-input {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 1.0em;
  color: #444;
  width: 20em;
  min-height: 16em;
	padding: .6em 1.4em .5em .8em;
  border: 1px solid #aaa;
  border-radius: 0.3em;
  outline: none;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
} 

.treasurehunt input.treasurehunt-spinner {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 1.0em;
	display: inline-block;
	color: #444;
	line-height: 1.0;
	padding: .6em 1.4em .5em .8em;
  width: 5em;
	box-sizing: border-box;
	margin: 0.3em 0.2em 0 0 ;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .3em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
 }
 
.treasurehunt div.inputpreview {
  display: inline-block;
  background-color: white;
  vertical-align: top;
  width: 20em;
  min-height: 16.0em;
  margin-left: 0.4em;
	padding: .6em 1.4em .5em .8em;
  border: 1px solid #aaa;
  border-radius: 0.3em;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);  
  overflow-wrap: break-word;
}


.treasurehunt div.inputpreview.previewdefault {
  color: #aaa;
  background-color: transparent;
}

.treasurehunt div.inputpreview * {
  margin: 0;
}

.treasurehunt button.treasurehunt-button {
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  height: 2.6em;
  width: 5em;
  margin-top: 0.2em;
  margin-right: 0.2em;
  color: white;
  background-color: var(--bgSecondaryChoice);
  border: 1px solid #444;
  border-radius: 0.3em;
  outline: none;
}

.treasurehunt button.treasurehunt-button:disabled {
  color: black;
  background-color: var(--bgTertiaryEmphasis);
}

.treasurehunt button.treasurehunt-button:active {
  color: black;
  background-color: var(--bgQuaternaryEmphasis);
}


/*-------------------------------------------------------------
 * scrollbar
 *------------------------------------------------------------*/
body::-webkit-scrollbar {
  width: 16px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--bgTertiaryEmphasis) var(--bgQuaternaryEmphasis);
}
body::-webkit-scrollbar-track {
  background: var(--bgQuaternaryEmphasis);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--bgTertiaryEmphasis) ;
  border-radius: 8px;
  border: 3px solid var(--bgQuaternaryEmphasis);
} 

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--bgPrimaryEmphasis_trans);
} 