- var description = params.description

doctype html
html(lang="en")
  head
    title Roster Manager error
    meta(charset="utf-8")

    style
      include ../styles/roster-manager.css
      
  body(class="colorscheme") 
    .titlecontainer
        .titletext
            |Roster Manager - error in exporting
            
    .error-description=description

