include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug
include ../../common/pug/navbar-mixins.pug

doctype html
html(lang="en")
  head
    title infoDeck extension help
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    +fontawesome()
    +bootstrapstyle()


  body
    div infoDeck help (TBD)
