include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug
include ../../common/pug/navbar-mixins.pug
include ../../common/pug/jquery-mixins.pug
include ../../common/pug/profile-mixins.pug

include ./mixins/mixins-student.pug
include ./mixins/mixins-mentor.pug
include ./mixins/mixins-edit.pug
include ./mixins/mixins-configure.pug
include ./mixins/mixins-admin.pug

doctype html
html(lang="en")
  head
    title Roster manager
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    
    +fontawesome()
    +bootstrapstyle()
    
    script(src="/scripts/commonmark_min.js")
    script(src="https://apis.google.com/js/api.js")
    
    style
      include ../../common/styles/classProfile.css
      include ../../common/styles/navbar-overrides.css
      include ../styles/roster-manager.css
    
    +addJQuery()
    script(data-main="/scripts/roster-manager/require_roster-manager", src="/scripts/require.js")      \
    
  body(class="colorscheme")
    +makeNavbar("Roster manager", 
      {
        items: [
          {id: "navStudent", type: "link", label: "students"},
          {id: "navMentor", type: "link", label: "mentors"},
          {id: "navConfigure", type: "link", label: "configure"},
          {id: "navAdmin", type: "link", label: "admin"},
          {type: "dropdown", label: "other", items: [
            {id: "navEndDateManager", type: "link", label: "end date manager"},
            {type: "divider"},
            {id: "navHelp", type: "link", label: "help"},
            {id: "navSignout", type: "link", label: "sign out"},
          ]}
        ],
        
        buttons: [
          {id: 'navGoogle', label: 'authorize'},
          {id: 'navSave', label: 'save'},
          {id: 'navReload', label: 'reload'}        
        ],
        
        profile: true
      }
    )
    
    .contents
      .error-container
      
      .container-fluid(class="contents-container contents-navStudent hide-me disable-container")
        +studentContainer()
        
      .container-fluid(class="edit-container hide-me")  
        +editContainer()
        
      .container-fluid(class="contents-container contents-navMentor hide-me disable-container")
        +mentorContainer()
        
      .container-fluid(class="contents-container contents-navConfigure hide-me disable-container")
        +configureContainer()
        
      .container-fluid(class="contents-container contents-navAdmin hide-me disable-container")
        +adminContainer()     
        
      +ASProfile("myProfile", "contents-container contents-navProfile", "hide-me")
