include ../../common/pug/fontawesome-mixins.pug
include ../../common/pug/bootstrap-mixins.pug
include ../../common/pug/navbar-mixins.pug

doctype html
html(lang="en")
  head
    title roster manager
    meta(charset="utf-8")
    
    +fontawesome() 
    +bootstrapstyle()

    style
      include ../../common/styles/sliderswitch.css
      include ../../common/styles/select.css
      include ../../common/styles/navbar-overrides.css          
      include ../styles/roster-manager.css
    
    script(data-main="/scripts/roster-manager/require_roster-manager", src="/scripts/require.js")    
      
  body(class="colorscheme")
    +makeNavbar("Roster Manager", 
      {
        items: [],        
        buttons: [],        
        profile: false,
        helpbutton: true
      }
    )
    
    .container-fluid              
      .row: .col-sm            
        form(class="userform enrollmentform" action="roster-manager/enrollment" enctype="multipart/form-data" method="post")
          .form-row
            .form-col0
              |enrollment report file
              
            .form-col1
              input(type="file" class="file-select" name="enrollment-report-file" accept=".xlsx" required title="enrollment report file to process")
              
            .form-col2.submit-region
              input(class="form-submit btn btn-outline-primary" type="submit" value="process")
            
          .form-row
            .form-col0
              input(type="checkbox" id="chkEnrollmentCompare" class="check-compare check-enrollment-compare" title="optionally compare to older file")
              span(class="diminish-me label-enrollment-compare") compare to...
              
            .form-col1
              input(type="file" class="file-select enrollment-report-file2 hide-me" name="enrollment-report-file2" accept=".xlsx" disabled title="older enrollment report file for comparison")
            
      
      .row: .col-sm      
        form(class="userform mentorform" action="roster-manager/mentor" enctype="multipart/form-data" method="post")
          .form-row
            .form-col0
              |mentor/guardian report file

            .form-col1
              input(type="file" class="file-select" name="mentor-report-file" accept=".xlsx" required title="mentor/guardian report file to process")
            
            .form-col2.submit-region
              input(class="form-submit btn btn-outline-primary" type="submit" value="process")
            
          .form-row
            .form-col0
              input(type="checkbox" id="chkMentorCompare" class="check-compare check-mentor-compare" title="optionally compare to older file")
              span(class="label-mentor-compare diminish-me") compare to...
              
            .form-col1
              input(type="file" class="file-select mentor-report-file2 hide-me" name="mentor-report-file2" accept=".xlsx" disabled title="older mentor/guardian report file for comparison")
        
