doctype html
html(lang="en")
  head
    title InstructorTips help - notification
    meta(charset="utf-8")
    style
      include ../../common/styles/select.css    
      include ../styles/colorscheme.css
      include ../styles/pacingguide-viewer.css

    script(data-main="/scripts/pacingguide-viewer/require_pacingguide-viewer", src="/scripts/require.js")

      
  body(class="pgviewer-colorscheme")
    - var courseList = params.courses
    - var startEndList = params.startend
    
    div(class="pgviewer-contents")
      div(class="pgviewer-title")
        div(class="pgviewer-titletext")
          |Pacing guide viewer

      div(class="pgviewer-controls")
        select(class="pgviewer-courseselect select-css")
          option(value="-1") select a course
          each course in courseList
            option(value=course.textkey)= course.description

        select(class="pgviewer-dateselect select-css")
          each datePair in startEndList
            - var val = datePair.startdate + ' ' + datePair.enddate;
            option(value=val)= datePair.description
          option(value="custom") custom
          
        div(class="pgviewer-customdate hide-me")
          input(class="pgviewer-date pgviewer-startdate", type="date", value="2020-08-07", min="2020-06-01" max="2030-12-31", title="start date")
          input(class="pgviewer-date pgviewer-enddate", type="date", value="2020-12-21", min="2020-06-01" max="2030-12-31", title="end date")

      div(class="pgviewer-test")

      div(class="pgviewer-viewer")
        iframe(class="pgviewer-viewercontents hide-me", src="about:blank")
