ul(class="section-list")
  li The 
    a(href="https://michiganvirtual.org/professionals/mentors/", target="_blank") Mentor Resources
    |&nbsp;site will help answer many of the questions you might have.
  li Please feel free to communicate with me often. I respond quickly to emails and of course I’m also available by phone