ul(class="section-list")
  li Check your student's progress against the recommended pacing in the SLP.
  li Review your student's results on graded assignments and encourage them to reach out for help when they struggle.
  li Encourage your student to use the additional resources suggested in many of the lessons. There are links to videos and tutorials and so forth that are quite useful.
  li Keep an eye on the weekly posts I make in the Teacher Feed. These provide suggestions, pacing guidance, and additional resources.
  li Encourage your student to use the Discussion Board to get in touch with other students, to get help from a peer, and generally to hang out with classmates.