mixin tinyMCEscripts()
    script(src='https://cdn.tiny.cloud/1/ilhkd30p3n59d9tztl5424xgsewe5n8oex22x3uwg0ucxc0i/tinymce/5/tinymce.min.js' referrerpolicy="origin")
    
mixin makeTinyMCE(elemId)
  textarea(id=elemId name=elemId class="mytinyMCE-textarea")
