/*------------------------------------------------------------
 * style settings for LookupInput class
 *------------------------------------------------------------*/
.lookupinput {
  display: inline-block;
}

.lookupinput.lookupinput-hide {
  display: none;
}

/*---------------------------------------------
 * label
 *---------------------------------------------*/
.lookupinput .lookupinput-label {
  display: inline-block;
  vertical-align: top;
  padding-right: 0.4em;
}

/*---------------------------------------------
 * input element and its container
 *---------------------------------------------*/
.lookupinput .lookupinput-inputcontainer {
  display: inline-block;
  vertical-align: top;
  padding-right: 0.4em;
}

.lookupinput .lookupinput-inputcontainer .lookupinput-errortext {
  color: red;
  font-style: italic;
}

.lookupinput .lookupinput-inputcontainer .lookupinput-headcontainer {}

.lookupinput .lookupinput-inputcontainer .lookupinput-headcontainer input {}

.lookupinput .lookupinput-inputcontainer .lookupinput-headcontainer input:focus {
  outline: none;
}

/*---------------------------------------------
 * input item container and items
 *---------------------------------------------*/
.lookupinput .lookupinput-inputcontainer .lookupinput-itemcontainer {
  border: 1px solid black;
  border-top: none;
}

.lookupinput .lookupinput-inputcontainer .lookupinput-itemcontainer.lookupinput-hide {
  display: none;
}

.lookupinput .lookupinput-inputcontainer .lookupinput-itemcontainer.nomatches {
  border: none;
}

.lookupinput .lookupinput-inputcontainer .lookupinput-itemcontainer .lookupinput-item {
  border: 1px solid transparent;
}

.lookupinput .lookupinput-inputcontainer .lookupinput-itemcontainer .lookupinput-item:hover {
  background-color: #cbdaf2;
  border: 1px solid #5e97f2;
  border-radius: 6px;
}

.lookupinput .lookupinput-inputcontainer .lookupinput-itemcontainer .lookupinput-item.notshown {
  display: none;
}

/*---------------------------------------------
 * selected item container and items
 *---------------------------------------------*/
.lookupinput .lookupinput-selectedcontainer {
  display: inline-block;
}

.lookupinput .lookupinput-selectedcontainer .lookupinput-selecteditem {
  background-color: transparent;
  border: 1px solid #5e97f2;
  border-radius: 6px;
  min-width: 6.0em;
  margin-bottom: 0.1em;
}  

.lookupinput .lookupinput-selectedcontainer .lookupinput-selecteditem:hover {
  background-color: #cbdaf2;
}  

.lookupinput .lookupinput-selectedcontainer .lookupinput-selecteditem .lookupinput-selecteditemvalue {
  display: inline-block;
  padding: 0.2em 0.2em;
}

.lookupinput .lookupinput-selectedcontainer .lookupinput-selecteditem .lookupinput-selecteditemcontrol {
  display: inline-block;
  float: right;
}

.lookupinput .lookupinput-selectedcontainer .lookupinput-selecteditem .lookupinput-selecteditemcontrol .lookupinput-selecteditemicon {
  color: transparent;
  padding: 0.4em 0.2em;
}

.lookupinput .lookupinput-selectedcontainer .lookupinput-selecteditem .lookupinput-selecteditemcontrol .lookupinput-selecteditemicon:hover {
  color: black;
}

