mixin shareContainer()
  .row
    .col-sm 
      .share-label student
      
    .col-sm
      button(class="btn btn-secondary btnLinkStudent disabled") link to letter
      
    .col-sm
      button(class="btn btn-secondary btnMessageStudent disabled") formatted message
      
  .row
    .col-sm 
      .share-label mentor
      
    .col-sm
      button(class="btn btn-secondary btnLinkMentor disabled") link to letter
      
    .col-sm
      button(class="btn btn-secondary btnMessageMentor disabled") formatted message      