mixin shareContainer()
  .row
    .col-sm 
      .share-label student
      
    .col-sm
      button(class="btn btn-secondary btnLinkStudent") link to letter
      
    .col-sm
      button(class="btn btn-secondary btnMessageStudent") formatted message
      
  .row
    .col-sm 
      .share-label mentor
      
    .col-sm
      button(class="btn btn-secondary btnLinkMentor") link to letter
      
    .col-sm
      button(class="btn btn-secondary btnMessageMentor") formatted message

  .row
    .col-sm
      .copy-message    