ul(class="section-list")
  li I will always treat you with respect and friendliness and do my best to encourage your learning and growth.
  
  li I will respond to any communication from a student, mentor or parent within 24 hours.
  
  if (apcourse == 1)
    li I will grade all assignments, providing solid feedback, within 96 hours (not counting weekends and holidays)
  else
    li I will grade all assignments, providing solid feedback, within 72 hours (not counting weekends and holidays)
  
  li I will communicate with your school and parents regarding your progress in class.
  
  li I will help explain difficult concepts and provide additional material where appropriate.
  
  li I will make weekly announcements in the Teacher Feed, highlighting upcoming assignments and providing suggestions.
  
  li I will be an active member of the class discussions.
