.kts-countdown-container {
	color: white;
  font-family: "Segoe UI", Tahoma, Arial, sans-serif;
  font-size: 12px;
  max-width: 34em;
	border-radius: 6px;
	background: #25f791; 
	background: -webkit-linear-gradient(#135e6f, #2f8d98);
	background: -o-linear-gradient(#135e6f, #2f8d98);
	background: -moz-linear-gradient(#135e6f, #2f8d98);
	background: linear-gradient(#135e6f, #2f8d98);
}

.kts-countdown .kts-countdown-table {
	width: 100%; 
	height: 100%;
}

.kts-countdown .kts-countdown-title {
	font-size: 1.4em;
	padding: 10px 0 0 0;
	width: 50%;
	vertical-align:-10%;
}

.kts-countdown .kts-countdown-cell {
	width: 12.5%;
}

.kts-countdown .kts-countdown-num {
	font-size: 1.6em;
	text-align: center;
}

.kts-countdown .kts-countdown-label {
	font-size: 0.9em;
	text-align: center;
}

.kts-countdown .kts-expired {
	color: #989898;
}

.kts-countdown .kts-dont-show {
	display: none;
}
