mixin schedulingDetails()
  .container-fluid(class="scheduling-detail-container mt-3")
    .row
      //- single week, non-edit mode
      .col-sm(class="subcontainer single-week non-editmode")
        .single-week-controls
          i(class="weekwcontrol-icon icon-previous icon-mirrored fas fa-play")
          button(class="weekcontrol-current") current
          i(class="weekwcontrol-icon icon-next fas fa-play")
          
        .single-week-label
                    
        .single-week-tip-container(class="mt-2")
          .single-week-tips
          
          .single-week-tip(class="template hide-me")
            .single-week-tip-controls
              input(class="tip-check form-check-input" type="checkbox" checked)

            .single-week-tip-content(class="ms-2") template

      //- single week, edit mode
      .col-sm(class="subcontainer single-week editmode")
        .single-week-controls
          i(class="weekwcontrol-icon icon-previous icon-mirrored fas fa-play")
          button(class="weekcontrol-current") current
          i(class="weekwcontrol-icon icon-next fas fa-play")
          
        .single-week-label

        .single-week-tip-container(class="mt-2")
          .single-week-tips
          
          .single-week-tip(class="template hide-me")
            .single-week-tip-controls(class="before-content")
              i(class="tip-icon icon-moveup fas fa-arrow-up pe-1")

            .single-week-tip-content(class="me-2")
              |content for tip

            .single-week-tip-controls(class="after-content")
              i(class="tip-icon icon-remove fas fa-times pe-1")

      //- full schedule, non-edit mode
      .col-sm(class="subcontainer full-schedule non-editmode")
        .form-check(class="form-switch")
          input(class="check-full-schedule form-check-input" type="checkbox" id="checkFullScheduleMode")
          label(class="form-check-label" for="checkFullScheduleMode") show full schedule 
        
        .full-schedule-weeks

        .full-schedule-week(class="template hide-me mb-2")
          .full-schedule-week-label
            
        .full-schedule-tip(class="template hide-me")
          .full-schedule-tip-controls
            input(class="tip-check form-check-input" type="checkbox")

          .full-schedule-tip-content(class="ms-2")

                
      //- full schedule, edit mode
      .col-sm(class="subcontainer full-schedule editmode")
        .form-check(class="form-switch")
          input(class="check-browse full-schedule form-check-input" type="checkbox" id="checkBrowseMode1")
          label(class="form-check-label" for="checkBrowseMode1") tip browsing           
        
        .full-schedule-weeks
        
        .full-schedule-week(class="template hide-me mb-2")
          .full-schedule-week-header
            .full-schedule-week-label
              
            .full-schedule-week-controls
              i(class="week-icon icon-insert far fa-plus-square pe-2" title="insert week after this one")
              i(class="week-icon icon-remove far fa-trash-alt pe-1" title="remove this week from schedule")
            
        .full-schedule-tip(class="template hide-me")
          .full-schedule-tip-content(class="ms-2")
        
      //- tip browsing, only for edit mode
      .col-sm(class="subcontainer tip-browsing editmode")
        .form-check(class="form-switch")
          input(class="check-browse tip-browsing form-check-input" type="checkbox" id="checkBrowseMode2")
          label(class="form-check-label" for="checkBrowseMode2") tip browsing      
        |tip browsing, edit mode
