mixin tipseditingMain()
  .container-fluid(class="tipsediting-main-container")
    .row
      .col-sm
        .form-floating
          input(type="text" class="input-search form-control" id="inputSearch" placeholder="search for tip")
          label(for="inputSearch") search

    .row
      .col-sm
        .tagselect-container
  
    .row
      .col-sm
        table(class="table table-striped table-hover table-sm")
          thead(class="tiplist-head table-primary")
            th(class="header header-controls" field-name="controls")
              i(class="tips-addtip far fa-plus-square" title="add new tip")
              
            th(class="header header-tip" field-name="tip")
              span(class="tips-headerlabel label-tip") tip

            th(class="header header-tags" field-name="tags")
              span(class="tips-headerlabel label-tags") tags   

            th(class="header header-usage" field-name="usage")
              span(class="tips-headerlabel label-usage") usage         
            
          tbody(class="tiplist-body")
          
    div(class="hide-me")
      table
        thead
        tbody
          tr(class="tiplist-templaterow")
            td(class="tiplist-controls")
              i(class="tiplist-edit far fa-edit" title="edit tip")
              i(class="tiplist-delete far fa-trash-alt" title="delete tip")
              
            td(class="tiplist-content")
            td(class="tiplist-tags")
            td(class="tiplist-usage")
