include ./mixins-tipsediting-main.pug
include ./mixins-tipsediting-edit.pug

mixin tipsEditingContainer()
  .row
    .col-sm
      +tipseditingMain()
      
  .row
    .col-sm
      +tipseditingEdit()
