mixin sharingContainer()
  .row
    .col-sm
      |share a schedule with others
      
  .row
    .col-sm
      .form-floating
        select(class="select-schedule form-select" id="selectSchedule" aria-label="select schedule to share")
        label(for="selectSchedule") schedule
        
    .col-sm
      .form-floating
        select(class="select-user form-select" id="selectUser" aria-label="select user to share with")
        label(for="selectUser") user to share with       

  .row
    .col-sm
      .form-floating
        input(type="text" class="text-comment form-control" id="floatingInput" placeholder="some comment text")
        label(for="floatingInput") comment

  .row
    .col-sm
      button(type="button" class="button-share btn btn-aardvark p-1" disabled) share

  .row(class="pending-shares-container hide-me")
  
  .row(class="pending-shares-label hide-me")
    .col-sm
      |schedules shared with you
      
  .row(class="pending-shares-template hide-me")
    .col-sm(class="controls")
      i(class="accept fas fa-file-import" title="accept shared schedule")
      i(class="remove fas fa-trash-alt" title="remove shared schedule")
    .col-sm(class="date-shared")
    .col-sm(class="shared-by")
    .col-sm(class="description")

    
      
