mixin daySlider(day)
  - var labelClassList = "switch switch-yes-no dayslider dayslider-" + day;
  label(class= labelClassList)
    input(class="switch-input" type="checkbox" slider-day= day)
    span(class="switch-label" data-on= day data-off= day)
    span(class="switch-handle")


mixin notificationContainer()
  .row
    .col-sm
      .form-check(class="form-switch")
        input(class="receive-share-notification form-check-input" type="checkbox" id="checkReceiveNotification")
        label(class="form-check-label" for="checkReceiveNotification") receive notification when a schedule is shared with you
        
  .row
    .col-sm
      |day(s) to send schedule reminder notifications

  .row(class="reminder-container")
  
  .row
    .col-sm(class="label-for-empty hide-me")
      |there are currently no schedules available

  .row(class="hide-me reminder-template")
    .col-sm(class="reminder-schedule")
    
    .col-sm(class="reminder-days")
      +daySlider("Sun")
      +daySlider("Mon")
      +daySlider("Tue")
      +daySlider("Wed")
      +daySlider("Thu")
      +daySlider("Fri")
      +daySlider("Sat")
