mixin sharingContainer()
  .row(class="mt-2")
    .col-sm
       .share-label(class="mb-1 p-1") share a schedule with someone
      
  .row
    .col-sm
      .form-floating(class="mb-1")
        select(class="select-schedule form-select" id="selectSchedule" aria-label="select schedule to share")
        label(for="selectSchedule") schedule
        
    .col-sm
      button(type="button" class="button-share btn btn-aardvark p-1" disabled) share

  .row
    .col-sm
      .form-floating(class="mb-1")
        select(class="select-user form-select" id="selectUser" aria-label="select user to share with")
        label(for="selectUser") share with       

  .row
    .col-sm
      .form-floating(class="mb-1")
        input(type="text" class="text-comment form-control" id="floatingInput" placeholder="some comment text")
        label(for="floatingInput") comment


  .row(class="pending-shares-container mt-3 hide-me")
    |psc
  
  .row(class="pending-shares-label hide-me")
    .col-sm
      .share-label(class="mb-1 p-1") schedules shared with you
          
  .row(class="pending-shares-table-container hide-me")
    .col-sm
      table(class="pending-shares-table table table-striped table-hover table-sm")
        thead(class="pending-shares-head table-primary")
          th(class="header header-controls" field-name="controls")
            
          th(class="header header-date" field-name="date")
            span(class="pendingshare-headerlabel label-date") date shared

          th(class="header header-sharedby" field-name="sharedby")
            span(class="pendingshare-headerlabel label-sharedby") shared by

          th(class="header header-description" field-name="description")
            span(class="pendingshare-headerlabel label-description") name and comment      
          
        tbody(class="pending-shares-body")
        
  div(class="hide-me")
    table
      thead
      tbody
        tr(class="pendingshare-templaterow")
          td(class="pendingshare-cell pendingshare-controls")
            i(class="pendingshare-icon accept fas fa-file-import p-1" title="accept shared schedule")
            i(class="pendingshare-icon remove fas fa-trash-alt" title="remove shared schedule")
          td(class="pendingshare-cell pendingshare-date")
          td(class="pendingshare-cell pendingshare-sharedby")
          td(class="pendingshare-cell pendingshare-description")
