include ./mixins-scheduling-select.pug
include ./mixins-scheduling-details.pug
include ./mixins-scheduling-configure.pug

mixin schedulingContainer()
  .row
    .col-sm
      +schedulingSelect()

  .row
    .col-sm
      +schedulingDetails()
      
  .row(class="hide-me")
    .col-sm
      +schedulingConfigure()