- var coursename = params.coursename
- var linkurl = params.letterURL
- var apcourse = params.ap
- var haspasswords = params.haspasswords
- var appolicyURL = "https://michiganvirtual.org/about/support/knowledge-base/advanced-placement-course-policy/"
- var gradingpolicyURL = "https://michiganvirtual.org/about/support/knowledge-base/michigan-virtual-grading-policy-and-expectations/"

include mailmessage-mixins.pug

doctype html
html(lang="en")
  head
    title welcome letter mail message
    meta(charset="utf-8")
          
  body
    div Hello,
    div Welcome to your role as a mentor for one or more students in 
      em: strong= coursename 
      |, provided by Michigan Virtual.
   
    div &nbsp;
    div
      |My name is Kevin Santer and I'm the instructor for the class. 
      |Your role is crucial in your student's success and I want to support you in any way possible. 
      |There is a lot of support information (both technical and related to this specific class) available online with the course 
      |and I encourage you to review it when you have the chance. 
      |I've also prepared this 
      a(href=linkurl target="_blank") welcome letter
      |&nbsp;touching on many of the important points for the course.
      
    div &nbsp;
    div Here are a few things to keep in mind as we start:
      ul
        if (apcourse == 1)
          li 
            |This course has firm due dates with late penalties, following Michigan Virtual's 
            a(href=appolicyURL target="_blank") AP Course Policy
            |. All students will follow the same pacing and have the same due dates.
            div &nbsp;

        else
          li 
            |You will receive routine notification of your student's progress through 
            |the course from me and through the Student Learning Portal. 
            |Please note this progress will be measured against the "typical" pacing 
            |for the course and is intended not as a grade but as 
            |a guideline to monitor student progress.
            div &nbsp;
            
          li
            |Details for grading policies can be found on our 
            a(href=gradingpolicyURL target="_blank") Grading Policy and Expectations
            |&nbsp; page
            div &nbsp;
        
        if (haspasswords == 1)
          li 
            |At least one exam in this course is password-protected. 
            |Please follow your school's policies for passwords and proctoring and 
            |avoid giving passwords directly to students when possible.
            div 
              |ASSIGNMENTNAME: PASSWORD 

        else
          li This course does not have any exam passwords.

    div
      |I welcome your emails, texts, or phone calls. 
      |Please contact me whenever you have questions or concerns.
      
    div &nbsp;
    +signature