//- -- COM  --------------------------
div(id="containerCOM" class="container cte-page")
  div(class="cte-item")
    h4 Collaboration of the Minds 2021
    h5 Save the dates: COM will be all-virtual again this year on Wed Aug 4 and Thu Aug 5
    ul
      li: span(style="color: #777; font-style: italic;") main COM site
      li: span(style="color: #777; font-style: italic;") CTE meeting - day 1 and 2 slides
      li: span(style="color: #777; font-style: italic;") CTE meeting - day 1 recording
      li: span(style="color: #777; font-style: italic;") CTE meeting - day 2 recording
  br

  div(class="cte-item")
    h4 Collaboration of the Minds 2020
    ul
      li: a(href="https://sites.google.com/mivu.org/com2020/home" target="_blank") main COM site
      li: a(href="https://bit.ly/COM2020-CTE" target="_blank") CTE meeting - day 1 and 2 slides
      li: a(href="https://michiganvirtual.zoom.us/rec/share/5sJ1JODyzl9LTJXGxUXAAbEIQajAaaa82ikX8vRYzkqhffSxsk7HKhyGl0_I8DnW" target="_blank") CTE meeting - day 1 recording, pwd: 73?r^=t5 
      li: a(href="https://michiganvirtual.zoom.us/rec/share/utUvD7vcrHFLTYnqy06BVJQLPtvaaaa813Ia_6JcxUnf7w9CsBgxmH_TPsKnAz_b" target="_blank") CTE meeting - day 2 recording, pwd: ypi.8=tB
  br

  div(class="cte-item")
    h4 Collaboration of the Minds 2019
    ul
      li: a(href="https://sites.google.com/mivu.org/com2019/home?authuser=0" target="_blank") main COM site
      li: a(href="https://drive.google.com/open?id=1ULXnw3ztB9JidwFmUWqyiQ0HbgyVvahXcb7oRniDJjU" target="_blank") CTE meeting - day 1 slides
      li: a(href="https://drive.google.com/open?id=1vhB0SQM28SEEay0W438L47k2k6C4XZqNpGklBWqMVVk" target="_blank") CTE meeting - day 2 slides
  br
  
  div(class="cte-item")
    h4 Collaboration of the Minds 2018
    ul
      li: a(href="https://drive.google.com/open?id=1qcBwfRMpBldtKl0v6dSG8RI8DAZT_Eq4CfyyOqOSAkE" target="_blank") Day 1
      li: a(href="https://drive.google.com/open?id=1JDmaVegQa6zT9hD2y7BsiJdpOfkUoZ-Z5ZnIw_MeRe8" target="_blank") Day 2
  br
  
  div(class="cte-item")
    h4 Collaboration of the Minds 2017
    ul
      li: a(href="https://goo.gl/XLU5oA" target="_blank") Slide deck for departmental meetings at COM
