//- -- department meetings  --------------------------
div(id="containerMeetings" class="container cte-page")
  h4 2022-2023 department meetings 
  div(class="cte-item")
    include cte-department-meetings-new

  h4 Byte-sized PD
  div(class="cte-item")
    div
      |This year we're offering "Byte-sized PD" sessions again, alternating monthly with meetings just for our department.
      br
      |Here's the 
      a(href="https://docs.google.com/document/d/1MamzNGtmWIy8SOi_vnoGjZhRKi1wKvD8ToSYZiv-PWQ/edit?usp=sharing" target="_blank") 2022-2023 schedule
      |&nbsp;of Byte-sized PD presentations and department meetings. 
    br
    div
      strong: em Remember: 
      |instructors are required to attend at least two meetings (department and/or PD) during the school year.

  h4 Suggestions?  Ideas to share?
  div(class="cte-item")
    div
      |Do you have an idea to share with the rest of the team?  How about a suggestion for a department meeting topic?
      br
      |I'd love to hear about it!  You can contact me at 
      a(href="mailto:ksanter@michiganvirtual.org" target="_blank") ksanter@michiganvirtual.org
      |&nbsp; or 734.999.0587, or you can use this 
      a(href="https://docs.google.com/forms/d/e/1FAIpQLSevkvKfAshi4he0ZG0UFrNRzzSfcmrcL7mBdOFQCR09QHEusw/viewform?usp=sf_link" target="_blank") Google Form.

  br
  
  h4 older department meetings         
  div(class="cte-item")
    include cte-department-meetings-old
