//- -- miscellaneous  --------------------------
div(id="containerMiscellaneous" class="container cte-page")
  h4 Other resources
  div(class="row")
    div(class="col-sm-6 miscellaneous cte-item")
      h5 Here's a set of 
        a(href="https://bit.ly/cte-handy-links", target="_blank") handy links
        |&nbsp;for Michigan Virtual and CTE topics

    div(class="col-sm-6 miscellaneous cte-item")
      h5 Interested in embedding a countdown time into your course, handling up to three deadlines?
      |Click on the example image to create your own
      a(href="https://ktsanter.github.io/countdown-generator/" target="_blank")
        img(class="countdown-snapshot" src="/images/cte-department/countdown_snapshot.png" alt="snapshot of countdown timer")
    
    div(class="col-sm-6 miscellaneous cte-item")
      h5 Would you like a tool for organizing and saving your feedback?
      div
        div
          img(class="cb-logo" src="/images/cte-department/cb_128_rounded.png" alt="CommentBuddy logo")
          a(href="https://chrome.google.com/webstore/detail/commentbuddy/fgbppdbigoekjfgnocicaekcphlkhgof?authuser=2" target="_blank") CommentBuddy
          |is a Chrome extension. It works off a spreadsheet where you’ve saved your favorite bits of feedback along with categories
        ul(class="cb-list")
          li It pops up directly in your browser
          li You can quickly search for and select a comment which is copied to the clipboard
          li You can immediately paste the comment in Blackboard, Gmail, etc.

    div(class="col-sm-6 miscellaneous cte-item")
      h5 Would you like a tool for managing student information?
      div
        div
          img(class="infodeck-logo" src="/images/cte-department/infodeck.jpg" alt="InfoDeck snapshot")
          a(href="https://chrome.google.com/webstore/detail/student-infodeck/boeopbggbaddapmhdeoggjlakphocokf" target="_blank") Student infoDeck 
          |is a Chrome extension. It works off a spreadsheet where you’ve saved student information
