//- -- home  --------------------------
div(id="containerHome" class="container cte-page")
  div(class="home-title") Welcome to the site of Michigan Virtual's CTE department
  div(class="home-disclaimer") Please note this site is not owned or operated by, nor representative of, Michigan Virtual
  
  +homeitem("btnMeeting", "department meetings", "containerMeetings", "the full schedule of department meetings and Byte-sized PD sessions as well as slide decks and recordings")
  //+homeitem("btnNewsletter", "department newsletters", "containerNewsletters", "current and past newsletters")
  +homeitem("btnCOM", "Collaboration of the Minds", "containerCOM", "information for yearly COM events, both current and past")
  +homeitem("btnRemind", "Remind for notifications", "containerRemind", "how to sign up for Remind to get departmental messaging and a list of recent messages")
  +homeitem("btnMiscellaneous", "other resources", "containerMiscellaneous", "links and tips for helpful resources")
  
