mixin deptmeeting_old(label, resourcelist)
  tr
    td= label
    td
      each resource in resourcelist
        a(href=resource.url, target="_blank")= resource.label
        br
    
table(class="table table-hover table-condensed")
  thead
    tr
      th Date/time
      th slides / resources
      
  tbody
    +deptmeeting_old("Byte-sized PD 2021-2022", [
      {label: "full schedule", url: "https://docs.google.com/document/d/1RYnVDmHR-aUjdAb0Mdg8Ku0hbddO1atBQ-RUuZGr-iw/edit?usp=sharing"}
    ])
    
    +deptmeeting_old("May 2022", [
      {label: "slides", url: "https://bit.ly/CTE-dept-2022-05"},
      {label: "recording (passcode: rfe@k1Ey!)", url: "https://michiganvirtual.zoom.us/rec/share/UkADgUD66P434WilE4v1Se5pDUi8PgGtOs0UjQTSddnP93ey-F6nG6rokhrB1OG5.gaT4ATiSjb0ikfH2?startTime=1651705223000"}
    ])

    +deptmeeting_old("Mar 2022", [
      {label: "slides", url: "https://bit.ly/CTE-dept-2022-03"},
      {label: "recording (passcode: +aBk2vz%)", url: "https://michiganvirtual.zoom.us/rec/share/Aqbbe3HDjDM3maHHA2Njal7BvYROzHMHF_LTHVAsxaZx5DE1_RUsFG2OUi1LaFMO.c3MkJK8surrTgHyw"}
    ])

    +deptmeeting_old("Jan 2022", [
      {label: "slides", url: "https://bit.ly/CTE-dept-2022-01"},
      {label: "recording (passcode: !eW7X8$T)", url: "https://michiganvirtual.zoom.us/rec/share/tEt6WGooVtFG-4hkcgfN2f1HeQT6cPWQDCaLcrF_cdj9W5977JuXgjbkcqXOys8l.fVNIzyDX3MhRFBMf"}
    ])

    +deptmeeting_old("Nov 2021", [
      {label: "slides", url: "https://bit.ly/CTE-dept-2021-11"},
      {label: "recording (passcode: @6m=27PH)", url: "https://michiganvirtual.zoom.us/rec/share/pW8yE4NIA0DEWpe0jpgBU11I0raLRkrl4FSg4G5BptM-pMQmSZ1imF4OeT7205AI.L7TFqVXv9eobRuPq"}
    ])

    +deptmeeting_old("Sep 2021", [
      {label: "slides", url: "https://bit.ly/CTE-dept-2021-09"},
      {label: "recording (passcode: $&1gKU%3)", url: "https://michiganvirtual.zoom.us/rec/share/hQEj4MKxusxjD4buqZN3q0Y2LLRNd9C89SyYz8iS5FP_yVJwe1WmHnTgROc4tjyC.BKU12FLH4d1RFQqd"}
    ])

    +deptmeeting_old("Byte-sized PD 2020-2021", [
      {label: "full schedule", url: "https://docs.google.com/document/d/1aP2OYF2txAXmgLBlm99vqUogzc6hfORDv5eY9ppHV4o/edit?usp=sharing"}
    ])
    
    +deptmeeting_old("May 2021", [
      {label: "slides", url: "http://bit.ly/CTE-deptmtg-2021-05"},
      {label: "recording (pwd: &r4=3Yd!)", url: "https://michiganvirtual.zoom.us/rec/share/1m7NYscJHx8oV9S0kGabPpFOuxIMD7Xq9vki363fRVlMbIG3MeV5rgOXW3c4Mme3.MDVVw9axbA84wmfC"}
    ])

    +deptmeeting_old("Mar 2021", [
      {label: "slides", url: "https://bit.ly/cte-2021-03"},
      {label: "recording (pwd: 31a3Y$QL)", url: "https://michiganvirtual.zoom.us/rec/share/tv1qw-oUr2Bd5S6i9zSJNNwbrvwKgTFidJz0zITNSK9yakCOKdgp5rF7nVhfSmW7.l5xgd1Q8r3N0lUz1?startTime=1615323852000"}
    ])

    +deptmeeting_old("Jan 2021", [
      {label: "slides", url: "https://bit.ly/cte-2021-01"},
      {label: "recording (pwd: ZWOxF.4#)", url: "https://michiganvirtual.zoom.us/rec/share/MmwoYebfeqz_tEGe0uCei_PTRVJ_l7gNOaNKj96sYX8fyZcJbnSqOWLRO5F0GA.wLYMRw5xqnIPOEKM"}
    ])

    +deptmeeting_old("Nov 2020", [
      {label: "slides", url: "https://bit.ly/cte-nov-2020"},
      {label: "recording (pwd: @C1y21y=)", url: "https://michiganvirtual.zoom.us/rec/share/Mqc3J_UDiggpNm5WnFWiuR1tOla2ilYSJmr_GtH6GyR3VF8AI0Haimvh8VFELmnM.8VTgb2mHOGDfMqYw"}
    ])

    +deptmeeting_old("Sep 2020", [
      {label: "slides", url: "https://bit.ly/cte-2020-09"},
      {label: "recording (pwd: c#Vz5vmL)", url: "https://michiganvirtual.zoom.us/rec/share/FGc7QDdiDJfPzrcqHyQb02j9ECeC2i3q0K7GedRYNGDYzKqqArLm3bnGAK0uwJLJ.vtDKRu4pCaNTJplr"}
    ])

    +deptmeeting_old("Byte-sized PD 2019-2020", [
      {label: "full schedule", url: "https://docs.google.com/document/d/1vnaFT9yNCRFXIYI2YFl36YACxILQ2OmkBg61liVLYw4/edit?usp=sharing"}
    ])

    +deptmeeting_old("May 2020", [
      {label: "slides", url: "https://michiganvirtual.zoom.us/my/ksanter"},
      {label: "recording (pwd: 6I&9*hYB)", url: "https://michiganvirtual.zoom.us/rec/share/_-NkKrX_q3tOZoXw6GTyU_UcA6H0T6a81yEW_qIPmU7n0KaNJj8Fora-OakZIrYP"}
    ])

    +deptmeeting_old("March 2020", [
      {label: "slides", url: "http://bit.ly/cte2020_03"},
      {label: "recording", url: "https://docs.google.com/document/d/1vnaFT9yNCRFXIYI2YFl36YACxILQ2OmkBg61liVLYw4/edit?usp=sharing"}
    ])

    +deptmeeting_old("January 2020", [
      {label: "slides", url: "https://drive.google.com/open?id=1ZES9ILA9NuJfS8Ekx4ctoNxnzOJhcg-7o41OP6d5GDc"},
      {label: "recording", url: "https://docs.google.com/document/d/1vnaFT9yNCRFXIYI2YFl36YACxILQ2OmkBg61liVLYw4/edit?usp=sharing"}
    ])

    +deptmeeting_old("November 2019", [
      {label: "slides", url: "https://drive.google.com/open?id=1VcanLqi66Bz4QDKmNGtJDXnSIhcWmsLmaNHREQ5FHvU"},
      {label: "recording", url: "https://docs.google.com/document/d/1vnaFT9yNCRFXIYI2YFl36YACxILQ2OmkBg61liVLYw4/edit?usp=sharing"}
    ])

    +deptmeeting_old("September 2019", [
      {label: "slides", url: "ttps://drive.google.com/open?id=1zFguP5mO3zUnOoeNPWtlLPvbaYnlB3KCjVsyC6j_5NU"},
      {label: "recording", url: "https://docs.google.com/document/d/1vnaFT9yNCRFXIYI2YFl36YACxILQ2OmkBg61liVLYw4/edit?usp=sharing"}
    ])

    +deptmeeting_old("Byte-sized PD 2018-2019", [
      {label: "full schedule", url: "https://drive.google.com/open?id=1KwY0uQojXZ80k_7Ex0IpKZsYYiVdjkw4C8gqlaooomU"}
    ])
        
    +deptmeeting_old("May 2019", [
      {label: "slides", url: "http://bit.ly/2KEmIsE"},
      {label: "recording", url: "https://michiganvirtual.zoom.us/recording/share/HIWM5oVksNmwKqUMBmYoaShcZrpBIO7mKNiWGW1VVr6wIumekTziMw?startTime=1557878452000"},
      {label: "ESR tutorial video", url: "https://www.youtube.com/watch?v=LV1tU6BHb6Y"},
      {label: "Michigan Virtual Extension Policy", url: "https://michiganvirtual.org/about/support/knowledge-base/extension-policy-and-form/"},
      {label: "email regarding dual-enrollment teaching opportunity", url: "https://drive.google.com/open?id=18LL6WiP-00zzuuIibvb55-GeBnViNKdo"}
    ])

    +deptmeeting_old("Mar 2019", [
      {label: "slides", url: "http://bit.ly/2nmQhGb"},
      {label: "recording", url: "https://michiganvirtual.zoom.us/recording/share/fn0z1SAIt6Jb1TUqgH-a_u8R_Dmduf596Z-Ojvqz4pKwIumekTziMw?startTime=1552593685000"},
      {label: "what are you currently doing?", url: "https://drive.google.com/open?id=1JFEb0RULB6O0_HLsfy0AdW_ELALlmeh00Dx9-GA5xMc"},
      {label: "what would you like to do?", url: "https://drive.google.com/open?id=1IENMjQU9Qjhxj3XOLBSW9cd6hCxPv66MhBLdzmxXi5g"},
      {label: "2 degree change", url: "https://drive.google.com/open?id=1TM_K16PkqyNYv9YI-vXlmi33vsA_mtYfPhG-tUoZngs"},
      {label: "Google Slides announcements and a Table of Contents", url: "https://drive.google.com/open?id=1meT0v3wP7Y3O-GHXaEEg5tg0G1swhGQtnotZY-SY978"},
    ])

    +deptmeeting_old("Jan 2019", [
      {label: "slides", url: "http://bit.ly/2MtbHw7"},
      {label: "recording", url: "ttps://michiganvirtual.zoom.us/recording/play/iFFTW0W7uFaWxTMAIDeQ_aWJKbdJ26CJVTCkRJZVlQTz5Qi8osDKWfDVNIkv9qML?continueMode=true"},
      {label: "sending student welcome letters", url: "https://www.youtube.com/watch?v=16VmezdEpjw"},
      {label: "sending mentor welcome letters", url: "https://www.youtube.com/watch?v=-1RIve3C8W0"}
    ])

    +deptmeeting_old("Nov 2018", [
      {label: "slides", url: "http://bit.ly/2MxNrcr"},
      {label: "recording", url: "https://michiganvirtual.zoom.us/recording/share/wm6KmD0Akfd2-SHYoeWKypnB0O0ccBEGXO5zZtu02G6wIumekTziMw"},
    ])

    +deptmeeting_old("Sep 2018", [
      {label: "slides", url: "http://bit.ly/2vTmdWv"},
      {label: "recording", url: "https://michiganvirtual.zoom.us/recording/share/8l4pqOegSuV0ZTANnfdN7Q9pFsg2cyeFeZCbOVs_WVY?startTime=1536710562000"}
    ])

    +deptmeeting_old("May 2018", [
      {label: "slides", url: "https://drive.google.com/open?id=1Nol4aR-0AXUJu-AZHnmz9q1I0pQgwJ43-nH5fp30b7E"}
    ])

    +deptmeeting_old("Apr 2018", [
      {label: "slides", url: "https://drive.google.com/open?id=1QaqbPFw-QmCIgntoMCxzkjbYSsnMAjYy0Ykt5vRpn6Y"}
    ])

    +deptmeeting_old("Feb 2018", [
      {label: "slides", url: "https://drive.google.com/open?id=1r37i2FCfjm45u6s9eaikznb5qzdDUE3OYiMDPAkRd64"}
    ])

    +deptmeeting_old("Jan 2018", [
      {label: "slides", url: "https://drive.google.com/open?id=14mo9Kz9pcikCjuZcremxAKtT40Mmd9ZDPUu9ckFHnAw"}
    ])

    +deptmeeting_old("Nov 2017", [
      {label: "slides", url: "https://drive.google.com/open?id=1gAcVEf17Bmggyaa3MfWmzpLsjrXYY0Mkh3ZoLG0w0JI"}
    ])

    +deptmeeting_old("Oct 2017", [
      {label: "slides", url: "https://drive.google.com/open?id=1d6NPNP4YqBTgwRasu0RHqxXvik0ZzBSutr7J_Q5qjDg"}
    ])

    +deptmeeting_old("Sep 2017", [
      {label: "slides", url: "https://drive.google.com/open?id=16yfRr5IY_ejUzeiZyvlegIaGSYlrihQACAAQ9BT8Op4"}
    ])
