//- -- Remind  --------------------------
div(id="containerRemind" class="container cte-page")
  h4 Sign up for 
    strong: em Remind 
    |if you're interested in getting notices, meeting reminders, etc.
  |You can do that here or by using the mobile app.  The class code is 
  em @bg3ff7
  
  br
  br
  
  div(class="cte-item")
    iframe(class="remind" src="/cte-department/remind")
