mixin newsletter(label, url)
  tr
    td= label
    td
      if (url == "tbd")
        span: em tbd
      else
        a(href=url, target="_blank") newsletter
    
//- -- department newsletters  --------------------------
div(id="containerNewsletters" class="container cte-page")
  h4 2020-2021 department newsletters 
  div(class="cte-item")
    table(class="table table-hover table-condensed")
      thead
        tr
          th date
          th link
          
      tbody
        +newsletter(
          "2020 October", 
          "https://docs.google.com/presentation/d/1Mkncw4pxSC6JpGQcf7hXsPb6WrjCh-zlAegAoXdMP6s/edit?usp=sharing"
        )

        +newsletter(
          "2020 December", 
          "https://docs.google.com/document/d/1Zc6o59IVEyLYgNm0KM2wMNzVGkn47EnWicBia_lwfXM/edit?usp=sharing"
        )

        +newsletter(
          "2020 February", 
          "n/a"
        )

        +newsletter(
          "2020 April", 
          "tbd"
        )

        +newsletter(
          "2021 June", 
          "tbd"
        )

  
  br
  
  h4 older newsletters         
  div(class="cte-item")
    table(class="table table-hover table-condensed")
      thead
        tr
          th date
          th link
          
      tbody        
        +newsletter(
          "2020 June", 
          "https://www.canva.com/design/DAD-yEBH21w/g--q9oWrxIBtF-opNK9BLA/view?utm_content=DAD-yEBH21w&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton"
        )

        +newsletter(
          "2020 April", 
          "https://www.smore.com/cx5dj"
        )
