doctype html
html(lang="en")
  head
    title about me
    meta(charset="utf-8")
    
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css", integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay", crossorigin="anonymous")    

    style
      include ../../common/styles/colorscheme.css
      include ../styles/aboutme.css
    
    script(data-main="/scripts/aboutme/require_aboutme", src="/scripts/require.js")    
      
    body(class="instructortips-colorscheme")
      .title 
        .title-text About Mr. Santer

      .contents
        .section()
          .section-contents
            |I'm Kevin Santer and I'll be your instructor for this course. 
            |I'm eager to get to know you, and to help along the way.
            br
            strong Remember - this isn't an independent study course!   
            |I'm a real live teacher and I want to do whatever I can 
            |to help you succeed in this class.
          
        .section()
          .section-title contacting me
          .section-contents
            |You have many options for getting in touch with me and 
            |I encourage you to use one or more of them:
            ul
              li the Student Learning Portal (SLP), using the Messaging tab
              li email: 
                strong ksanter@michiganvirtual.org
              li voice/text: 
                strong 734.999.0587 
                |- this number is just for my students.
              li video conferencing (Zoom) - you can schedule a time to meet using this tool: 
                a(href="https://calendly.com/ksanter/discussion-based-assessment" target="_blank") Mr. Santer's Calendly 
            |If another method or tool would work better for you, just let me know.
          
        .section()
          .section-title some of my background
          .section-contents
            |After an enjoyable and rewarding career in software development I went back to school and became a teacher. 
            |I taught high school math and computer science for ten years, covering most of the high school curriculum 
            |from Algebra 1 and Intro to Java through AP Calc, Stats, and Computer Science.
            |I became a full time online teacher in 2017. 
            br
            br
            |While it's probably obvious I like math and technology, 
            |I have other passions too. I love to read - fiction of all kinds. I like to cook and enjoy all kinds of food. 
            |I'm married and have a young adult son. My family enjoys bicycling, hiking, and traveling.
          
        .section()
          iframe(class="flipperframe" width="650" height="500" scrolling="no" style="overflow-y: hidden; border: none;")