include help_mixins.pug

doctype html
html
  head
    title InstructorTips help - other
    meta(charset="utf-8")
    style
      include ../styles/colorscheme.css
      include ../styles/help/help_subpage.css
      
  body(class="instructortips-colorscheme")
    - var helpText = "help"
    - var signoutText = "sign out"
    
    div(class="instructortips-help other")
      +anchorLink("top")  
      div(class="section-contents") 
        div(class="subsection-contents")
          |You can use the "hamburger" item on the navigation bar to use other features.
        div(class="subsection-contents")
          +snapshot("navbar_other_001.png", 160)  
      
      ul
        +inpageLinkItem("#help", helpText)
        +inpageLinkItem("#other", signoutText)

      +sectionHead("help", helpText)
      div(class="section-contents") 
        div(class="subsection-contents")
          |The 
          em help 
          |option opens up this help tool (but you probably already know that... 😁)        

      +sectionHead("signout", signoutText)
      div(class="section-contents") 
        div(class="subsection-contents") TBD 
          |The 
          em sign out 
          |option logs you out of InstructorTips
          |and routes you to the sign in page.
        div(class="subsection-contents")
          +snapshot("login_001.png", 200)  
